-cron_status = @story_type.cron_tab.enabled

.row.mb-2.font-weight-bold
  .col-12
    cron tab
    %span{ class: "text-#{cron_status ? 'success' : 'danger'}" }
      =icon('fas', 'circle')
    =link_to('[ edit ]', edit_story_type_cron_tab_path(@story_type, @story_type.cron_tab),
             class: 'd-inline-block ml-4', remote: true)

-if cron_status
  .row
    .col-12
      .font-weight-bold.d-inline-block
        execute:
      #current_cron_description.d-inline-block
        #{@story_type.cron_tab.pattern}
      %br/
      -population_params = @story_type.cron_tab.population_params
      -if population_params.present?
        .font-weight-bold.d-inline-block
          population parameters:
        .d-inline-block
          #{population_params}

  :javascript
    (() => {
      let description = document.getElementById('current_cron_description')
      description.innerText = cronstrue.toString(description.innerText);
    }).call();
