-status = @factoid_type.status

.current_progress_status
  -if %w[blocked archived].include?(status.name)
    .small.d-inline-block
      =@factoid_type.status_comment.body

  =link_to(status.name, '#', class: "badge badge-pill badge-#{status_color(status.name)}")

.change_progress_status_form.d-none
  =form_with(url: change_factoid_type_progress_statuses_path(@factoid_type, @iteration),
             html: { id: 'progress_status', class: 'd-inline' }, method: :patch) do |form|
    =form.collection_select :status_id, Status.hle_statuses(archived: current_account.manager? || current_account.content_manager?), :id, :name, { prompt: '' }, selected: status.id

:javascript
  document.querySelector('.current_progress_status a').addEventListener('click', function (evt) {
    evt.preventDefault();
    evt.target.parentNode.classList.add('d-none');
    document.getElementsByClassName('change_progress_status_form')[0].classList.remove('d-none');
    return false;
  })
