.properties-form
  #changeDataSet_template.row.small
    .col-1
    .col-11
      .row.font-weight-bold
        .col-4.pl-0
          data set
        .col-4
          kind
        .col-4
          description
      .row
        .col-4.change-ds-form.pl-0
          =render 'change_data_set'
        .col-4.pl-0
          =form_with(html: { onchange: "loadDescriptions(this);" }) do |form|
            =form.select :kind, %w[Person Organization Geo], prompt: 'Select Kind', selected: @article_type&.topic&.kind
        .col-4.pl-0
          =form_with(html: { onchange: "changeTopic(this);" }) do |form|
            -if @article_type.topic
              =form.select :description, Topic.where(kind: @article_type.topic.kind).pluck(:description), selected: @article_type&.topic&.description || 'Please select kind'
            -else
              =form.select :description, ['Select the Description']
  %hr.mt-2/

  #sources.row.small
    .col-1
    .col-11
      .row.font-weight-bold
        .col-4.pl-0
          source type
        .col-4
          source name
        .col-4
          source link
      =form_with(model: @article_type) do |form|
        .row
          .col-4.pl-0
            =form.text_field :source_type, placeholder: 'new source_type'
          .col-4.pl-0
            =form.text_field :source_name, placeholder: 'new source_name'
          .col-4.pl-0
            =form.text_field :source_link, placeholder: 'new source_link'
            =form.submit :save

:javascript
  function loadDescriptions(elem){
    var selected_kind = $('option:selected', elem).val();

    Rails.ajax({
      type: 'GET',
      dataType: 'script',
      url: `#{get_descriptions_article_type_topics_path(@article_type.id)}`,
      data: `kind=${selected_kind}`
    });
  }

  function changeTopic(elem){
    var selected_desc = $('option:selected', elem).val();

    Rails.ajax({
      type: 'PATCH',
      dataType: 'script',
      url: `${window.location.origin}/article_types/#{@article_type.id}/topics/${selected_desc}/change`
    });
  }
