.properties-form
  #changeDataSet_template.row.small
    .col-1
    .col-11
      .row.font-weight-bold
        .col-6.pl-0
          data set
        .col-6
          =@article_type.topic.kind
      .row
        .col-6.change-ds-form.pl-0
          =render 'change_data_set'