.row
  .col-10.offset-1
    =@article_type.template.body.html_safe
%hr.mb-2/

-if (current_account.types & %w[manager editor]).any?
  .row
    .col-1.offset-11.p-0{id: "article_type_#{@article_type.id}_template"}
      =button_to('Edit', edit_article_type_template_path(@article_type, @article_type.template), method: :get, remote: true)
