#data_set_info
  .row.card-body
    .col-6
      .card.small
        .card-header.p-2
          data
        .card-body
          .row.mb-2
            .col-2.pr-0.text-right
              location:
            .col-10
              #{data_set.location}
          .row.mb-2
            .col-2.pr-0.text-right
              channel:
            .col-10
              #{data_set.location}
          .row.mb-2
            .col-2.pr-0.text-right
              sheriff(s):
            .col-10
              -data_set.sheriffs.each do |s|
                =s.name
                %br/
          .row
            .col-2.pr-0.text-right
              comment:
            .col-10
              #{data_set.comment}

    -unless action_name.eql?('properties')
      .col-6
        .card.small
          .card-header.p-2
            default properties:
          .card-body
            .row.pb-2
              .col-6.font-weight-bold
                photobucket:
              .col-6
                #photobucket
                  -if data_set.photo_bucket
                    =render 'default_properties/photo_bucket', photo_bucket: data_set.photo_bucket
                  -else
                    =render 'default_properties/photo_bucket_form'
            .row.font-weight-bold
              .col-6
                client:
              .col-6
                tag:
            #default_properties
              -unless data_set.client_tags.nil?
                -data_set.client_tags.each do |client_tag|
                  =render 'default_properties/client_tags', client_tag: client_tag
            .p
              =render 'default_properties/client_form'
