#data_set_info
  .row.card-body
    .col-6
      .card.small
        .card-header.p-2
          data
        .card-body
          .row.mb-2
            .col-4.pr-0.text-right.font-weight-bold
              location:
            .col-8
              =@data_set.location
          .row.mb-2
            .col-4.pr-0.text-right.font-weight-bold
              preparation document
            .col-8
              =@data_set.preparation_doc
          .row.mb-2
            .col-4.pr-0.text-right.font-weight-bold
              slack channel:
            .col-8
              =@data_set.slack_channel
          .row.mb-2
            .col-4.pr-0.text-right.font-weight-bold
              sheriff:
            .col-8
              =@data_set.sheriff&.name
          .row
            .col-4.pr-0.text-right.font-weight-bold
              comment:
            .col-8
              =@data_set.comment

    .col-6
      .card.small
        .card-header.p-2
          default properties:
        .card-body
          .row.pb-2
            .col-3.text-right.font-weight-bold
              photo bucket:
            .col-9
              =@data_set.photo_bucket&.name
          .row
            .col-3.text-right.font-weight-bold
              client (tag):
            .col-9
              -@data_set.client_tags.each do |row|
                ="#{row.client.name} (#{row.tag.name})"
                %br/

