=form_with(url: data_sets_path, method: :get, local: true,
           html: { onchange: 'this.submit();' }) do |form|
  =form.label 'filter[evaluated]', :evaluate
  =form.select 'filter[evaluated]', [['evaluated', 1], ['not evaluated', 0]], prompt: ''

  -if params[:filter]
    #filter_state.d-inline-block.pl-2
      =params[:filter][:evaluated].eql?('1') ? 'evaluated' : 'not evaluated'
      =link_to(icon('fas', 'times', class: 'text-dark'), data_sets_path)
