%hr/
.card.card-body
  =form_with(model: @data_set, local: action_name != 'edit') do |form|
    .row
      .col-6
        =form.text_field :name, placeholder: 'name', class: 'mb-1 form-control form-control-sm', required: true
        %hr/
    .row
      .col-6
        =form.label :data_set, 'data:', class: 'small'
        =form.text_field :location, placeholder: 'location', class: 'mb-1 form-control form-control-sm'
        =form.text_field :sheriffs_doc, placeholder: "sheriff's document", class: 'mb-1 form-control form-control-sm'

    .row.mt-4
      .col-6
        =form.text_area :comment, placeholder: 'comment', class: 'mb-1 form-control form-control-sm'

    =form.submit @data_set.new_record? ? 'Add' : 'Update',
                 class: 'btn btn-sm btn-outline-dark mt-2', data: { disable_with: "..." }
    =link_to 'cancel', :back, class: 'btn btn-sm btn-outline-dark mt-2'

=render 'set_frequency'
