%hr/
.card.card-body
  =form_with(model: @data_set, local: true) do |form|
    .row
      .col-6
        =form.text_field :name, placeholder: 'name', class: 'mb-1 form-control form-control-sm', required: true
    %hr/

    .row
      .col-6.border-right
        =form.label :data_set, 'data:', class: 'small'
        =form.text_field :location, placeholder: 'location', class: 'mb-1 form-control form-control-sm'
        =form.text_field :preparation_doc, placeholder: "preparation document", class: 'mb-1 form-control form-control-sm'
        =form.text_field :slack_channel, placeholder: "slack_channel", class: 'mb-1 form-control form-control-sm'
        .sheriff
          .select_placeholder.text-secondary.form-control.form-control-sm.border-right-0{ 'data-text' => 'sheriff: ' }
          =form.collection_select :sheriff_id, Account.all.sort_by(&:name), :id, :name,
                                  { include_blank: true }, { class: 'mb-1 form-control form-control-sm' }
        .state
          .select_placeholder.text-secondary.form-control.form-control-sm.border-right-0{ 'data-text' => 'state: ' }
          =form.collection_select :state_id, State.all, :id, :name,
                                  { include_blank: true }, { class: 'form-control form-control-sm' }

        =form.text_area :comment, placeholder: 'comment', class: 'mb-1 mt-3 form-control form-control-sm'

      .col-6
        =form.label :data_set, 'default properties:', class: 'small'
        .photo_bucket
          .select_placeholder.text-secondary.form-control.form-control-sm.border-right-0{ 'data-text' => 'photo bucket: ' }
          =form.collection_select :photo_bucket_id, PhotoBucket.all.sort_by(&:name), :id, :name,
                                  { include_blank: true, selected: @data_set.new_record? ? false : @data_set.photo_bucket&.id },
                                  { name: 'default_props[photo_bucket_id]', class: 'form-control form-control-sm' }
        .text-secondary.small.mt-2.mb-2
          =link_to('[add client/tag]', '#', id: 'add_client', class: 'badge badge-pill badge-light text-secondary')
        #clients_tags
          -if @data_set.persisted?
            -@data_set.client_tags.each do |row|
              -u_id = SecureRandom.hex(3)
              .row.mb-1{ id: u_id }
                .col-5.pr-1
                  =form.collection_select :client_id, Client.where(hidden: false).sort_by(&:name), :id, :name,
                                          { include_blank: true, selected: row.client.id },
                                          { id: "data_set_default_#{u_id}_client_id", name: "default_props[client_tag_ids[#{u_id}[client_id]]]", class: 'form-control form-control-sm clients_select', required: true }
                .col-6.pl-1.pr-1
                  =form.collection_select :tag_id, row.client.tags.sort_by(&:name), :id, :name,
                                          { include_blank: true, selected: row.tag.id },
                                          { id: "data_set_default_#{u_id}_tag_id", name: "default_props[client_tag_ids[#{u_id}[tag_id]]]", class: 'form-control form-control-sm tags_select', required: true }
                .col-1.pl-1.my-auto
                  %strong.remove_x
                    x
    %hr.mb-2/
    .text-center
      =form.submit @data_set.new_record? ? 'create' : 'update',
                   class: 'btn btn-sm btn-outline-dark mt-2', data: { disable_with: "..." }
      -if @data_set.new_record?
        =link_to('cancel', '#data_set_form', 'aria-controls' => 'data_set_form',
             'aria-expanded' => false, data: { toggle: "collapse", target: "#data_set_form" },
             type: "button", id: '#crt_upd_data_set_btn', class: 'btn btn-sm btn-outline-dark mt-2')
      -else
        =link_to 'cancel', data_set_path(@data_set), class: 'btn btn-sm btn-outline-dark mt-2'

=javascript_pack_tag 'data_sets/form'
