%hr/  =form.label :range
  =form.text_field :range
.card.card-body
  =form_with(model: @data_set, local: action_name != 'edit') do |form|
    .row
      .col-6
        =form.text_field :name, placeholder: 'name', class: 'mb-1 form-control form-control-sm', required: true
        %hr/
    .row
      .col-6
        =form.label :source, 'source:', class: 'small'
        -src_keys.each do |field|
          =form.text_field field[0], placeholder: field[1], class: 'mb-1 form-control form-control-sm'
        .frequency
          .placeholder.text-secondary.w-75.form-control.form-control-sm.border-right-0.text{ 'data-text' => 'release frequency: ' }
          =form.text_field :src_release_frequency_manual, placeholder: 'release frequency...', class: 'd-none mb-1 form-control form-control-sm', disabled: true
          =form.collection_select :src_release_frequency_id, Frequency.all, :id, :name, {}, class: 'mb-1 form-control form-control-sm'
        .frequency
          .placeholder.text-secondary.w-75.form-control.form-control-sm.border-right-0{ 'data-text' => 'scrape frequency: ' }
          =form.text_field :src_scrape_frequency_manual, placeholder: 'scrape frequency...', class: 'd-none disabled mb-1 form-control form-control-sm', disabled: true
          =form.collection_select :src_scrape_frequency_id, Frequency.all, :id, :name, {}, class: 'mb-1 form-control form-control-sm'

        .small
          on cron? #{form.check_box :cron_scraping}
      .col-6
        =form.label :data_set, 'data:', class: 'small'
        -data_set_keys.each do |field|
          =form.text_field field[0], placeholder: field[1], class: 'mb-1 form-control form-control-sm'

    .row.mt-4
      .col-6
        =form.label :additional_information, 'additional info:', class: 'small'
        =form.text_field :gather_task, placeholder: 'gather task', class: 'mb-1 form-control form-control-sm'
        =form.text_field :scrape_developer, placeholder: 'scrape developer', class: 'mb-1 form-control form-control-sm'
        =form.text_area :comment, placeholder: 'comment', class: 'mb-1 form-control form-control-sm'
    =form.submit @data_set.new_record? ? 'Add' : 'Update',
                 class: 'btn btn-sm btn-outline-dark mt-2', data: { disable_with: "..." }
    =link_to 'cancel', :back, class: 'btn btn-sm btn-outline-dark mt-2'

=render 'set_frequency'
