#storyTypePropertiesForm.modal.fade{ story_type_id: @story_type.id, "aria-hidden" => "true", "aria-labelledby" => "storyTypePropertiesForm", role: "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-scrollable.modal-xl
    .modal-content
      .modal-header
        %h5.modal-title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .properties-form

        %hr/

        .load-publications-button
          .row
            .col-1
            .col-4.pl-0.small
              =button_to('load publications/opportunities', story_type_opportunities_path(@story_type), remote: true)


        .properties-pubs-opportunities.d-none
          %hr/

          .header
            .row.font-weight-bold.small
              .col-1
              .col-2.pl-0
                publication
              .col-2
                agency
              .col-3
                opportunity
              .col-2
                opportunity type
              .col-2
                content type
          .list

        .loadingSpinner.d-none
          .row
            .col-10.offset-1
              .spinner-border.spinner-border-sm.text-secondary
                %span.sr-only
      .modal-footer
