.row.small
  .col-12.text-center
    =form_with(url: data_set_path(@data_set), method: :get, local: true, html: { class: 'd-inline' }) do |form|
      =form.label :editor
      =form.collection_select 'filter[editor]', @data_set.story_types.map(&:editor).uniq, :id, :name, prompt: ''
      =form.label :developer
      =form.collection_select 'filter[developer]',
                              @data_set.story_types.where.not(developer: nil).map(&:developer).uniq, :id, :name, prompt: ''
      =form.label :client
      =form.collection_select 'filter[client]', @data_set.story_types.map(&:clients).flatten.uniq, :id, :name, prompt: ''
      =form.label :frequency
      =form.collection_select 'filter[frequency]', Frequency.where.not(name: 'manual input'), :id, :name, prompt: ''
      =form.label :dev_status
      =form.select 'filter[dev_status]', dev_statuses, prompt: ''
      =form.submit 'Find', class: 'ml-3'
    =button_to('Reset', data_set_path(@data_set), form: { class: 'd-inline' }, method: :get)
