.row.mt-3
  #show_new_data_set_form.col-4.offset-8.text-right
    =link_to('add a new data set', new_data_set_path, class: 'btn btn-sm btn-outline-dark', remote: true)

#new_data_set_form.collapse
%hr/

#data_sets
  -@data_sets.sort_by { |ds| ds.name.downcase }.each do |dl|
    .row
      %small.col-5
        =link_to(dl.name, data_set_path(dl))
      %small.col-6
        =dl.location
      %small.col-1
        =dl.story_types.count
    %hr/
