%section#new-data-location
  =link_to('Add a new Data Set', new_data_set_path)
  %br/
  =render 'data_sets/filter'
%hr/

%section#data-location
  - @data_sets.each do |dl|
    .row
      %small.col-3
        =dl.source_name
      %small.col-3
        =domain_name(dl.scrape_source)
      %small.col-3
        =dl.data_set_location
      %small.col-1
        =dl.data_set_evaluation_document.present? ? 'evaluated' : ''
      .col-1
        =link_to('show', data_set_path(dl), class: 'd-loc-show-icon img')
      .col-1
    %hr/
