%hr/

.row
  #evaluate_filter.col-8
    =render 'data_sets/filter'
  #show_new_data_set_form.col-4.text-right
    =link_to('Add a new Data Set', new_data_set_path, class: 'btn btn-sm btn-outline-dark', remote: true)

#new_data_set_form.collapse
%hr/

#data_sets
  -@data_sets.sort_by { |ds| ds.name.downcase }.each do |dl|
    .row
      %small.col-4
        =link_to(dl.name, data_set_path(dl))
      %small.col-3
        =domain_name(dl.src_address)
      %small.col-4
        =dl.location
      %small.col-2
        =dl.evaluated ? 'evaluated' : ''
    %hr/
