%hr/

.row
  #evaluate_filter.col-9
    =render 'data_sets/filter'
  #show_new_data_set_form.col-3
    =link_to('Add a new Data Set', new_data_set_path, class: 'btn btn-sm btn-outline-dark', remote: true)

#new_data_set_form.collapse
%hr/

#data_sets
  - @data_sets.each do |dl|
    .row
      %small.col-3
        =dl.name
      %small.col-3
        =domain_name(dl.src_address)
      %small.col-3
        =dl.location
      %small.col-1
        =dl.evaluated ? 'evaluated' : ''
      .col-1
        =link_to('show', data_set_path(dl), class: 'd-loc-show-icon img')
      .col-1
    %hr/


-#     =link_to('Add a new Data Set', '#new_data_set_form', 'aria-controls' => 'new_data_set_form',
-#              'aria-expanded' => false, data: { toggle: "collapse", target: "#new_data_set_form" },
-#              type: "button", class: 'btn btn-sm btn-outline-dark')
-# #new_data_set_form.collapse
-#   %hr/
-#   .card.card-body
-#     =render 'form'
-# %hr/
