.row.mt-3
  #total.col-8
    Total:
    =@data_sets_grid.assets.total_count

  #additional_menu.col-4.text-right
    =link_to('download in CSV', url_for(format: 'csv', data_sets_grid: params[:data_sets_grid]),
             type: "button", id: '#save_as_csv_btn', class: 'btn btn-sm btn-outline-dark')
    =link_to('filter datasets', '#filter_form', 'aria-controls' => 'filter_form',
             'aria-expanded' => false, data: { toggle: "collapse", target: "#filter_form" },
             type: "button", id: '#crt_upd_filter_btn', class: 'btn btn-sm btn-outline-dark')
    =link_to('add a new data set', '#dataSetForm', 'aria-controls' => 'data_set_form',
             'aria-expanded' => false, data: { toggle: "collapse", target: "#dataSetForm" },
             type: "button", id: '#crt_upd_data_set_btn', class: 'btn btn-sm btn-outline-dark')

#dataSetForm.collapse
  .mt-4
  =render 'form'

#filter_form.collapse
  =datagrid_form_for @data_sets_grid, url: data_sets_path

.row.mt-3.col-12
  #data_sets
    #grid_wrapper
      =datagrid_table(@data_sets_grid)

.row.mt-3.col-12
  #pagination
    =paginate @data_sets_grid.assets
