.row.mt-3
  #show_new_data_set_form.col-4.offset-8.text-right
    =link_to('add a new Data Set', '#new_data_set_form', 'aria-controls' => 'new_data_set_form',
             'aria-expanded' => false, data: { toggle: "collapse", target: "#new_data_set_form" },
             type: "button", class: 'btn btn-sm btn-outline-dark')


#new_data_set_form.collapse
  =render 'form'
%hr/

#data_sets
  -@data_sets.sort_by { |ds| ds.name.downcase }.each do |dl|
    .row
      %small.col-5
        =link_to(dl.name, data_set_path(dl))
      %small.col-6
        =dl.location
      %small.col-1
        =dl.story_types.count
    %hr/
