%section#data-location
  %a{ href: edit_data_set_path(@data_set),
      style: 'text-decoration: none; color: black;' }
    -data_set_keys.each do |key|
      .row
        .col-4
          =key.to_s.humanize
        .col-8
          -if key.eql?(:cron_scraping)
            =@data_set[key].eql?(1) ? true : false
          -else
            =@data_set[key]

%section#filter
  %hr
  =render 'story_types/filter'
  %hr
%section#story_types
  .row
    .col-1.text-center
      ROW
    .col-11
      NAME
  =render @story_types
