%section#data_set_info
  %a{ href: edit_data_set_path(@data_set),
      style: 'text-decoration: none; color: black;' }
    -data_set_keys.each do |key|
      .row
        .col-4
          =key.to_s.humanize
        .col-8
          -if key.eql?(:cron_scraping)
            =@data_set[key].eql?(1) ? true : false
          -else
            =@data_set[key]
%hr/

%section#story_types_filter
  =render 'story_types/filter'
%hr/

%section#new_story_type
  .row
    .col-7.offset-1
      =link_to('New Story Type',
               new_data_set_story_type_path(@data_set),
               class: 'btn btn-sm btn-outline-dark',
               remote: true)
%hr/

%section#story_types
  .row.small.text-center
    .col-1 #
    .col-6.text-left name
    .col-1 template
    .col-1 properties
    .col-1 last export
    .col-2 developer
  %hr/
  %hr/
  =render @data_set.story_types

#template.modal.fade.template-modal-lg{ "aria-hidden" => "true", "aria-labelledby" => "template",
                                        role: "dialog", tabindex: "-1", 'data-backdrop' => 'static' }
  .modal-dialog.modal-dialog-centered.modal-lg
    .modal-content
      .modal-header
        %h5.modal-title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body

#properties.modal.fade.properties-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "properties", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered.modal-lg
    .modal-content
      .modal-header
        %h5.modal-title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
