%section#data_set_info
  %a{ href: edit_data_set_path(@data_set),
      style: 'text-decoration: none; color: black;' }
    -data_set_keys.each do |key|
      .row
        .col-4
          =key.to_s.humanize
        .col-8
          -if key.eql?(:cron_scraping)
            =@data_set[key].eql?(1) ? true : false
          -else
            =@data_set[key]
%hr/

%section#story_types_filter
  =render 'story_types/filter'
%hr/

%section#new_story_type
  .row
    .col-7.offset-1
      =link_to('New Story Type',
               new_data_set_story_type_path(@data_set),
               class: 'btn btn-sm btn-outline-dark',
               remote: true)
%hr/

%section#story_types
  .row.text-center
    .col-1
      %small #
    .col-7.text-left
      %small name
    .col-1
      %small template
    .col-1
      %small properties
    .col-2
      %small developer
  %br/
  =render @data_set.story_types
