-disable_input = !current_account.types.include?('manager')

=form_with(url: scrape_task_path(@scrape_task), method: :patch) do |f|
  .row.mb-4
    .col-2.pr-0.text-right.font-weight-bold
      name:
    .col-10
      =f.text_field 'scrape_task[name]', class: 'w-50 border rounded', placeholder: 'name',
                    value: @scrape_task.name, required: true, disabled: disable_input, readonly: disable_input
  .row.mb-1
    .col-2.pr-0.text-right.font-weight-bold
      data requester:
    .col-10
      =f.text_field 'scrape_task[data_requester]', class: 'w-25 border rounded', placeholder: 'data requester',
                    value: @scrape_task.data_requester, disabled: disable_input, readonly: disable_input
  %hr/
  .row.mb-4
    .col-2.pr-0.text-right.font-weight-bold
      multi tasks:
    .col-10
      #includedTasks.mb-3
        -@scrape_task.multi_tasks.each do |mt|
          %div{ class: "task-#{mt.id}" }
            =link_to('[ remove ]', nil, onclick: "excludeMultiTaskFromScrapeTask(event, #{mt.id});")
            &nbsp&nbsp|&nbsp&nbsp
            =link_to("##{mt.id} #{mt.title}", mt, rel: 'noopener noreferrer')
            %br/

      =f.select 'multi_task[task_id]', multi_tasks_to_options, { prompt: '' }, onchange: 'includeMultiTaskToScrapeTask(this);'
  %hr/

  .row.mb-1
    .col-2.pr-0.text-right.font-weight-bold
      gather task:
    .col-10
      =f.number_field 'scrape_task[gather_task]', class: 'w-25 border rounded', placeholder: 'id', value: @scrape_task.gather_task

  .row.mb-4
    .col-2.pr-0.text-right.font-weight-bold
      deadline:
    .col-10
      =f.date_field 'scrape_task[deadline]', class: 'w-25 border rounded',
                    value: @scrape_task.deadline, disabled: disable_input, readonly: disable_input, type: :datetime

  .row.mb-4
    .col-2.pr-0.text-right.font-weight-bold
      state:
    .col-10
      =f.collection_select 'scrape_task[state_id]', State.all, :id, :name,
                           { include_blank: true, selected: @scrape_task.state&.id },
                           { disabled: disable_input, readonly: disable_input }

  .row.mb-1
    .col-2.pr-0.text-right.font-weight-bold
      URL:
    .col-10
      =f.text_field 'scrape_task[datasource_url]', class: 'w-50 border rounded', value: @scrape_task.datasource_url
  .row.mb-4
    .col-2.pr-0.text-right.font-weight-bold
      comment on datasource:
    .col-10
      =f.text_area 'datasource_comment[body]', class: 'form-control form-control-sm w-50',
                   rows: 5, value: @scrape_task.datasource_comment&.body

  .row.mb-1
    .col-2.pr-0.text-right.font-weight-bold
      scrapable?
    .col-10
      =f.radio_button "scrape_task[scrapable]", 1, checked: @scrape_task.scrapable.eql?(1), disabled: disable_input, readonly: disable_input
      =f.label 'yes', class: 'mr-2'
      =f.radio_button "scrape_task[scrapable]", 0, checked: @scrape_task.scrapable.eql?(0), disabled: disable_input, readonly: disable_input
      =f.label 'no'
  .row.mb-4
    .col-2.pr-0.text-right.font-weight-bold
      comment on scrape ability:
    .col-10
      =f.text_area 'scrape_ability_comment[body]', class: 'form-control form-control-sm w-50',
                   rows: 5, value: @scrape_task.scrape_ability_comment&.body

  .row.mb-1
    .col-2.pr-0.text-right.font-weight-bold
      scraper:
    .col-10
      =f.collection_select 'scrape_task[scraper_id]', Account.joins(:account_types).where(account_types: { name: 'scraper'}).order(:first_name, :last_name), :id, :name,
                           { include_blank: true, selected: @scrape_task.scraper&.id },
                           { disabled: disable_input, readonly: disable_input }

  .row.mb-4
    .col-2.pr-0.text-right.font-weight-bold
      scrape frequency:
    .col-10
      =f.collection_select 'scrape_task[frequency_id]',  Frequency.all, :id, :name,
                           { include_blank: true, selected: @scrape_task.frequency&.id },
                           { disabled: disable_input, readonly: disable_input }

  .row.mb-4
    .col-2.pr-0.text-right.font-weight-bold
      general comment:
    .col-10
      =f.text_area 'general_comment[body]', class: 'form-control form-control-sm w-50',
                   rows: 5, value: @scrape_task.general_comment&.body

  .row.mb-1
    .col-2.pr-0.text-right.font-weight-bold
      data set location:
    .col-10
      =f.text_field 'scrape_task[data_set_location]', class: 'w-50 border rounded',
                    value: @scrape_task.data_set_location

  -if !disable_input
    .row.mb-4
      .col-2.pr-0.text-right.font-weight-bold
        data set:
      .col-10
        =f.collection_select 'data_set[id]', DataSet.where('scrape_task_id IS NULL or id = :data_set_id', data_set_id: @scrape_task.data_set).order(:name),
                             :id, :name, { include_blank: true, selected: @scrape_task.data_set&.id }


  .row.mt-4
    .col-10.offset-2
      =f.submit 'update'
      =link_to('cancel', scrape_task_cancel_edit_path(@scrape_task), method: :get, remote: true, class: 'btn btn-sm btn-link')

