-disable_input = !current_account.types.include?('manager')

=form_with(url: scrape_task_path(@scrape_task), html: { onkeypress: "return event.keyCode !== 13;" }, method: :patch) do |f|
  .row.mb-4.align-items-center
    .col-2.pr-0.text-right.font-weight-bold
      NAME:
    .col-5
      =f.text_field 'scrape_task[name]', class: 'form-control form-control-sm', value: @scrape_task.name,
                                         required: true, disabled: disable_input, readonly: disable_input
  %hr/
  .row.mt-4
    .col-6.border-right
      .row.mb-4
        .col-4.pr-0.text-right.font-weight-bold
          MULTI TASKS:
        .col-8
          -attached_tasks = @scrape_task.tasks
          #includedTasks
            =render partial: 'task', collection: attached_tasks
          :javascript
            function addRemoveMarginToTasks() {
              let tasks = document.querySelector('#includedTasks');

              if(tasks.innerText.trim() === '') {
                tasks.classList.remove('mb-2');
              } else {
                tasks.classList.add('mb-2');
              }
            }
            addRemoveMarginToTasks();

            function excludeTaskFromScrapeTask(event, task_id) {
              event.preventDefault();

              Rails.ajax({
                type: "DELETE",
                dataType: 'json',
                url: `/api/scrape_tasks/#{@scrape_task.id}/tasks/${task_id}`,
                success: (data) => {
                  if(data['not_exist']) return false;

                  document.querySelector(`#includedTasks .task-${task_id}`).remove();
                  addRemoveMarginToTasks();
                }
              });
            }
          #addTask
            =link_to('[ add task ]', new_scrape_task_task_path(@scrape_task), onclick: 'showTasksSpinner()', remote: true)
            .loadingSpinner.d-none
              .spinner-border.spinner-border-sm.text-secondary
                %span.sr-only
            :javascript
                function showTasksSpinner() {
                  document.querySelector('#addTask .loadingSpinner').classList.remove('d-none');
                  document.querySelector('#addTask a').classList.add('d-none');
                }

      .row.mb-4.align-items-center
        .col-4.pr-0.text-right.font-weight-bold
          DEADLINE:
        .col-8
          =f.date_field 'scrape_task[deadline]', type: :datetime, value: @scrape_task.deadline,
                                                 disabled: disable_input, readonly: disable_input
      :javascript
        $('input[id="scrape_task[deadline]"]').datepicker({
          format: 'yyyy-mm-dd'
        });

      .row.mb-4.align-items-center
        .col-4.pr-0.text-right.font-weight-bold
          STATE:
        .col-8
          =f.collection_select 'scrape_task[state_id]', State.all, :id, :name,
                               { include_blank: '-- not set --', selected: @scrape_task.state&.id },
                               { class: 'form-control form-control-sm w-50', disabled: disable_input, readonly: disable_input }
      :javascript
        $('select[id="scrape_task[state_id]"]').multipleSelect({
          filter: true
        });

      .row.mb-4.align-items-center
        .col-4.pr-0.text-right.font-weight-bold
          SCRAPABLE?:
        .col-8
          =f.radio_button "scrape_task[scrapable]", 1, checked: @scrape_task.scrapable.eql?(1), disabled: disable_input, readonly: disable_input
          =f.label 'yes', class: 'mr-2'
          =f.radio_button "scrape_task[scrapable]", 0, checked: @scrape_task.scrapable.eql?(0), disabled: disable_input, readonly: disable_input
          =f.label 'no'
          =f.radio_button "scrape_task[scrapable]", nil, checked: @scrape_task.scrapable.nil?, disabled: disable_input, readonly: disable_input
          =f.label 'unknown'

      .row.mb-4.align-items-center
        .col-4.pr-0.text-right.font-weight-bold
          SCRAPER:
        .col-8
          =f.collection_select 'scrape_task[scraper_id]', Account.joins(:account_types).where(account_types: { name: 'scraper'}).order(:first_name, :last_name), :id, :name,
                               { include_blank: '-- not set --', selected: @scrape_task.scraper&.id },
                               { class: 'form-control form-control-sm w-50', disabled: disable_input, readonly: disable_input }
      :javascript
        $('select[id="scrape_task[scraper_id]"]').multipleSelect({
          filter: true
        });

      .row.mb-4.align-items-center
        .col-4.pr-0.text-right.font-weight-bold
          SCRAPE FREQUENCY:
        .col-8
          =f.collection_select 'scrape_task[frequency_id]',  Frequency.all, :id, :name,
                               { include_blank: '-- not set --', selected: @scrape_task.frequency&.id },
                               { class: 'form-control form-control-sm w-50', disabled: disable_input, readonly: disable_input }
      :javascript
        $('select[id="scrape_task[frequency_id]"]').multipleSelect({
          filter: true
        });

      .row.mb-4.align-items-center
        .col-4.pr-0.text-right.font-weight-bold
          URL:
        .col-8
          =f.text_field 'scrape_task[datasource_url]', class: 'form-control form-control-sm w-100', value: @scrape_task.datasource_url

      -if !disable_input
        .row.mb-4.align-items-center
          .col-4.pr-0.text-right.font-weight-bold
            DATA SET:
          .col-8
            -data_sets = DataSet.where('scrape_task_id IS NULL or id = :data_set_id', data_set_id: @scrape_task.data_set).order(:name)
            =f.collection_select 'data_set[id]', data_sets, :id, :name,
                                 { include_blank: '-- not set --', selected: @scrape_task.data_set&.id },
                                 { class: 'form-control form-control-sm w-100' }
        :javascript
          $('select[id="data_set[id]"]').multipleSelect({
            filter: true
          });

    .col-6
      .font-weight-bold
        COMMENT DATASOURCE:
      =f.text_area 'datasource_comment[body]', class: 'form-control form-control-sm',
                   value: @scrape_task.datasource_comment&.body
      :javascript
        $('textarea[id="datasource_comment[body]"]').froalaEditor({
          key: 'KfdolbcqsaA2wzA-13==',
          editorClass: 'border rounded p-2 w-100 mt-1 mb-3',
          toolbarInline: true,
          toolbarButtons: ['undo', 'redo', '|', 'bold', 'italic', 'underline', 'strikeThrough', '|', 'color', 'lineHeight', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'insertLink', 'insertImage'],
          imageUploadURL: '/images/upload',
          imageUploadMethod: 'POST',
          toolbarVisibleWithoutSelection: false,
          zIndex: 3333,
          height: 91
        })

      .font-weight-bold
        COMMENT ON SCRAPE ABILITY:
      =f.text_area 'scrape_ability_comment[body]', class: 'form-control form-control-sm',
                   value: @scrape_task.scrape_ability_comment&.body
      :javascript
        $('textarea[id="scrape_ability_comment[body]"]').froalaEditor({
          key: 'KfdolbcqsaA2wzA-13==',
          editorClass: 'border rounded p-2 w-100 mt-1 mb-3',
          toolbarInline: true,
          toolbarButtons: ['undo', 'redo', '|', 'bold', 'italic', 'underline', 'strikeThrough', '|', 'color', 'lineHeight', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'insertLink', 'insertImage'],
          imageUploadURL: '/images/upload',
          imageUploadMethod: 'POST',
          toolbarVisibleWithoutSelection: false,
          zIndex: 3333,
          height: 91
        })

      .font-weight-bold
        GENERAL COMMENT:
      =f.text_area 'general_comment[body]', class: 'form-control form-control-sm',
                   rows: 5, value: @scrape_task.general_comment&.body
      :javascript
        $('textarea[id="general_comment[body]"]').froalaEditor({
          key: 'KfdolbcqsaA2wzA-13==',
          editorClass: 'border rounded p-2 w-100 mt-1',
          toolbarInline: true,
          toolbarButtons: ['undo', 'redo', '|', 'bold', 'italic', 'underline', 'strikeThrough', '|', 'color', 'lineHeight', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'insertLink', 'insertImage'],
          imageUploadURL: '/images/upload',
          imageUploadMethod: 'POST',
          toolbarVisibleWithoutSelection: false,
          zIndex: 3333,
          height: 91
        })
  %hr/
  .row.mt-3
    .col-2.pr-0.text-right.font-weight-bold
      TABLES:
    .col-4.border-right
      #includedTablesToScrapeTask
        =render partial: 'table_locations/table_location', collection: @scrape_task.table_locations, locals: { model: 'ScrapeTask' }
      :javascript
        function addRemoveMarginToTables() {
          let tables = document.querySelector('#includedTablesToScrapeTask');

          if(tables.innerText.trim() === '') {
            tables.classList.remove('mb-2');
          } else {
            tables.classList.add('mb-2');
          }
        }
        addRemoveMarginToTables();

        function excludeTableLocationFromScrapeTask(event, table_id) {
          event.preventDefault();

          Rails.ajax({
            type: "DELETE",
            dataType: 'json',
            url: `/api/table_locations/${table_id}?model=ScrapeTask&model_id=#{@scrape_task.id}`,
            success: (data) => {
              if(data['not_deleted']) return false;

              document.querySelector(`#includedTablesToScrapeTask .table-location-${table_id}`).remove();
              addRemoveMarginToTables();
            }
          });
        }
      #addTablesToScrapeTask
        .form-loader-button
          =link_to('[ add tables ]', new_table_location_path(model: 'ScrapeTask', model_id: @scrape_task.id),
                   onclick: 'showTablesSpinner()', remote: true)
          .loadingSpinner.d-none
            .spinner-border.spinner-border-sm.text-secondary
              %span.sr-only
          :javascript
            function showTablesSpinner() {
              document.querySelector('#addTablesToScrapeTask .loadingSpinner').classList.remove('d-none');
              document.querySelector('#addTablesToScrapeTask a').classList.add('d-none');
            }
        .form
    .col-4
      -#.loadingSpinner.d-none
        .spinner-border.spinner-border-sm.text-secondary
          %span.sr-only
      #tableInfo

  %hr/

  -if !disable_input
    .row.align-items-center
      .col-4.offset-2.mb-3
        .btn.btn-sm.btn-link.p-0{ 'data-toggle' => "collapse", 'data-target' => "#otherFields",
                                     'aria-expanded' => "false", 'aria-controls' => "otherFields" }
          [ show/hide other fields ]

    #otherFields.collapse
      .row.align-items-center
        .col-2.pr-0.text-right.font-weight-bold
          GATHER TASK ID:
        .col-4
          =f.number_field 'scrape_task[gather_task]', class: 'form-control form-control-sm', value: @scrape_task.gather_task,
                                                      disabled: disable_input, readonly: disable_input
  %hr/

  .row.align-items-center
    .col-12.text-center
      =f.submit 'update', class: 'btn btn-sm btn-dark'
      %button{ type: "button", class: "btn btn-sm btn-outline-dark", 'data-dismiss' => "modal" }
        Close


