%div{ class: "task-#{multi_task.id}" }
  =link_to('[ remove ]', nil, onclick: "excludeMultiTaskFromScrapeTask(event, #{multi_task.id});")
  &nbsp&nbsp|&nbsp&nbsp
  =link_to("##{multi_task.id} #{multi_task.title}", multi_task, target: '_blank', rel: 'noopener noreferrer')
