=form_with(model: ScrapeTask.new, html: { id: 'newScrapeTaskForm'}) do |f|
  #newScrapeTaskModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "properties",
                                     role: "dialog", tabindex: "-1", 'data-backdrop' => 'static',
                                     'data-keyboard' => 'true'}
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          %h5.modal-title
            new scrape task
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          .row.mb-2
            .col-10.offset-1.small
              =f.text_field :name, placeholder: 'name', id: 'newScrapeTaskName', class: 'form-control form-control-sm', required: true
              #newScrapeTaskNameFeedback.text-danger.d-none
                Task with this name already exists. Let's use something else

          .row.mb-2
            .col-10.offset-1.small
              =f.text_field :datasource_url, placeholder: 'datasource url (https://example.com)',
                            id: 'newScrapeTaskDataUrl', maxlength: 1000, class: 'form-control form-control-sm',
                            required: true
              #newScrapeTaskDataUrlLength
                1000 /
                %span
                  0
          .row.small
            .col-10.offset-1
              =f.text_area :notes_on_datasource, placeholder: 'notes on datasource',
                           rows: '5', class: 'form-control form-control-sm'

        .modal-footer.justify-content-center
          =f.submit 'create scrape task', class: 'btn btn-sm btn-outline-dark'

:javascript
  function delay(fn, ms) {
    let timer = 0
    return function(...args) {
      clearTimeout(timer)
      timer = setTimeout(fn.bind(this, ...args), ms || 0)
    }
  }

  function isUniq(name, names) {
    let lowName = name.toLowerCase();
    return !names.find(el => lowName === el.toLowerCase());
  }

  document.querySelector('#newScrapeTaskName').addEventListener('input', delay(() => {
    Rails.ajax({
      type: 'GET',
      dataType: 'json',
      url: `#{root_url}api/scrape_tasks/names`,
      success: (names) => {
        let nameInput = document.querySelector('#newScrapeTaskName');
        let nameFeedback = document.querySelector('#newScrapeTaskNameFeedback');
        let submitButton = document.querySelector('#newScrapeTaskForm input[type="submit"]');
        let nameIsUniq = isUniq(nameInput.value, names)

        if(nameIsUniq === true) {
          nameInput.classList.remove('border', 'border-danger');
          nameFeedback.classList.add('d-none');
          submitButton.disabled = false;
        } else {
          nameInput.classList.add('border', 'border-danger');
          nameFeedback.classList.remove('d-none');
          submitButton.disabled = true;
        }
      }
    })
  }, 500))

  document.querySelector('#newScrapeTaskDataUrl').addEventListener('input', (ev) => {
    let inputLength = ev.target.value.length;
    let lengthMeter = document.querySelector('#newScrapeTaskDataUrlLength');

    lengthMeter.querySelector('span').innerText = inputLength;

    if(inputLength === 1000) {
      lengthMeter.classList.add('text-danger');
    } else {
      lengthMeter.classList.remove('text-danger');
    }
  })

  function onSubmit(ev) {
    ev.preventDefault();
    ev.stopPropagation();

    let form = ev.target;
    let nameInput = form.querySelector('#newScrapeTaskName');
    let nameFeedback = form.querySelector('#newScrapeTaskNameFeedback');
    let submitButton = form.querySelector('input[type="submit"]');

    Rails.ajax({
      type: 'GET',
      dataType: 'json',
      url: `#{root_url}api/scrape_tasks/names`,
      success: (names) => {
        let nameIsUniq = isUniq(nameInput.value, names);

        if(nameIsUniq) {
          form.removeEventListener('submit', onSubmit)
          Rails.fire(form, 'submit')
        } else {
          nameInput.classList.add('border', 'border-danger');
          nameFeedback.classList.remove('d-none');
          submitButton.disabled = true;
        }
      }
    })
  }
  document.querySelector('#newScrapeTaskForm').addEventListener('submit', onSubmit)
