#scrapeTaskStatusComment
  =render 'status_comment'

.row.mb-4
  .col-2.pr-0.text-right.font-weight-bold
    name:
  .col-10
    =@scrape_task.name

.row.mb-4
  .col-2.pr-0.text-right.font-weight-bold
    gather task:
  .col-10
    -link = @scrape_task.gather_task_link
    -if link
      =link_to(nil, link, target: '_blank')
    -else
      \---

.row.mb-2
  .col-2.pr-0.text-right.font-weight-bold
    URL:
  .col-10
    -link = @scrape_task.datasource_url
    -if link.present?
      =link_to(nil, link, target: '_blank')
    -else
      \---

.row.mb-4
  .col-2.pr-0.text-right.font-weight-bold
    comment on datasource:
  .col-10
    =@scrape_task.datasource_comment&.body

.row.mb-2
  .col-2.pr-0.text-right.font-weight-bold
    scrapable?
  .col-10
    -if @scrape_task.scrapable
      .font-weight-bold
        yes
    -elsif @scrape_task.scrapable.eql?(false)
      .font-weight-bold
        no
    -else
      not checked

.row.mb-4
  .col-2.pr-0.text-right.font-weight-bold
    comment on scrape ability:
  .col-10
    =@scrape_task.scrape_ability_comment&.body

.row.mb-2
  .col-2.pr-0.text-right.font-weight-bold
    scraper:
  .col-10
    =@scrape_task.scraper&.name
.row.mb-4
  .col-2.pr-0.text-right.font-weight-bold
    scrape frequency:
  .col-10
    =@scrape_task.frequency&.name

.row
  .col-2.pr-0.text-right.font-weight-bold
    data set location:
  .col-10
    =@scrape_task.data_set_location

-if current_account.types.include?('manager')
  #scrapeTaskDataSetForm
    =render 'data_set'
