%hr/
#header.d-flex.justify-content-between.align-items-center
  Scrape Tasks
  .buttons
    =link_to('filter', '#filter', 'aria-controls' => 'scrape_task_filter',
             'aria-expanded' => false, data: { toggle: "collapse", target: "#filter" },
             type: "button", class: 'btn btn-sm btn-outline-dark mr-2')
    -if current_account.types.include?('manager')
      %button.btn.btn-sm.btn-outline-dark{'data-target' => '#newScrapeTaskModal', 'data-toggle' => 'modal', type: "button"}
        new scrape task
%hr/

#filter.mt-3.mb-3.collapse{ class: (params[:scrape_tasks_grid] ? 'show' : '') }
  =datagrid_form_for @scrape_tasks_grid, url: scrape_tasks_path

.row
  .col-12
    #scrapeTasks
      #grid_wrapper
        =datagrid_table(@scrape_tasks_grid)

.row.mt-3.col-12
  #pagination
    =paginate @scrape_tasks_grid.assets

=render 'scrape_tasks/new_form'
