%div{ id: "scrape_task", scrape_task_id: @scrape_task.id }

%hr/
=@scrape_task.name
%hr.mb-0/

.text-right.text-secondary.mb-3.small
  created at: #{@scrape_task.created_at}#{@scrape_task.updated_early? ? " | updated at: #{@scrape_task.updated_at}" : ""}

#scrapping_info.mt-4.small
  .card
    .card-header.p-1
      .d-flex.justify-content-between.align-items-center
        main info
        .d-inline-block
          .d-inline-block.mr-2
            =button_to('edit', edit_scrape_task_path(@scrape_task), class: 'border rounded')
          #scrapeTaskStatus.d-inline-block
            =render 'statuses'

    .card-body
      -status = @scrape_task.status.name
      -if status.in?(%w[blocked canceled])
        #scrapeTaskStatus
          .row.mb-4
            .col-2.pr-0.text-right.font-weight-bold
              scrape task has been #{status}. Why?
            .col-10
              =@scrape_task.status_comment

      .row.mb-4
        .col-2.pr-0.text-right.font-weight-bold
          gather task:
        .col-10
          -link = @scrape_task.gather_task_link
          -if link
            =link_to('link', link)
          -else
            \---
      .row.mb-2
        .col-2.pr-0.text-right.font-weight-bold
          scrapable?
        .col-10
          -if @scrape_task.scrapable
            .font-weight-bold
              +
          -elsif @scrape_task.scrapable.eql?(false)
            .font-weight-bold
              -
          -else
            not checked

      .row.mb-4
        .col-2.pr-0.text-right.font-weight-bold
          comment on scrape ability:
        .col-10
          =@scrape_task.scrape_ability_comment

      .row.mb-2
        .col-2.pr-0.text-right.font-weight-bold
          URL:
        .col-10
          =@scrape_task.datasource_url

      .row.mb-4
        .col-2.pr-0.text-right.font-weight-bold
          comment on datasource:
        .col-10
          =@scrape_task.datasource_comment

      .row.mb-2
        .col-2.pr-0.text-right.font-weight-bold
          scraper:
        .col-10
          =@scrape_task.scraper&.name

      .row.mb-2
        .col-2.pr-0.text-right.font-weight-bold
          scrape frequency:
        .col-10
          =@scrape_task.frequency&.name

#scrape_instruction.mt-5.accordion.small
  .card
    .card-header.p-1
      %div.d-flex.justify-content-between.align-items-center{ "aria-controls" => "#instruction", "aria-expanded" => "false",
                                                              "data-target" => "#instruction", "data-toggle" => "collapse", type: "button"}
        instruction
        =button_to('edit', edit_scrape_task_path(@scrape_task))

    #instruction.collapse{"data-parent" => "#scrape_instruction"}
      .row
        .col-10.offset-1
          =@scrape_task.scrape_instruction


-# #template.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "template",
-#                       role: "dialog", tabindex: "-1", 'data-backdrop' => 'static',  'data-keyboard' => "false" }
-#   .modal-dialog.modal-dialog-centered.modal-xl
-#     .modal-content
-#       .modal-header
-#         %h5.modal-title
-#       .modal-body
-#
-# #properties.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "properties", role: "dialog", :tabindex => "-1"}
-#   .modal-dialog.modal-dialog-centered.modal-xl
-#     .modal-content
-#       .modal-header
-#         %h5.modal-title
-#         %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
-#           %span{"aria-hidden" => "true"} ×
-#       .modal-body
