%hr/
.row
  .col-12.text-center
    %b #{link_to(@factoid_type.id_name, factoid_type_iteration_samples_path(@factoid_type.id, @iteration.id))}
%hr/
-if @factoid_type.code.attached?
  .row
    .col-10.offset-1
      =link_to("factoid type's code", factoid_type_codes_path(@factoid_type),
               class: 'btn btn-sm btn-outline-dark', remote: true)
%hr/
%hr/
#factoid_sample
  .row.small
    .col-1.p-0.text-right.font-weight-bold
      body:
    .col-10
      =@sample.output.body.html_safe

=render 'factoid_types/codes/modal_ruby_code'

:javascript
  (()=> {
    let svgTags = document.getElementsByTagName('svg');

    for(let i = 0; i < svgTags.length; i++) {
      svgTags[i].parentNode.classList.add(`svg_graph_lokic_${i}`)
    }
  })();
