
=form_with(url: story_type_samples_path(@story_type), class: 'small') do |form|
  =form.label :columns, 'columns(edge samples)'
  .form-group
    -@story_type.staging_table.columns.list.each do |_id, column|
      .form-check
        =form.check_box "samples[columns[#{_id}]]"
        =form.label "samples[columns[#{_id}]]", column[:name]

  =form.label :ids, 'staging table row ids(eg: 1,2, 4,234)'
  .form-group.col-xl-3.col-sm-6
    =form.text_field 'samples[row_ids]', class: 'form-control form-control-sm'
  .row
    .col-12
      =form.submit 'Create Samples', class: 'btn btn-sm btn-outline-dark'
      =link_to('Delete Samples', purge_sampled_story_type_sample_path(@story_type),
               class: 'btn btn-sm btn-outline-dark ml-5', method: :delete, remote: true)