-@story_type.iteration.samples.each do |sample|
  .row
    %small.col-6
      =sample.output.headline
    %small.col-6
      =link_to('show', story_type_sample_path(story_type_id: @story_type.id, story: sample.id),
               class: 'd-loc-show-icon img')
