-iteration = @story_type.iteration
-if @story_type.staging_table && iteration.export_configurations
  #samples_form.row
    .col-11.offset-1
      =render 'samples/form'
  %hr
  -if show_samples?(@story_type)
    #created_samples.row
      .col-11.offset-1
        =render iteration.samples.where(sampled: true)

  %hr
    #create_destroy_all_samples.row.mt-4
      .col-11.offset-1
        .btn-group
          -if iteration.creation.eql?(false)
            creation samples in progress...
          -elsif iteration.creation.eql?(nil)
            =link_to('create samples from the last iteration',
                      story_type_creations_path(@story_type),
                      class: 'btn btn-sm btn-outline-dark', method: :post, remote: true)
          -else
            =link_to('purge samples/samples from the last iteration',
                      purge_all_story_type_creations_path(@story_type),
                      class: 'btn btn-sm btn-outline-dark', method: :delete, remote: true)
