-iteration = @story_type.iteration
-samples = iteration.samples.where(sampled: true)

#samples_form.row
  .col-11.offset-1
    =render 'samples/form'
%hr
#created_samples
  .row
    .col-10.offset-1
      -if samples.count.positive?
        =render samples
      -elsif iteration.story_samples.eql?(false)
        =render 'samples/spinner', description: 'Creation in progress'
      -else
        .small
          Samples were not created.
      -if iteration.auto_feedback_confirmations.any?
        %hr/
        .mt-4
          =render 'feedback/form', auto_feedback: iteration.auto_feedback_confirmations
  .row.small
    .col-10.offset-1
      %hr/
      -if iteration.auto_feedback_confirmations.any?
        ***Please confirm all auto-feedback. After that you can go to FCD and create all the samples.
      -else
        No generated auto-feedback.
%hr
#fcd__create_destroy_all_samples
  =render 'samples/fcd__create_all_samples_buttons', iteration: iteration
