-iteration = @story_type.iteration
-samples = iteration.samples.where(sampled: true)

.row
  .col-10.offset-1
    #samples_form
      =render 'samples/form', iteration: iteration, samples: samples
    %hr/

.row
  .col-10.offset-1
    #created_samples
      -if samples.count.positive?
        =render samples
      -elsif iteration.story_samples.eql?(false)
        =render 'samples/spinner', description: 'Creation in progress'
      -else
        .small
          Samples were not created.
      %hr/
      -if iteration.auto_feedback_confirmations.any?
        .mt-4
          =render 'auto_feedback/form', auto_feedback: iteration.auto_feedback_confirmations
        .small.mt-3
          ***Please confirm all auto-feedback. After that you can go to FCD and create all the samples.
      -else
        .small
          No generated auto-feedback.
    %hr/

#fcd__create_destroy_all_samples
  =render 'samples/fcd__create_all_samples_buttons', iteration: iteration, samples: samples
