.row.small
  .col-1.text-right
    =sample.staging_row_id
  .col-11.p-0
    =link_to(nil, story_type_iteration_sample_url(@story_type, @story_type.iteration, sample),
             class: 'd-loc-show-icon img', target: '_blank')
