-if @story_type.staging_table && @story_type.iteration.export_configurations
  .row
    .col-11.offset-1
      =render 'samples/form'
  %hr
  .row
    .col-11.offset-1
      -if show_samples?(@story_type)
        =render @story_type.iteration.samples
      -elsif @story_type.iteration.creation.eql?(false)
        creation samples in progress...

  %hr
    .row.mt-4
      .col-11.offset-1
        .btn-group
          =link_to('create all from the last iteration',
                    story_type_creations_path(@story_type),
                    class: 'btn btn-sm btn-outline-dark', method: :post, remote: true)
