.row
  .col.text-right
    =link_to('show ruby code', story_type_code_path(@story_type, @story_type.code), class: 'btn btn-sm btn-outline-dark',
                method: :get, remote: true)
.row
  .col-1.text-right
    Headline:
  .col-11
    %h6
      =@sample.output.headline
.row
  .col-1.text-right
    Teaser:
  .col-11
    %h6
      =@sample.output.teaser

.row.small
  .col-1.text-right
    Body:
  .col-11
    =@sample.output.body.html_safe

=render 'codes/modal_ruby_code'