-assignment_to = task.assignments.reload + task.assignments_notifications.reload
-if assignment_to.empty?
  .font-weight-bold.small
    assignment to:
-else
  -assignment_to.each do |assignment|
    .badge{ class: "#{assignment.notification_to ? 'badge-secondary' : 'badge-info' }" }
      =assignment.account.name

-if [@multi_tasks_permissions['assignment_to'], @multi_tasks_permissions['assistants'], @multi_tasks_permissions['notifications_to']].any?
  =link_to '[ edit ]', edit_multi_task_assignments_path(task), remote: true, class: 'small'
