=form_with(url: article_type_fact_checking_doc_path(@article_type, @fcd), method: :put, local: true) do |form|
  =form.submit 'save', class: 'btn btn-sm btn-outline-dark', onclick: 'stopFcdSaver();'
  .btn-group.ml-3
    =link_to('template', article_type_fact_checking_doc_template_path(@article_type, @fcd),
             class: 'btn btn-sm btn-outline-dark', remote: true)
    =link_to('auto-feedback', '#autoFeedbackCollapse', "aria-controls" => "feedbackCollapse", "aria-expanded" => "false",
             "data-target" => "#autoFeedbackCollapse", "data-toggle" => "collapse", type: "button",
             class: 'btn btn-sm btn-outline-dark', onclick: 'hideAllPopovers();')
  %small.d-block.mb-2.mt-2
    *** FCD will be automatically saved every 30 seconds.
  .field{ id: 'fcd_editable', "data-controller" => "summernote" }
    =form.text_area 'fact_checking_doc[body]', data: { editor: 'summernote' }
