.btn-group.w-100.mt-3
  =link_to('counts of stories', exported_counts_developers_productions_path,
           class: 'btn btn-sm btn-light text-dark')
  =link_to('developers score', scores_developers_productions_path,
           class: 'btn btn-sm btn-light text-dark')
