.btn-group.w-100
  =link_to('counts of stories', developers_productions_path,
           class: 'btn btn-sm btn-light text-dark', remote: true)
  =link_to('developers score', developers_scores_path,
           class: 'btn btn-sm btn-light text-dark', remote: true)

-if action_name.eql?('index')
  %section#filter
    =render 'filter'

%hr/
%section#developers_production.small
  .row.text-center
    .col-2 week
    .col-2 first export
    .col-2 count stories first
    .col-2 follow up export
    .col-2 count stories follow up
    .col-2 total count stories
  %hr/
  .row.text-center.text-dark.font-weight-bold
    .col-2 Summary
    .col-2
      =@rows_reports.sum { |row| row.count_first }
    .col-2
      =MiniLokiC::Population::Formatize::Numbers.add_commas(@rows_reports.sum { |row| row.sum_first_export })
    .col-2
      =@rows_reports.sum { |row| row.count_follow_up }
    .col-2
      =MiniLokiC::Population::Formatize::Numbers.add_commas(@rows_reports.sum { |row| row.sum_follow_up_export })
    .col-2
      =MiniLokiC::Population::Formatize::Numbers.add_commas(@rows_reports.sum { |row| row.sum_total })
  %hr/
  -@rows_reports.each do |row|
    %hr/
    .row.text-center
      .col-2
        ="#{row.week.end_week}"
      .col-2
        =row.count_first
      .col-2
        =MiniLokiC::Population::Formatize::Numbers.add_commas(row.sum_first_export)
      .col-2
        =row.count_follow_up
      .col-2
        =MiniLokiC::Population::Formatize::Numbers.add_commas(row.sum_follow_up_export)
      .col-2
        =MiniLokiC::Population::Formatize::Numbers.add_commas(row.sum_total)

