.small
  .d-flex.flex-row
    -if current_account_permissions('story_types', %w[iterations edit_form])
      =form_with(url: story_type_iteration_path(@story_type, iteration), method: :patch) do |form|
        =form.text_field 'iteration[name]', placeholder: 'new name', required: true
        =form.submit :rename
    -if @story_type.iteration != iteration
      =button_to('apply', apply_story_type_iteration_path(@story_type, iteration), method: :patch)
