-curr_iter = @story_type.iteration
-iter_name = curr_iter.eql?(iteration) ? "> #{iteration.name} <" : iteration.name

-if @iteration.eql?(iteration)
   #selected_iteration_badge.badge.badge-pill.badge-info{style: 'cursor: pointer',
                                                        'data-container' => 'body',
                                                        'data-toggle' => 'popover',
                                                        'data-placement' => 'top',
                                                        'data-html' => 'true',
                                                        'data-content' => "#{render 'story_types/iterations/edit_form', iteration: iteration}" }
      =iter_name
-else
   =link_to(iter_name, story_type_path(@story_type, iteration_id: iteration),
            class: "badge badge-pill badge-dark #{story_types_blocked_item? ? '' : 'btn disabled'}")
