-if story_types_blocked_item?
  .badge.badge-pill.badge-light{'data-container' => 'body',
                                      'data-toggle' => 'popover',
                                      'data-placement' => 'top',
                                      'data-html' => 'true',
                                      'data-content' => "#{ render 'story_types/iterations/new_form' }" }
    new iteration