-case grid
-when AccountsGrid
  =render 'datagrid/accounts/form', grid: grid, options: options
-when WorkRequestsGrid
  =render 'datagrid/work_requests/form', grid: grid, options: options
-when FactoidRequestsGrid
  =render 'datagrid/factoid_requests/form', grid: grid, options: options
-when DataSetsGrid
  =render 'datagrid/data_sets/form', grid: grid, options: options

:javascript
  $(function() {
    // Don't use on .dynamic_filter, .extended_boolean_filter, .boolean_filter, .string_filter,
    //   .date & .datetime because they do n/w. "rage: true" filters also will not work.
    let multiselect = $('select[multiple]')
    multiselect.multipleSelect({
      multiple: true,
      maxHeightUnit: 'px',
      multipleWidth: 'auto',
      filter: true
    });

    // Removes ugly shift/pagination after "Select all"
    multiselect.next().find('.ms-select-all').addClass('multiple');

    // Datepicker for Tasks-Deadline filter field (selects only date)
    $('input[type=datetime]').datepicker({
      format: 'yyyy-mm-dd'
    });
  });
