- if controller_name.in?(%w[scrape_tasks tasks shown_samples exported_story_types production_removals])
  .container-xl
    .card.card-body
      =form_for grid, options do |f|
        .row.small
          -if controller_name == 'tasks' && !current_account.types.include?('manager')
            -grid.filters.select{ |filter| !filter.name.to_s.in?(%w(assignment_to creator deleted_tasks)) }.each do |filter|
              .col-4.mb-3
                =f.datagrid_label filter
                =f.datagrid_filter filter, class: 'form-control form-control-sm'
          -else
            -grid.filters.each do |filter|
              .col-3.mb-3
                =f.datagrid_label filter
                =f.datagrid_filter filter, class: 'form-control form-control-sm', type: filter.options[:type]
        .text-center
          =f.submit 'apply', class: "btn btn-sm btn-outline-dark"
          =link_to 'reset', url_for(grid.to_param => {}), class: "btn btn-sm btn-outline-dark2"
- else
  .card.card-body
    = form_for grid, options do |f|
      .row
        .col-6.border-right
          -grid.filters.select { |filter| filter.options[:left] }.each do |filter|
            .datagrid-filter.filter
              =f.datagrid_label filter
              =f.datagrid_filter filter
        .col-6
          -grid.filters.select { |filter| !filter.options[:left] }.each do |filter|
            .datagrid-filter.filter
              =f.datagrid_label filter
              =f.datagrid_filter filter
      %hr.mb-2/
      .text-center
        =f.submit 'apply', :class => "btn btn-sm btn-outline-dark mt-2"
        =link_to 'reset', url_for(grid.to_param => {}), :class => "btn btn-sm btn-outline-dark mt-2"

:javascript
  $(function() {
    // Don't use on .dynamic_filter, .extended_boolean_filter, .boolean_filter, .string_filter,
    //   .date & .datetime because they do n/w. "rage: true" filters also will not work.
    let multiselect = $('select[multiple]')
    multiselect.multipleSelect({
      multiple: true,
      maxHeightUnit: 'row',
      multipleWidth: 'auto',
      filter: true
    });

    // Removes ugly shift-зagination after "Select all"
    multiselect.next().find('.ms-select-all').addClass('multiple');
  });
