-# -if controller_name.in?(%w[scrape_tasks tasks shown_samples exported_story_types production_removals])
-#   %tr
-#     -grid.html_columns(*options[:columns]).each do |column|
-#       %th{:scope => "col"}
-#         =column.header
-#         =datagrid_order_for(grid, column, options) if column.supports_order? && options[:order]
-# -elsif grid.is_a?()
-# -else
-#   %tr
-#     -grid.html_columns(*options[:columns]).each do |column|
-#       %th{:class => datagrid_column_classes(grid, column)}
-#         =column.header
-#         =datagrid_order_for(grid, column, options) if column.supports_order? && options[:order]
-case grid
-when AccountsGrid
  =render 'datagrid/accounts/head', grid: grid, options: options
-when WorkRequestsGrid
  =render 'datagrid/work_requests/head', grid: grid, options: options
-when FactoidRequestsGrid
  =render 'datagrid/factoid_requests/head', grid: grid, options: options
-when StoryTypesGrid
  =render 'datagrid/story_types/head', grid: grid, options: options
-when DataSetsGrid
  =render 'datagrid/data_sets/head', grid: grid, options: options
-when FactoidTypesGrid
  =render 'datagrid/factoid_types/head', grid: grid, options: options
