-case grid
-when AccountsGrid
  =render 'datagrid/accounts/head', grid: grid, options: options
-when WorkRequestsGrid
  =render 'datagrid/work_requests/head', grid: grid, options: options
-when FactoidRequestsGrid
  =render 'datagrid/factoid_requests/head', grid: grid, options: options
-when MultiTasksGrid
  =render 'datagrid/multi_tasks/head', grid: grid, options: options
-when ScrapeTasksGrid
  =render 'datagrid/scrape_tasks/head', grid: grid, options: options
-when DataSetsGrid
  =render 'datagrid/data_sets/head', grid: grid, options: options
