.order.d-inline-block.ml-1
  =link_to(icon('fa', 'caret-up'), datagrid_order_path(grid, column, false), class: "asc")
  =link_to(icon('fa', 'caret-down'), datagrid_order_path(grid, column, true), class: "desc")
