-from_options[:class] = from_options[:class] + ' w-auto'
-to_options[:class] = to_options[:class] + ' w-auto'
=form.text_field(filter.name, from_options)
%span{class: "separator #{filter.type}"} -
=form.text_field(filter.name, to_options)