-case asset
-when Account
  =render 'datagrid/accounts/row', grid: grid, asset: asset, options: options
-when WorkRequest
  =render 'datagrid/work_requests/row', grid: grid, asset: asset, options: options
-when FactoidRequest
  =render 'datagrid/factoid_requests/row', grid: grid, asset: asset, options: options
-when Task
  =render 'datagrid/multi_tasks/row', grid: grid, asset: asset, options: options
-when ScrapeTask
  =render 'datagrid/scrape_tasks/row', grid: grid, asset: asset, options: options
-when DataSet
  =render 'datagrid/data_sets/row', grid: grid, asset: asset, options: options
-when StoryType
  =render 'datagrid/story_types/row', grid: grid, asset: asset, options: options
-when FactoidType
  =render 'datagrid/factoid_types/row', grid: grid, asset: asset, options: options
