-if asset.is_a?(ScrapeTask)
  =render 'datagrid/scrape_task_row', grid: grid, asset: asset, options: options
-elsif asset.is_a?(WorkRequest)
  =render 'datagrid/work_request_row', grid: grid, asset: asset, options: options
-else
  %tr
    -grid.html_columns.each do |column|
      -klass = datagrid_column_classes(grid, column)
      -value = datagrid_value(grid, column, asset)
      -background_color = column.header.eql?('Status') ? "bg-#{status_color(ActionView::Base.full_sanitizer.sanitize(value))}" : ''
      %td{ class: "#{klass} #{background_color}" }
        =value
