%tr{ class: grid.row_classes(asset) }
  -grid.html_columns(*options[:columns]).each do |column|
    -klass = datagrid_column_classes(grid, column)
    -value = datagrid_value(grid, column, asset)

    -if klass.start_with?('id ') && asset.data_set_location.blank?
      -background_color = "bg-danger"
    -elsif klass.eql?('status')
      -background_color = "bg-#{status_color(ActionView::Base.full_sanitizer.sanitize(value))}"
    -else
      -background_color = ''

    %td{class: "#{klass} #{background_color}"}
      =value
