%tr
  -client = current_account.types.include?('client')
  -grid.html_columns.each do |column|
    -next if client && column.header.in?(['ETA', 'R Value', 'F Value'])

    -klass = datagrid_column_classes(grid, column)
    -value = datagrid_value(grid, column, asset)
    -background_color = column.header.eql?('Status') ? "bg-#{status_color(ActionView::Base.full_sanitizer.sanitize(value))}" : ''
    %td{ class: "#{klass} #{background_color}" }
      =value
