=form_with(model: @row_report, url: report_tracking_hours_path, local: true) do |form|
  .row
    .col-1
      =form.text_field :hours, class: 'mb-1 form-control form-control-sm'
    .col-3
      =form.select :type_of_work, types_of_work, { prompt: '' }, class: 'mb-1 form-control form-control-sm'
    .col-2
      =form.select :client, clients, { prompt: '' }, class: 'mb-1 form-control form-control-sm'
    .col-2
      =form.date_field :date, class: 'mb-1 form-control form-control-sm'
    .col-3
      =form.text_field :comment, class: 'mb-1 form-control form-control-sm'
    .col-1
      =form.submit :Add, class: 'mb-1 form-control form-control-sm'
