.row.border-bottom.border-left.border-right
  .col-1
    Hours
  .col-3
    Type of work
  .col-3
    Client
  .col-2
    Date
  .col-3
    Comment
-@rows_reports.each do |row|
  .row.border-bottom.border-left.border-right.pb-1
    .col-1
      =row['hours']
    .col-3
      =row['type_of_work']
    .col-3
      =row['client']
    .col-2
      =row['date'].strftime('%F')
    .col-3
      =row['comment']
.row.pt-1
  =render 'report_tracking_hours/row'
