.table
  .row.border-bottom.border-left.border-right
    .col-1
      Hours
    .col-3
      Type of work
    .col-2
      Client
    .col-2
      Date
    .col-3
      Comment
  -@rows_reports.each_with_index do |row|
    .row.border-bottom.border-left.border-right.pb-1{id: "row_#{row['id']}"}
      .col-1
        =row['hours']
      .col-3
        =row['type_of_work']
      .col-2
        =row['client']
      .col-2
        =row['date'].strftime('%F')
      .col-3
        =row['comment']
      .col-1
        =link_to(icon('fas', 'minus'), exclude_row_report_tracking_hour_path(id: row['id']), method: :delete, remote: true)
  .row{id: 'forms'}
    =render 'report_tracking_hours/form'
  .row
    =link_to('Add row', add_form_report_tracking_hours_path, remote: true)

-#.row.pt-1
-#  =render 'report_tracking_hours/row'
