%u{ 'class' => 'mouse-hover',
    'data-container' => 'body',
    'data-toggle' => 'popover',
    'data-placement' => 'top',
    'data-html' => 'true',
    'data-title' => "##{work_request.id}",
    'data-content' => (render 'work_requests/main/index__sow_new_form', work_request: work_request).to_s }
  Create SOW
