%hr/
#header.d-flex.justify-content-between.align-items-center.mt-3
  %span
    -if @current_list
      Total: #{@grid.assets.total_count}
  %span.font-weight-bold
    WORK REQUESTS
  .d-inline-block.text-right.text-uppercase
    .btn-group.mr-3
      -if @current_list && @lists.length > 1
        -@lists.each_key do |list|
          -filled = @current_list.eql?(list) ? '' : '-outline'
          =link_to(list, url_for(list: list), class: "btn btn-sm btn#{filled}-dark")
    .btn-group
      -if @current_list
        =link_to('filter', '#', class: 'btn btn-sm btn-outline-dark',
                 "data-target" => "#filterWReq", "data-toggle" => "collapse")
      -if @permissions['new_form']
        =link_to('create', '#', class: 'btn btn-sm btn-outline-dark',
                 "data-target" => "#createWorkRequestModal", "data-toggle" => "modal")
%hr.mb-1/

-if @current_list
  #filterWReq.mt-3.mb-3.collapse
    =datagrid_form_for @grid, url: work_requests_path(list: @current_list)

  .row.small.mb-5
    .col-12
      =datagrid_table(@grid)

  .fixed-bottom.bg-light
    .row
      .col-12.p-2
        =paginate @grid.assets

  :javascript
    (() => {
      let filter = $('#filterWReq');
      filter.on('show.bs.collapse', () => {
        sessionStorage['w_req_filter_show'] = true;
      });

      filter.on('hide.bs.collapse', () => {
        sessionStorage['w_req_filter_show'] = false;
      });

      if(JSON.parse(sessionStorage['w_req_filter_show'])) {
        filter.addClass('show');
      } else {
        filter.removeClass('show');
      }
    })();

-if @permissions['new_form']
  #createWorkRequestModal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "createWorkRequestModal",
                                      'data-backdrop' => 'static', "data-keyboard" => "false" }
    .modal-dialog.modal-dialog-scrollable.modal-lg
      .modal-content
        .modal-header
          NEW WORK REQUEST
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body.small
          =render 'new'
        .modal-footer.justify-content-center
          =link_to('CREATE', '#', id: 'createWorkRequestButton', class: 'btn btn-sm btn-dark')
          .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
            CANCEL
  :javascript
    document.querySelector('#createWorkRequestButton').addEventListener('click', (event) => {
      event.preventDefault();
      document.querySelector('#hiddenCreateButton').click();
    }, false);
