%hr/
#header.row.justify-content-between.align-items-center.mt-3
  .col-6
    Total:
    =@grid.assets.total_count
  .col-6.text-right.text-uppercase
    .btn-group.mr-3
      -%w[yours all archived].each do |list|
        -outline = (params[:list].nil? && list.eql?('yours')) || params[:list].eql?(list) ? '' : '-outline'
        =link_to(list, url_for(list: list), class: "btn btn-sm btn#{outline}-dark")
    .btn-group
      =link_to('filter', '#', class: 'disabled btn btn-sm btn-outline-dark',
               "data-target" => "#requestWorkForm", "data-toggle" => "modal")
      =link_to('create', '#', class: 'btn btn-sm btn-outline-dark',
               "data-target" => "#requestWorkForm", "data-toggle" => "modal")
%hr/

#filter.mt-3.mb-3.collapse{ class: (params[:scrape_tasks_grid] ? 'show' : '') }
  =datagrid_form_for @grid, url: work_requests_path(archived: false)

.row.small.mb-5
  .col-12
    =datagrid_table(@grid)

.fixed-bottom.bg-light
  .row
    .col-12.p-2
      =paginate @grid.assets

#requestWorkForm.modal.fade{ 'data-backdrop' => "static", "aria-hidden" => "true", "aria-labelledby" => "requestWorkForm" }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5#requestWorkFormLabel.modal-title Service Request Form -- HLE
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      =render 'new', modal: true
