%hr/
.row
  .col-4.border-right
    =form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      =bootstrap_devise_error_messages!
      .form-group
        .row
          .col-12
            =f.label :email
            =f.email_field :email, autocomplete: 'email', class: 'form-control form-control-sm'
      .form-group
        .row
          .col-6
            =f.label :first_name
            =f.text_field :first_name, autofocus: true, autocomplete: 'first_name', class: 'form-control form-control-sm'
          .col-6
            =f.label :last_name
            =f.text_field :last_name, autofocus: true, autocomplete: 'last_name', class: 'form-control form-control-sm'
      .form-group
        .row
          .col-12
            =f.label :slack_account
            %br/
            =select_tag 'slack_account[identifier]',
                        options_from_collection_for_select(SlackAccount.order(:user_name).where(account: nil, deleted: false), :identifier, :user_name),
                        { include_blank: true, class: 'form-control form-control-sm' }
            -if current_account.slack
              %small.form-text.text-muted
                attached: #{current_account.slack.user_name} - #{current_account.slack.identifier}
      -if !current_account.type.eql?('editor')
        .form-group
          .row
            .col-12
              =f.label :fack_checking_channel, 'Fact Checking channel'
              %br/
              =select_tag 'fcd_channel[id]',
                          options_from_collection_for_select(FcChannel.order(:name).where(account: nil), :id, :name),
                          {  include_blank: true, class: 'form-control form-control-sm' }
              -if current_account.fc_channel
                %small.form-text.text-muted
                  attached: #{current_account.fc_channel.name}

      .form-group
        .row
          .col-12
            =f.label :password
            =f.password_field :password, autocomplete: 'new-password', class: 'form-control form-control-sm'
            %small.form-text.text-muted
              =t('.leave_blank_if_you_don_t_want_to_change_it')
      .form-group
        .row
          .col-12
            =f.label :password_confirmation
            =f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control form-control-sm'
      .form-group
        .row
          .col-12
            =f.label :current_password
            =f.password_field :current_password, autocomplete: 'current-password', class: 'form-control form-control-sm'
            %small.form-text.text-muted
              =t('.we_need_your_current_password_to_confirm_your_changes')
      .form-group
        .row
          .col-12
            =f.submit t('.update'), class: 'btn btn-sm btn-outline-dark'
