-if @iteration.population && @story_type.export_configurations_created
  -if @story_type.configurations_no_tags.present?
    .row.mb-3.configs_without_tags_msg
      .col-10.offset-1.text-danger
        At least one export configuration created without tag. Check this in the properties section

  -if !@story_type.iteration.eql?(@iteration)
    .row
      .col-10.offset-1
        #created_stories
          -stories = @iteration.stories.where(sampled: true)
          -if stories.count.positive?
            =render partial: 'story_types/samples/sample', collection: stories
          -else
            .small
              Samples were not created.
          %hr/
          -if @iteration.auto_feedback_confirmations.any?
            .mt-4
              =render 'story_types/auto_feedback/form', auto_feedback: @iteration.auto_feedback_confirmations

    .row
      .col-10.offset-1
        %hr/
        =render 'story_types/samples/stories_link'

  -elsif @iteration.samples.eql?(false) || @iteration.creation.eql?(false)
    =render 'story_types/main/spinner', description: 'creation in progress'
  -elsif @iteration.purge_creation.eql?(true)
    =render 'story_types/main/spinner', description: 'purging in progress'
  -else
    - samples = @iteration.stories.where(sampled: true)
    .row.border-top.mt-3.mx-0.pt-3
      .col-10.offset-1
        #stories_form
          =render 'story_types/samples/form', samples: samples
    .row.border-top.mt-3.mx-0.pt-3
      .col-10.offset-1
        #created_stories
          -if samples.count.positive?
            =render partial: 'story_types/samples/sample', collection: samples
          -else
            .small
              Samples were not created.
          %hr/
          -if @iteration.auto_feedback_confirmations.any?
            .mt-4
              =render 'story_types/auto_feedback/form', auto_feedback: @iteration.auto_feedback_confirmations
            .small.mt-3
              ***Please confirm all auto-feedback. After that you can go to FCD and create all the stories.
          -else
            .small
              No generated auto-feedback.
        %hr/

    #fcd__create_destroy_all_stories
      =render 'story_types/samples/fcd_create_stories_buttons', samples: samples
