-articles = @iteration.articles
-published = articles.published.count

-if published.positive? && !@iteration.purge_export.eql?(true)
  =link_to('remove factoids from limpar',
                    remove_exported_articles_factoid_type_iteration_exports_path(@factoid_type, @iteration),
                    method: :delete, remote: true, data: { confirm: 'Are you sure?' },
                    class: 'btn btn-sm btn-outline-danger')
