-assignment_to = task.assignments.reload + task.assignments_notifications.reload
-if assignment_to.empty?
  .font-weight-bold.small
    assignment to:
-else
  -assignment_to.each do |assignment|
    .badge{ class: "#{assignment.notification_to ? 'badge-secondary' : 'badge-info' }" }
      =assignment.account.name
-if current_account.eql?(task.creator) || current_account.types.include?('manager')
  =link_to '[ edit ]', edit_task_assignments_path(task), remote: true, class: 'small'
