#create_destroy_all_samples.row.mt-4
  .col-11.offset-1
    .btn-group
      -if iteration.creation.eql?(false)
        creation samples in progress...
      -elsif iteration.creation.eql?(nil)
        =link_to('create samples from the last iteration',
                  story_type_iteration_creations_path(@story_type, @story_type.iteration),
                  class: 'btn btn-sm btn-outline-dark', method: :post, remote: true)
      -else
        =link_to('purge samples from the last iteration',
                  purge_all_story_type_iteration_creations_path(@story_type, @story_type.iteration),
                  class: 'btn btn-sm btn-outline-dark', method: :delete, remote: true)
