.card{style: 'height: 350px;'}
  .card-header.p-1
    .d-flex.justify-content-between.small
      comments
  .card-body
    #comments.align-top.overflow-auto{style: 'height: 250px;'}
      -@comments.each do |comment|
        =render 'task_comments/comment', comment: comment
    #comment_form.align-bottom.mb-1.mt-1.row
      .col.small
        =link_to('[ show ]',
               task_comment_path(@task),
               remote: true)
      .col.text-right.small
        =link_to('[ add ]',
               new_task_comment_path(@task), locals: { subtype: 'task comment' },
               remote: true)
