=form_with(url: task_path(@task), method: :patch) do |form|
  .row.small
    .col
      .form-group
        =form.text_field 'task[title]', placeholder: 'title', class: 'form-control', required: true, value: @task.title, maxlength: 500
      .form-group
        =form.text_area 'task[description]', id: 'task_description', value: @task.description
  %hr/
  .form-group.row.small.font-weight-bold.text-center
    .col-6
      reminder frequency:
    .col-6
      deadline:
  .form-group.row.small.text-center
    .col-6
      =form.collection_select 'task[reminder_frequency]', TaskReminderFrequency.all.order(:name), :id, :name, { selected: @task.reminder_frequency.nil? ? '' : @task.reminder_frequency.id, prompt: '' }
    .col-6
      =form.date_field 'task[deadline]', value: @task.deadline
  %hr/
  .modal-footer
    =link_to( 'close', '#', class: 'ml-auto btn btn-sm btn-outline-secondary',
              'data-dismiss' => 'modal')
    =form.submit 'save changes', class: 'mr-auto btn btn-sm btn-outline-success'

:javascript
  $('#task').on('hidden.bs.modal', function () {
    $('#task .modal-body').empty();
  });
