#task.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "properties", role: "dialog", "data-backdrop" => "static", "data-keyboard" => "false" }
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable{ style: "max-width: 80%;" }
    .modal-content
      .modal-header
      .modal-body
