#taskInfo.pb-1
  .card.overflow-auto{style: 'height: 245px;'}
    .card-header.p-1
      .d-flex.justify-content-between.small
        main info
    .card-body.small
      -if @task.parent
        .row.mb-2
          .col-3.font-weight-bold
            main task:
          .col-9
            =link_to parent_title(@task.parent.title), task_path(@task.parent), title: @task.parent.title
      -if @task.work_request
        -work_request = @task.work_request
        .row.mb-2
          .col-3.font-weight-bold
            w. request:
          .col-9
            =link_to('click', work_request)
      .row.mb-2
        .col-3.font-weight-bold
          client:
        .col-9
          =@task.client ? @task.client.name : 'not set'
      .row.mb-2
        .col-3.font-weight-bold
          creator:
        .col-9
          =@task.creator.first_name + ' ' + @task.creator.last_name
      .row.mb-2
        .col-3.font-weight-bold
          deadline:
        .col-9
          =@task.deadline ? @task.deadline : 'not set'
      .row.mb-2
        .col-3.font-weight-bold
          gather task:
        .col-9
          -link = @task.gather_task_link
          -if link
            =link_to(nil, link, target: '_blank')
          -else
            \---
      .row.mb-2
        .col-3.font-weight-bold
          reminder:
        .col-9
          =@task.reminder_frequency ? @task.reminder_frequency.name : 'not set'
      .row.mb-2
        .col-3.font-weight-bold
          created at:
        .col-9
          =@task.created_at.strftime('%F')
      #done
        =render 'done', task: @task
