.card{style: 'height: 375px;'}
  .card-header.p-1
    .d-flex.justify-content-between.small
      comments
      -if current_account.eql?(@task.creator) || current_account.types.include?('manager') || current_account.in?(@task.assignment_to)
        #comment_form
          =link_to('[ add comment ]',
                   new_task_comment_path(@task, subtype: 'task comment'),
                   remote: true)
  .card-body
    #comments.align-top.overflow-auto{style: 'height: 300px;'}
      -@comments.each do |comment|
        =render 'task_comments/comment', comment: comment
