.row
  .col-12
    =link_to('create new task',
             new_task_path,
             class: 'btn btn-sm btn-outline-dark',
             remote: true)

#tasks
  -@tasks.each do |task|
    =render 'task', task: task

#new_task.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "properties", role: "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered.modal-xl
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body

#task