.row.m-2
  .col.text-left
    -if current_account.types.include?('manager')
      =link_to 'all tasks',
               url_for(@grid.to_param => { order: :id, descending: true }),
               class: 'btn btn-sm btn-outline-dark'
    =link_to 'your tasks',
             url_for(@grid.to_param => { assignment_to: current_account, order: :id, descending: true }),
             class: 'btn btn-sm btn-outline-dark', id: 'your_task'
    =link_to('tasks created by you',
             url_for(@grid.to_param => { creator: current_account, order: :id, descending: true }),
             class: 'btn btn-sm btn-outline-dark')

  .col.text-right
    =link_to('filter tasks', '#filter_form', 'aria-controls' => 'filter_form',
             'aria-expanded' => false, data: { toggle: "collapse", target: "#filter_form" },
              type: "button", class: 'btn btn-sm btn-outline-dark')
    =link_to('create new task',
           new_task_path,
           class: 'btn btn-sm btn-outline-dark',
           remote: true)
%hr/

#datagrid
  =render 'datagrid', grid: @grid

=render 'tasks/task_modal'
