.row.m-2.justify-content-between
  =link_to('create new task',
           new_task_path,
           class: 'btn btn-sm btn-outline-dark',
           remote: true)

  =link_to('filter tasks', '#filter_form', 'aria-controls' => 'filter_form',
           'aria-expanded' => false, data: { toggle: "collapse", target: "#filter_form" },
            type: "button", class: 'btn btn-sm btn-outline-dark')
%hr/

#filter_form{ class: (params[:tasks_grid] ? '' : 'collapse') }
  =datagrid_form_for @tasks_grid, url: tasks_path

.row.small.justify-content-center
  =datagrid_table(@tasks_grid)

.row.mt-3.col-12
  #pagination
    =paginate @tasks_grid.assets

=render 'tasks/task_modal'
