%hr/
.row.justify-content-center.font-weight-bold
  =@task.title
%hr/

.row
  .col#assignments
    =render 'task_assignments/assignments', task: @task
  .col#task_status.text-right
    =render 'task_statuses/status', task: @task

.row.mt-3
  .col-5
    =render 'task_info'
  .col-7
    =render 'comments', comments: @comments

.card.mt-3
  .card-header.small.text-right
    -if current_account.eql?(@task.creator) || current_account.types.include?('manager')
      =link_to '[ edit task ]', edit_task_path(@task), remote: true
  .card-body.overflow-auton{style: 'height: 600px'}
    #body
      .row.small.mb-3
        .col-10.offset-1
          =@task.description&.html_safe

=render 'tasks/task_modal'
