%hr/
.row.justify-content-center.font-weight-bold
  =@task.title
%hr/

.row
  .col#assignments
    =render 'task_assignments/assignments', task: @task
  .col.text-right.small
    =link_to '[ edit ]', edit_task_path(@task), remote: true
  .col#task_status.text-right
    =render 'task_statuses/status', task: @task


.card.mt-3
  .card-body
    .row.small.font-weight-bold
      .col-4
        reminder frequency:
      .col-4
        creator:
      .col-4
        deadline:
    .row.small
      .col-4
        -if @task.reminder_frequency
          =@task.reminder_frequency.name
      .col-4
        =@task.creator.first_name + ' ' + @task.creator.last_name
      .col-4
        =@task.deadline
    -if @task.status.name == 'done'
      #done
        .row.small.mt-3.font-weight-bold
          .col
            done on:
        .row.small
          .col
            =@task.done_at.strftime('%Y-%m-%d')

.card.mt-3
  .card-body.overflow-auto
    .row.small.mb-3
      .col-10.offset-1
        =@task.description&.html_safe

=render 'tasks/task_modal'