=form_with(url: data_sets_path, local: true, html: { onkeypress: "return event.keyCode !== 13;" } ) do |f|
  #nameAnchor.mb-1
  #name
    .row
      .col-10.offset-1
        .font-weight-bold.mb-2
          NAME:
          %span.small.text-danger
            *required
        =f.text_field "data_set[name]", class: 'form-control form-control-sm', value: @scrape_task&.name
        #newDataSetNameExist.text-danger.d-none
          Data Set with this name already exists. Let's use something else
        .form-group.form-check
          =f.check_box "create_hidden_scrape_task", { class: 'form-check-input', id: "create_hidden_scrape_task", name: "scrape_task[create_hidden]" }
          =f.label "create_hidden_scrape_task", 'create hidden scrape task', { class: 'form-check-label' }
  =f.submit 'Submit', id: 'hiddenCreateDataSetButton', class: 'd-none'

:javascript
  document.querySelector('#name input').addEventListener('input', () => {
    document.querySelector('#newDataSetNameExist').classList.add('d-none');
  })

  function isUniq(name, names) {
    let lowName = name.toLowerCase();
    return !names.find(el => lowName === el.toLowerCase());
  }

  document.querySelector('#createDataSetModal form').addEventListener('submit', onSubmit)

  function onSubmit(event) {
    event.preventDefault();
    event.stopPropagation();

    let name = document.querySelector('#name input').value
    if(name.length === 0) {
      scrollToCard('#createDataSetModal .modal-body')
      return false;
    } else {
      Rails.ajax({
        type: 'GET',
        dataType: 'json',
        url: `/api/v1/data_sets?names=true`,
        success: (names) => {
          let nameIsUniq = isUniq(name, names)

          if(nameIsUniq === true) {
            event.target.submit();
          } else {
            document.querySelector('#newDataSetNameExist').classList.remove('d-none');
          }
        }
      })
    }
  }

  function scrollToCard(id) {
    let required = document.querySelector(id);

    required.addEventListener('animationend', (ev) => { ev.target.classList.remove('touch-required-field') });
    document.querySelector(id).classList.add('border-danger', 'touch-required-field');
    document.querySelector(`${id}Anchor`).scrollIntoView();
  }
