.dropdown.p-1
  %button#dataSetStatusButton.dropdown-toggle.border.rounded{ class: "bg-#{status_color(@data_set.status.name)}", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
    =@data_set.status.name
  .small.dropdown-menu.manual-dropdown-menu.dropdown-menu-right{ "aria-labelledby" => "dataSetStatusButton" }
    -Status.data_set_statuses(archived: true).each do |s|
      .dropdown-item.small{status_id: s.id, onclick: 'changeDataSetStatus(this);'}
        =s.name

  :javascript
    function changeDataSetStatus(status) {
      let reasons = null;

      if(status.textContent.trim() === 'archived') {
        reasons = prompt(`Archiver:(\nWhy?`);

        if(!reasons) return false;
      }

      let statusId = status.getAttribute('status_id');
      let statusDiv = document.querySelector('#dataSetStatus')
      let onLoading = document.createElement('div');
      let onLoadingSnap = document.createElement('span');

      onLoadingSnap.classList.add('sr-only');
      onLoading.classList.add('spinner-border', 'spinner-border-sm');
      onLoading.appendChild(onLoadingSnap);

      statusDiv.innerHTML = ''
      statusDiv.appendChild(onLoading)

      Rails.ajax({
        type: "PATCH",
        dataType: 'script',
        url: `#{data_set_status_path(@data_set)}`,
        data: `status_id=${statusId}` + (reasons ? `&reasons=${encodeURIComponent(reasons)}` : '')
      })
    }
