%hr/
#header.row.justify-content-between.align-items-center.mt-3
  .col-6
    Total:
    =@grid.assets.total_count
  .col-6.text-right.text-uppercase
    .btn-group.mr-3
      -lists = %w[all archived]
      -lists.each do |list|
        -filled = (!params[:list].in?(lists) && list.eql?('all')) || params[:list].eql?(list) ? '' : '-outline'
        =link_to(list, url_for(list: list), class: "btn btn-sm btn#{filled}-dark")
    .btn-group
      =link_to('filter', '#', class: 'disabled btn btn-sm btn-outline-dark',
               "data-target" => "#createDataSetModal", "data-toggle" => "modal")
      =link_to('create', '#', class: 'btn btn-sm btn-outline-dark',
               "data-target" => "#createDataSetModal", "data-toggle" => "modal")
      =link_to('download CSV', url_for(format: 'csv', data_sets_grid: params[:data_sets_grid]),
               id: '#save_as_csv_btn', class: 'btn btn-sm btn-outline-dark')
%hr/

#filter.mt-3.mb-3.collapse{ class: (params[:data_sets_grid] ? 'show' : '') }
  =datagrid_form_for @grid, url: data_sets_path

.row.small.mb-5
  .col-12
    =datagrid_table(@grid)

.fixed-bottom.bg-light
  .row
    .col-12.p-2
      =paginate @grid.assets

#createDataSetModal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "createDataSetModal",
                                    'data-backdrop' => 'static', "data-keyboard" => "false" }
  .modal-dialog.modal-dialog-scrollable.modal-lg
    .modal-content
      .modal-header
        NEW DATA SET
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.small
        =render 'form'
      .modal-footer.justify-content-center
        =link_to('CREATE', '#', id: 'createDataSetButton', class: 'btn btn-sm btn-dark')
        .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
          CANCEL

:javascript
  document.querySelector('#createDataSetButton').addEventListener('click', (event) => {
    event.preventDefault();
    document.querySelector('#hiddenCreateButton').click();
  }, false);
