%div{ id: "data_set", data_set_id: @data_set.id }

%hr/
.row
  #data_set_name.col-8
    %b #{@data_set.name}
  .col-4.text-right
    .btn-group
      =link_to('update a data set', edit_data_set_path,
               id: 'crt_upd_data_set_btn', class: 'btn btn-sm btn-outline-dark', remote: true)
%hr/

=render 'data_set'

%ul#dataSetTabs.nav.nav-tabs.small
  %li.nav-item.text-center{ style: 'width: 50%' }
    %a#storyTypesTab.nav-link{ onclick: 'saveActiveTab(this);', "aria-controls" => "storyTypes", "aria-selected" => "true", "data-toggle" => "tab", :href => "#storyTypes" }
      story types (#{@story_types.count})
  %li.nav-item.text-center{ style: 'width: 50%' }
    %a#factoidTypesTab.nav-link{onclick: 'saveActiveTab(this);', "aria-controls" => "factoidTypes", "aria-selected" => "false", "data-toggle" => "tab", :href => "#factoidTypes" }
      factoid types (#{@factoid_types.count})
#dataSetTabsContent.tab-content
  #storyTypes.tab-pane.fade{ "aria-labelledby" => "storyTypesTab" }
    .card.border-top-0.rounded-0.mb-5
      .row
        .col-10.offset-1
          %hr.mb-1/
          #newStoryType
            .row
              .col-1
              .col-5.pl-0
                =button_to('[ create a new story type ]', new_story_type_path(@data_set),
                           method: :get, remote: true, class: 'p-0 pb-1 btn btn-sm btn-link ml-2',
                           data: { disable_with: '...'})
          %hr.mt-1/
      .story-types-list.mt-4
        =render partial: 'story_types/main/story_type', collection: @story_types
      .mt-4
  #factoidTypes.tab-pane.fade{ "aria-labelledby" => "factoidTypesTab" }
    .card.border-top-0.rounded-top-0.mb-5
      .row
        .col-10.offset-1
          %hr.mb-1/
          #newFactoidType
            .row
              .col-1
              .col-5.pl-0
                =button_to('[ create a new factoid type ]', new_factoid_type_path(@data_set),
                           method: :get, remote: true, class: 'p-0 pb-1 btn btn-sm btn-link ml-2',
                           data: { disable_with: '...'})
          %hr.mt-1/

      .mt-4
      =render partial: 'factoid_types/main/factoid_type', collection: @factoid_types
      .mt-4
=render 'story_types/main/template_modal'

:javascript
  (() => {
    if(!sessionStorage['dataSetActiveTab'])
      sessionStorage['dataSetActiveTab'] = '#storyTypesTab';
  })();

  (() => {
    document.querySelector(sessionStorage['dataSetActiveTab']).classList.add('active');
    document.querySelector(sessionStorage['dataSetActiveTab'].replace('Tab', '')).classList.add('active', 'show');
  })();

  function saveActiveTab(elem) {
    sessionStorage['dataSetActiveTab'] = '#' + `${elem.id}`;
  }
