=publication.name.eql?('') ? 'Blank' : publication.name
=link_to('x', exclude_story_type_client_publication_path(@story_type, client_publication_tag.client, publication, client_publication_tag: client_publication_tag), method: :delete, remote: true)
