=form_with(url: include_story_type_levels_path(@story_type), html: { onchange: "Rails.fire(this, 'submit')" }) do |form|
  =form.collection_select :frequency_id, Level.all, :id, :name, { prompt: '' }, { name: :id }
