=form_with(model: [@story_type, @story_type.template]) do |form|#template
  .field.small{ "data-controller" => "summernote" }
    =form.text_area :body, data: { editor: 'summernote' }
  .modal-footer
    =link_to( 'close', '#', class: 'ml-auto btn btn-sm btn-outline-secondary',
              'data-dismiss' => 'modal', data: { confirm: 'All changes shall be lost. Close?'})
    =form.submit 'save changes', class: 'mr-auto btn btn-sm btn-outline-success'

:javascript
  $('#template').on('hidden.bs.modal', function () {
    $('#template .modal-body').empty();
  });
