=form_with(model: [@story_type, @story_type.template]) do |form|#template
  .field.small{ "data-controller" => "summernote" }
    =form.text_area :body, data: { editor: 'summernote' }
  .modal-footer
    =button_tag('close', class: 'ml-auto btn btn-sm btn-outline-secondary',
                'data-dismiss' => 'modal', onclick: 'stopTemplateSaver();')
    =form.submit 'save changes', class: 'mr-auto btn btn-sm btn-outline-success',
                 onclick: 'stopTemplateSaver();'

:javascript
  (function startTemplateSaver() {
     sessionStorage['templateSaverId'] = setInterval(templateSaver, 30000);
  }).call();

  function templateSaver() {
    let templateHTML = document.getElementsByClassName('note-editable')[0].children;
    let reducer = (acc, curr)=>{ return acc + curr.outerHTML};
    let templateStr = Array.from(templateHTML).reduce(reducer, '');

    $.ajax({
      url: '#{save_story_type_template_url(@story_type, @story_type.template)}',
      data: { template: { body: templateStr } },
      method: 'patch',
      dataType: 'script'
    });
  }

  function stopTemplateSaver() {
    clearInterval(sessionStorage['templateSaverId'])
    sessionStorage.removeItem('templateSaverId')
  }
