-sow = { name: (work_request.sow[/document/] ? 'Google Doc' : 'Google Sheet'), link: work_request.sow }

%div.dropdown
  =link_to(sow[:name], '#', id: "sowLink#{work_request.id}", class: 'dropdown-toggle',
                            'aria-expanded' => 'false', 'aria-haspopup' => 'true',
                            'data-toggle' => 'dropdown', target: '_blank',
                            rel: 'noopener noreferrer')
  %div.dropdown-menu{ 'aria-labelledby' => "sowLink#{work_request.id}" }
    =link_to('follow', work_request.sow, class: 'dropdown-item', target: '_blank', rel: 'noopener noreferrer')
    =link_to('change', work_request.sow, class: 'dropdown-item', target: '_blank', rel: 'noopener noreferrer')
    =link_to('delete', work_request.sow, class: 'dropdown-item', target: '_blank', rel: 'noopener noreferrer')

%u{ 'class' => 'mouse-hover',
    'data-container' => 'body',
    'data-toggle' => 'popover',
    'data-placement' => 'top',
    'data-html' => 'true',
    'data-title' => "##{work_request.id}",
    'data-content' => (render 'work_requests/index__sow_update_form', work_request: work_request).to_s }