#workRequestStatusComment
  =render 'status_comment'


-if (current_account.types & ['manager', 'outside manager']).any?
  =form_with(url: api_work_request_path(@work_request), method: :patch, html: { id: 'managerForm'}) do |f|
    .row.mb-4.align-items-center
      .col-2.pr-0.text-right.font-weight-bold
        billed for entire project?
      .col-9
        =f.radio_button "work_request[billed_for_entire_project?]", true, checked: @work_request.billed_for_entire_project?
        =f.label "work_request[billed_for_entire_project]", 'yes', value: true, class: 'mr-3 mb-0'
        =f.radio_button "work_request[billed_for_entire_project?]", false, checked: @work_request.billed_for_entire_project?.eql?(false)
        =f.label "work_request[billed_for_entire_project]", 'no', value: false, class: 'mb-0'
    .row.mb-1.align-items-center
      .col-2.pr-0.text-right.font-weight-bold
        R Value:
      .col-9
        =f.text_field "work_request[r_val]", class: 'form-control form-control-sm w-10', value: @work_request.r_val
    .row.mb-1.align-items-center
      .col-2.pr-0.text-right.font-weight-bold
        F Value:
      .col-9
        =f.text_field "work_request[f_val]", class: 'form-control form-control-sm w-10', value: @work_request.f_val
  %hr/

  :javascript
    document.querySelector('#managerForm').addEventListener('input', delay(() => {
      Rails.fire(document.querySelector('#managerForm'), 'submit');
    }, 500), false)

    function delay(fn, ms) {
      let timer = 0;
      return function(...args) {
        clearTimeout(timer);
        timer = setTimeout(fn.bind(this, ...args), ms || 0)
      }
    }

.row.mb-4
  .col-2.pr-0.text-right.font-weight-bold
    requester:
  .col-9
    =@work_request.requester.name
.row.mb-1
  .col-2.pr-0.text-right.font-weight-bold
    work types:
  .col-9
    -@work_request.work_types.each do |wt|
      =wt.name
      %br
.row.mb-1
  .col-2.pr-0.text-right.font-weight-bold
    clients:
  .col-9
    -@work_request.clients.each do |cl|
      =cl.name
      %br
.row.mb-1
  .col-2.pr-0.text-right.font-weight-bold
    underwriting Project:
  .col-9
    =@work_request.underwriting_project&.name
.row.mb-4
  .col-2.pr-0.text-right.font-weight-bold
    revenue types:
  .col-9
    -@work_request.revenue_types.each do |rt|
      =rt.name
      %br



.row.mb-1
  .col-2.pr-0.text-right.font-weight-bold
    project order name:
  .col-9
    =@work_request.project_order_name.body
.row.mb-1
  .col-2.pr-0.text-right.font-weight-bold
    SOW:
  .col-9
    =link_to(nil, @work_request.sow, target: '_blank')
.row.mb-1.align-items-end
  .col-2.pr-0.text-right.font-weight-bold
    project order details:
  .col-9
    =@work_request.project_order_details.body
.row.mb-4.align-items-end
  .col-2.pr-0.text-right.font-weight-bold
    most worried details:
  .col-9
    =@work_request.most_worried_details.body



.row.mb-1.align-items-end
  .col-2.pr-0.text-right.font-weight-bold
    budget for project:
  .col-9
    =@work_request.budget_for_project.body
.row.mb-1.align-items-end
  .col-2.pr-0.text-right.font-weight-bold
    invoice type:
  .col-9
    =@work_request.invoice_type&.name
.row.mb-1.align-items-end
  .col-2.pr-0.text-right.font-weight-bold
    invoice frequency:
  .col-9
    =@work_request.invoice_frequency&.name
.row.mb-1.align-items-end
  .col-2.pr-0.text-right.font-weight-bold
    first invoice date:
  .col-9
    =@work_request.first_invoice
.row.mb-4.align-items-end
  .col-2.pr-0.text-right.font-weight-bold
    final invoice date:
  .col-9
    =@work_request.final_invoice



.row.mb-1.align-items-end
  .col-2.pr-0.text-right.font-weight-bold
    goal deadline:
  .col-9
    =@work_request.goal_deadline
.row.mb-1.align-items-end
  .col-2.pr-0.text-right.font-weight-bold
    final deadline:
  .col-9
    =@work_request.final_deadline
.row.mb-4.align-items-end
  .col-2.pr-0.text-right.font-weight-bold
    ETA:
  .col-9
    =@work_request.eta

.row.mb-1.align-items-end
  .col-2.pr-0.text-right.font-weight-bold
    priority:
  .col-9
    =@work_request.priority.name
