%hr/
.row.m-2.align-items-center
  .col-5.offset-1
    -if (current_account.types & ['outside manager', 'manager']).any?
      =link_to 'all requested work', work_requests_path,
               class: 'btn btn-sm btn-outline-dark'
      =link_to('requested work by you',
               url_for(@grid.to_param => { requester: current_account.id }),
               class: 'btn btn-sm btn-outline-dark')
    -else
      Requested Work
  .col-5.text-right
    %button.btn.btn-sm.btn-outline-dark{ "data-target" => "#requestWorkForm", "data-toggle" => "modal" }
      request work
%hr/

.row
  .col-12
    #data_sets.align-items-center
      #grid_wrapper
        =datagrid_table(@grid)

.row.mt-3.col-12
  #pagination
    =paginate @grid.assets

#requestWorkForm.modal.fade{ 'data-backdrop' => "static", "aria-hidden" => "true", "aria-labelledby" => "requestWorkForm" }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5#requestWorkFormLabel.modal-title Service Request Form -- HLE
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      =render 'new', modal: true

:javascript
  // $('.mouse-hover').click(function(){
  //     $('.mouse-hover').not(this).popover('hide');
  // });

  function submitForm(event) {
    event.preventDefault();
    event.stopPropagation();

    let form = event.target;
    let input = form.querySelector('input[type="number"], input[type="date"]');

    let target = input.id.split('__');
    let valueType = target.at(0);
    let valueId = target.at(-1);
    let value = form.querySelector(`input[type="${input.type}"]`).value

    if(value.length === 0) {
      if(input.type === 'number') {
        value = '**'
      } else {
        value = '****-**-**'
      }
    }

    document.querySelector(`\#${valueType}${valueId} u`).innerText = value;

    form.removeEventListener('submit', submitForm);
    Rails.fire(form, 'submit');
    form.addEventListener('submit', submitForm)
  }
