%hr/
.row.m-2.justify-content-between
  .text-left
    -if current_account.types.include?('manager')
      =link_to 'all requested work',
               url_for(@grid.to_param => { order: :id, descending: true, collapse: true }),
               class: 'btn btn-sm btn-outline-dark'
    =link_to('requested work by you',
             url_for(@grid.to_param => { requester: current_account, order: :id, descending: true, collapse: true }),
             class: 'btn btn-sm btn-outline-dark')

  .text-right
    =link_to('filter works', '#filter_form', 'aria-controls' => 'filter_form',
             'aria-expanded' => false, data: { toggle: "collapse", target: "#filter_form" },
              type: "button", class: 'btn btn-sm btn-outline-dark')
    %button.btn.btn-sm.btn-outline-dark{ "data-target" => "#requestWorkForm", "data-toggle" => "modal" }
      request work
%hr/

#filter_form{ class: collapse(params[:work_request_grid])}
  =datagrid_form_for @grid, url: work_requests_path

.row
  .col-12
    #data_sets
      #grid_wrapper
        =datagrid_table(@grid)

.row.mt-3.col-12
  #pagination
    =paginate @grid.assets

#requestWorkForm.modal.fade{ 'data-backdrop' => "static", "aria-hidden" => "true", "aria-labelledby" => "requestWorkForm" }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5#requestWorkFormLabel.modal-title Service Request Form -- HLE
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      =render 'new', modal: true
