%div{ id: "workRequest", work_request_id: @work_request.id }

%hr/

.d-flex.justify-content-between.align-items-center.mb-3.small
  .text-secondary
    created by #{@work_request.requester.name}
  .text-secondary
    created at: #{@work_request.created_at}

#workRequestInfo.mt-4.mb-5.small
  .card
    .card-header.p-1
      .d-flex.justify-content-between.align-items-center
        main info
        .d-inline-block
          -if current_account.eql?(@work_request.requester) || (current_account.types & ['manager', 'outside manager']).any?
            #scrapeTaskEdit.d-inline-block.mr-2.small
              =button_to('[ edit ]', edit_work_request_path(@work_request), method: :get, remote: true,
                         class: 'p-0 pb-1 btn btn-sm btn-link ml-2', data: { disable_with: '...'})

    .card-body
      =render 'work_request_info'

#updateWorkRequestModal.modal.fade.pr-0{ "aria-hidden" => "true", "aria-labelledby" => "updateWorkRequestModalLabel",
                                        role: "dialog", tabindex: "-1" }
  .modal-dialog.modal-dialog-scrollable.modal-dialog-fullscreen
    .modal-content
      .modal-header
        .modal-title#updateWorkRequestModalLabel
          Work Request Updating
        %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
          %span{ "aria-hidden" => "true" } ×
      .modal-body.d-flex
        .preview.overflow-scroll.small.w-55.pt-3.pr-3.pb-3
        .w-45
          .editable.overflow-scroll.pt-3.h-92.pr-2.pb-3
          %hr.m-2/
          .d-flex.align-items-center.justify-content-center.h-5
            =link_to('update', '#', id: 'updateWorkRequestButton', class: 'btn btn-sm btn-secondary')
            .mr-1.ml-1
            .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
              cancel

:javascript
  document.querySelector('#updateWorkRequestButton').addEventListener('click', (event) => {
    event.preventDefault();

    event.target.classList.add('disabled');
    event.target.innerText = '...';

    document.querySelector('#hiddenUpdateButton').click();
  }, false);

  $('#updateWorkRequestModal').on('hidden.bs.modal', () => {
    let button = document.querySelector('#updateWorkRequestButton');

    button.classList.remove('disabled');
    button.innerText = 'update';
  });

-if (current_account.types & ['manager', 'outside manager']).any?
  #newMultiTask.mb-3
    .card
      .card-header.small.p-1
        new multi task
      .card-body


  :javascript
    $('#newMultiTask .card-body').html('#{ j render 'tasks/form' }')

    $('#task_description').froalaEditor({
      key: 'KfdolbcqsaA2wzA-13==',
      toolbarSticky: true,
      documentReady: true,
      toolbarButtons: ['fullscreen', 'undo', 'redo', '|', 'submitInstructionEdit', 'cancelInstructionEdit', '|', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineClass', 'inlineStyle', 'paragraphStyle', 'lineHeight', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', 'insertLink', 'insertImage', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'getPDF', 'help', 'html'],
      imageUploadURL: '/images/upload',
      imageUploadMethod: 'POST',
      height: 700
    })
