.current_progress_status
  =link_to(task.status.name, '#',
        class: "badge badge-pill badge-#{status_color(task.status.name)}")

.change_progress_status_form.d-none
  =form_with(url: change_task_progress_statuses_path(task),
             html: { class: 'd-inline', onchange: "Rails.fire(this, 'submit');" }, method: :patch) do |form|
    =form.collection_select :status_id, Status.multi_task_dev_statuses, :id, :name, { prompt: '' , selected: task.status.id}

:javascript
  document.querySelector('.current_progress_status a').addEventListener('click', function (evt) {
    var clickable = #{current_account.types.include?('manager') || current_account.in?(task.assignment_to)};
    if (!clickable) return;

    evt.preventDefault();
    evt.target.parentNode.classList.add('d-none');
    document.getElementsByClassName('change_progress_status_form')[0].classList.remove('d-none');
    return false;
  });

  document.getElementById('status_id').addEventListener('change', (event) => {
    status = event.target.options[event.target.selectedIndex].text;
    if (['blocked', 'canceled'].includes(status)) {
      let comment = prompt(`Please, leave comment`);
      console.log(comment);

      if (comment != null) {
        Rails.ajax({
          type: "POST",
          dataType: 'script',
          url: `#{comment_task_progress_statuses_path(@task)}`,
          data: `comment=${comment}`
        })
      }
    }
  });
