=form_with(url: manual_story_type_iteration_schedules_path(@story_type, @iteration), method: :post) do |form|
  #manual_forms
  .row.mt-3
    .col-6
      =form.submit 'schedule', class: 'btn btn-sm btn-outline-dark'
    .col-6
      #add_form.btn.btn-sm.btn-outline-dark.ml-2
        =icon('fa', 'plus')

:javascript
    var manual_forms = $('#manual_forms');
    $('#add_form').click(function () {
    let hex = secureRandom(6);

    $(manual_forms).append(
          `<div id="manual_${hex}">
            <div class="row mt-4">
                <div class="col-3">
                  <label for="start_date">start date:</label>
                </div>
                <div class="col-5">
                  <input class="w-100" type="date" name="manual[${hex}[start_date]]" id="start_date_${hex}">
                </div>
             </div>
             <div class="row">
                <div class="col-3">
                  <label for="limit">stories per day:</label>
                </div>
                <div class="col-5">
                  <input class="w-100" type="text" name="manual[${hex}[limit]]" id="limit_${hex}">
                </div>
             </div>
             <div class="row">
                <div class="col-3">
                  <label for="total_days_till_end">days to end:</label>
                </div>
                <div class="col-5">
                  <input class="w-100" type="text" name="manual[${hex}[total_days_till_end]]" id="total_days_till_end_${hex}">
                </div>
             </div>
             <div class="row">
                <div class="col-3">
                  <label for="time_frame">time_frame:</label>
                </div>
                <div class="col-5">
                  <input class="w-100" type="text" name="manual[${hex}[time_frame]]" id="time_frame_${hex}">
                </div>
             </div>
             <div class="row">
                <div class="col-3">
                  <label for="extra_args">where:</label>
                </div>
                <div class="col-5">
                  <input class="w-100" type="text" name="manual[${hex}[extra_args]]" id="extra_args_${hex}">
                </div>
             </div>
             <div class="row">
                <div class="col-7">
                  <label for="previous_date">click if start date &lt; today</label>
                  <input name="previous_date_${hex}" type="hidden" value="0">
                  <input class="mt-1" type="checkbox" value="1" name="manual[${hex}[previous_date]]" id="previous_date_${hex}">
                </div>
                <div class="col-5">
                  <div class="remove_form d-inline-block mt-1" id="rm_date_${hex}" onclick="removeForm(manual_${hex})"><i class="fas fa-minus"></i></div>
                </div>
             </div>

           </div>`
    );
    function secureRandom(n){
      let result = '';
      while (n--){
        result += Math.floor(Math.random() * 16).toString(16);
      }

      return result;
    }
  })

  function removeForm(elem) {
    $(elem).remove();
  }

