=form_with(url: backdate_story_type_iteration_schedules_path(@story_type, iteration), method: :post) do |form|
  #dates_editable
  .row.mt-3
    .col-6
      =form.submit 'backdate', class: 'btn btn-sm btn-outline-dark'
    .col-6
      #add_date.btn.btn-sm.btn-outline-dark.ml-2
        =icon('fa', 'plus')

:javascript
  var editable_block = $('#dates_editable');
  $('#add_date').click(function () {
    let hex = secureRandom(6);

    $(editable_block).append(
        `<div id="date_${hex}" class="d-flex mb-1">
            <div class="remove_date d-inline-block mr-1" id="rm_date_${hex}" onclick="removeDate(this)"><i class="fa fa-minus"></i></div>
            <input placeholder="begin date:" id="begin_date_${hex}_name" required="required" type="date" name="backdate[${hex}[begin_date]]" class="mr-1" style="min-width: 110px;">
            <input placeholder="end date:" id="end_date_${hex}_name" required="required" type="date" name="backdate[${hex}[end_date]]" class="mr-1" style="min-width: 110px;">
            <input placeholder="time_frame:" id="arg_${hex}_name" type="name" name="backdate[${hex}[time_frame]]" class="mr-1 mw-10"">
            <input placeholder="where:" id="arg_${hex}_name" type="name" name="backdate[${hex}[where]]" class="mr-1">
        </div>`
    );
  });

  function secureRandom(n){
    let result = '';
    while (n--){
      result += Math.floor(Math.random() * 16).toString(16);
    }

    return result;
  }

  function removeDate(elem) {
    $(elem.parentNode).remove();
  }
