count of stories:
=@iteration.schedule_counts[:total]
%br/
stories scheduled:
=@iteration.schedule_counts[:scheduled]
%br/
stories backdated:
=@iteration.schedule_counts[:backdated]
%hr/
-@iteration.schedule_counts.except(:total, :backdated, :scheduled).each do |client, count|
  ="#{client}: #{count}"
  %br/

