count of stories:
=@iteration.schedule_counts[:total]
%br/
stories scheduled:
=@iteration.schedule_counts[:scheduled]
%br/
stories backdated:
=@iteration.schedule_counts[:backdated]
%hr/
-@iteration.schedule_counts.except(:total, :backdated, :scheduled).each do |client, count|
  ="#{client}: #{count}"
  %br/
-if @iteration.stories.where.not(published_at: nil).count > 1 && @iteration.export.nil?
  -if @story_type.iteration.eql?(@iteration)
    =link_to('purge schedule',
             purge_story_type_iteration_schedules_path(@story_type, @iteration),
             id: 'purge_schedule', class: 'mt-3 btn btn-sm btn-outline-dark',
             method: :patch, remote: true)
