-if !@iteration.creation || @iteration.purge_samples
  -#empty section
-elsif !@story_type.iteration.eql?(@iteration)
  .row.small
    .col-10.offset-1
      #results_scheduling
        =render 'story_types/schedules/results_scheduling', scheduled: true
-elsif @story_type.fact_checking_doc.approval_editors.count < 2
  .row.small
    .col-10.offset-1
      First...let's wait when two editors will approve your FCD.
-elsif @iteration.schedule.eql?(true)
  .row.small
    .col-10.offset-1
      #results_scheduling
        =render 'story_types/schedules/results_scheduling', scheduled: true
-elsif @iteration.schedule.eql?(false)
  =render 'story_types/spinner', description: 'scheduling in progress'
-else
  .row.small
    .col-2.offset-1
      =link_to 'manual schedule', show_form_story_type_iteration_schedules_path(@story_type, @iteration, type: 'manual'), class: 'btn btn-sm btn-outline-dark', remote: true
    .col-2
      -# =link_to 'auto schedule', show_form_story_type_iteration_schedules_path(@story_type, @iteration, type: 'auto'), class: 'btn btn-sm btn-outline-dark', remote: true
    .col-2
      -# =link_to 'backdate schedule', show_form_story_type_iteration_schedules_path(@story_type, @iteration, type: 'backdate'), class: 'btn btn-sm btn-outline-dark', remote: true
    .col-4.offset-1
      =render 'story_types/schedules/results_scheduling', scheduled: false
  .row.small
    .col-6.offset-1
      #forms_schedule
