= form_with(url: include_story_photo_buckets_path(@story)) do |form|
  = form.label :photo_bucket
  = form.collection_select :photo_bucket_id, PhotoBucket.all, :id, :name, { prompt: true }, { name: :id }
  = form.submit 'Add', data: { disable_with: "..." }
