-cron = @story_type.cron_tab
-cron_status = cron&.enabled
-freeze_execution = cron&.freeze_execution

-if !@story_type.iteration.eql?(@iteration)
  \---
-else
  .row.small.mb-1.font-weight-bold
    .col-12
      -if freeze_execution
        [ execution frozen ]
      -else
        =link_to('[ edit ]', edit_story_type_cron_tab_path(@story_type, @story_type.cron_tab),
               class: 'p-0 btn btn-sm btn-link d-inline-block font-weight-normal', remote: true)

-if cron_status && !freeze_execution
  .row
    .col-12
      .font-weight-bold.d-inline-block
        execute:
      #current_cron_description.d-inline-block
        #{@story_type.cron_tab.pattern}
      %br/
      -population_params = @story_type.cron_tab.population_params
      -if population_params.present?
        .font-weight-bold.d-inline-block
          population parameters:
        .d-inline-block
          #{population_params}

  :javascript
    (() => {
      let description = document.getElementById('current_cron_description');
      description.textContent = cronstrue.toString(description.textContent);
    })()
