.row.mt-3
  #total.col-8
    Total:
    =@archived_story_types_grid.assets.total_count

  #additional_menu.col-4.text-right
    =link_to('download in CSV', url_for(format: 'csv', story_types_grid: @grid),
             type: "button", id: '#save_as_csv_btn', class: 'btn btn-sm btn-outline-dark')
    =link_to('filter story types', '#filter_form', 'aria-controls' => 'filter_form',
             'aria-expanded' => false, data: { toggle: "collapse", target: "#filter_form" },
             type: "button", id: '#crt_upd_filter_btn', class: 'btn btn-sm btn-outline-dark')
    -if manager_or_editor
      =link_to('hide archived', story_types_path, class: 'btn btn-sm btn-outline-dark')

#filter_form.collapse
  .row.mt-3.col-12
    =datagrid_form_for @archived_story_types_grid, url: archived_story_types_path

.row.mt-3.col-12
  #data_sets
    #grid_wrapper
      =datagrid_table(@archived_story_types_grid)

.row.mt-3.col-12
  #pagination
    =paginate @archived_story_types_grid.assets
