.badge.badge-pill.badge-info
  =section.name
  =link_to('x', story_type_client_section_path(@story_type, cpts.client, section, client_publication_tag: cpts.id),
           method: :delete, remote: true)
