$('#accountStatus').html('<%= j render 'accounts/main/statuses' %>');
$('#accountStatusComment').html('<%= j render 'accounts/main/status_comment' %>');

(() => {
    let body = $('#accountInfo .card-body');

    <% if @status.name.eql?('deactivated') %>
      body.empty();
    <% else %>
      body.html(
          `<%= j render 'accounts/roles/roles' %>
          <hr>
          <div class='row'>
            <%= j render partial: 'accounts/main/card', collection: @account.cards.includes(:branch, :access_level)  %>
          </div>`
      )
    <% end %>
})();
