%canvas#myChartBar.mt-3{"data-data" => data[:for_bar].to_json, "data-labels" => data[:clients_names].to_json, :height => "150px", :width => "200px"}

%hr.mt-4

%table.table.table-sm
  %thead
    %tr
      %th{:scope => "col", class_name: "table-primary"} client name
      -(0..3).reverse_each do |i|
        %th{:scope => "col"}
          ="#{data[:max_week].to_i - i}"
      %th{:scope => "col"} total
  %tbody
    -data[:clients_names].each do |client_name|
      %tr
        -c_count = data[:clients_counts].select { |row| row['client_name'] == client_name }
        %th{:scope => "row"}
          =client_name
        -(0..3).reverse_each do |i|
          %td
            -count = c_count.select { |c| c['story_week'].to_i == data[:max_week].to_i - i }
            =count.blank? ? 0 : count.first['count_story_id']
        %td
          =c_count.select{ |c| c['story_week'].to_i >= data[:max_week].to_i - 3 }.sum { |c| c['count_story_id'].to_i }
