.row.justify-content-center#link.mb-3.mt-3
  =link_to 'generate report', get_report_press_release_reports_path, remote: true, type: 'button', class: 'btn btn-outline-secondary'

#press_release_report
