%li.nav-item.text-center
  %a.nav-link{ class: (index.zero? ? 'active' : ''), "aria-selected" => "true",
               "data-toggle" => "tab", :href => "#dataSample#{index}", :role => "tab"}
    =location
