#additionalProperties
  %hr/
  .row.mb-1.font-weight-bold.col-12
    comment
    -if current_account_permissions('story_types', %w(comment edit_form)) && @story_type.developer.eql?(current_account) && %w(blocked canceled).include?(@story_type.status.name)
      .col-1.p-0.text-center
        =link_to icon('fa', 'pencil', class: ' fa-xs text-dark'), edit_story_type_path(@story_type), remote: true,
                 'data-toggle': 'collapse', role: 'button', href: '#commentForm', 'aria-expanded': 'false',
                 'aria-controls': 'commentForm'
  .row
    .col-12
      #commentForm.text-left.collapse.w-100
        =form_with(model: @story_type, class: 'form') do |form|
          .form-group.mb-2
            =form.text_area :comment, value: @story_type.comment, class: 'w-100'
          .form-group.mb-2
            =form.submit :edit
  .row.col-12
    -if @story_type.comment.present?
      #storyTypeComment.text-left
        = simple_format(h(@story_type.comment.html_safe), {}, sanitize: false)
