=form_with(model: @story_type) do |form|
  =form.text_field :name, class: 'underline-input p-0', required: true
  =form.submit '[ rename ]', class: 'btn btn-sm btn-link pr-0'
  =link_to('[ cancel ]', canceling_edit_story_type_path(@story_type), class: 'btn btn-sm btn-link  pl-0', remote: true)
