
.row.small
  .col-12.text-center
    =form_with(url: story_types_path, method: :get, local: true, html: { class: 'd-inline' }) do |form|
      =form.label :data_set
      =form.collection_select 'filter[data_set]', DataSet.all.order(:name), :id, :name, include_blank: '', selected: @filter_params['data_set']
      =form.label :developer
      =form.select 'filter[developer]', [['(not assigned)', 'null']] + Account.all.map { |p| [ p.name, p.id ] }.sort_by { |r| r[0] }, include_blank: '', selected: @filter_params['developer']
      =form.label :frequency
      =form.collection_select 'filter[frequency]', Frequency.all, :id, :name, include_blank: '', selected: @filter_params['frequency']
      =form.label :dev_status
      =form.collection_select 'filter[status]', Status.all, :id, :name, include_blank: '', selected: @filter_params['status']
      =form.submit 'Find', class: 'ml-3'
    =button_to('Reset', story_types_path, form: { class: 'd-inline' }, method: :get)
