=form_with(model: StoryType.new, local: true) do |form|
  .row.small
    .col-sm-8.col-form-label
      .form-group
        =form.text_field :name, placeholder: 'new story type name', class: 'form-control', required: true
      .form-group
        =form.text_area :comment, placeholder: 'comment', class: 'form-control'
      .form-group
        =form.number_field :gather_task, placeholder: 'gather task id', class: 'form-control'
      .form-group
        .form-check
          =form.check_box :migrated
          =form.label :migrated, 'migrated from Loki'
        .col-sm-2
          =form.submit :create, id: 'hiddenCreateButton', class: 'w-100'
    .col-sm-2
      =link_to icon('fa', 'fa fa-times text-dark'), :back
