#story_type_properties.col-lg-6.col-md-12.card.p-0.my-2
  .card-header.d-flex.justify-content-between.align-items-center
    PROPERTIES
    -#TODO: if this is correct implementation of user permissions?
    -if current_account_permissions('story_types')['edit']
      =button_to('Edit', story_type_property_form_path(@story_type), method: :get, remote: true,
                   data: { toggle: 'modal', target: '#storyTypePropertiesForm' })
  #properties.h-100
    .flash
    .card-body.d-flex.flex-column
      =render 'story_types/properties/properties'
