#template.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "template",
                      role: "dialog", tabindex: "-1", 'data-backdrop' => 'static',  'data-keyboard' => "false" }
  .modal-dialog.modal-dialog-centered.modal-xl
    .modal-content
      .modal-header
        %h5.modal-title
      .modal-body
