%hr/
#header.d-flex.justify-content-between.align-items-center.mt-3
  %span
    -if @current_list
      Total: #{@grid.assets.total_count}
  %span.font-weight-bold
    STORY TYPES
  .d-flex.text-right.text-uppercase
    -if @current_list && @lists.length > 1
      #orderedLists
        =render 'ordered_lists/lists', branch: 'story_types'
    .btn-group
      -if @current_list
        =link_to('filter', '#', class: 'btn btn-sm btn-outline-dark',
                 "data-target" => "#filterStoryTypes", "data-toggle" => "collapse")
      -if current_account_permissions('story_types', ['new_form'])
        =link_to('create', '#', class: 'btn btn-sm btn-outline-dark',
                 "data-target" => "#createStoryTypeModal", "data-toggle" => "modal")
%hr/

-if @current_list
  #filterStoryTypes.mt-3.mb-3.collapse
    =datagrid_form_for @grid, url: story_types_path

  -if @current_list && @grid.assets.total_count > 0
    .text-right.mb-2
      =link_to('[ download CSV ]', url_for(format: 'csv', story_types_grid: request.parameters[:story_types_grid]),
               id: '#save_as_csv_btn', class: 'small')

  #storyTypesTable.row.small.mb-5
    .col-12
      =datagrid_table(@grid)

  .fixed-bottom.bg-light
    .row
      .col-12.p-2
        =paginate @grid.assets

-if current_account_permissions('story_types', %w(new_form))
  #createStoryTypeModal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "createStoryTypeModal",
                                      'data-backdrop' => 'static', "data-keyboard" => "false" }
    .modal-dialog.modal-dialog-scrollable
      .modal-content
        .modal-header
          NEW STORY TYPE
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body.small
          =render 'new'
        .modal-footer.justify-content-center
          =link_to('CREATE', '#', id: 'createStoryTypeButton', class: 'btn btn-sm btn-dark')
          .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
            CANCEL

  :javascript
    document.querySelector('#createStoryTypeButton').addEventListener('click', (event) => {
      event.preventDefault();
      document.querySelector('#hiddenStoryTypeCreateButton').click();
    }, false);
