%div{ id: "data_set", data_set_id: @story_type.data_set.id }
%div{ id: "story_type", story_type_id: @story_type.id, iteration_id: @iteration.id }

%hr
.row
  .col-12.text-center
    #story_type_name
      =link_to(story_type_path(@story_type)) do
        %b ##{@story_type.id} #{@story_type.name}
%hr/

.row
  .col-10
    #story_type_iterations.d-inline
      =render partial: 'story_types/iterations/iteration',
              collection: @story_type.iterations.where(cron_tab: [nil, false]),
              current_iteration: @story_type.iteration
    #new_story_type_iteration.d-inline
      =render 'story_types/iterations/new_iteration'
  .col-2.text-right
    #story_type_status
      =render 'story_types/progress_statuses/status'
%hr/

.d-flex.justify-content-between.align-items-center.mb-3.small.mt-n3
  .text-secondary
    created by #{@story_type.editor&.name}
  .text-secondary
    created at: #{@story_type.created_at}

.row.small.justify-content-md-center.justify-content-lg-start.mx-0
  #template_section.col-lg-6.col-md-12.p-0.my-2
    =render 'story_types/main/template_section'
  #properties_section.col-lg-6.col-md-12.p-0.my-2
    =render 'story_types/main/properties_section'

.row.small.justify-content-md-center.justify-content-lg-start.mx-0
  #staging_table_section.col-lg-6.col-md-12.p-0.my-2
    =render 'story_types/main/staging_table_section'
  #samples_section.col-lg-6.col-md-12.p-0.my-2
    =render 'story_types/main/samples_section'

.row.small.justify-content-md-center.justify-content-lg-start.mx-0
  #scheduler_section.col-lg-6.col-md-12.p-0.my-2
    =render 'story_types/main/scheduler_section'
  #export_section.col-lg-6.col-md-12.p-0.my-2
    =render 'story_types/main/export_section'

%hr.mb-5/
=render 'story_types/main/template_modal'
=render 'story_types/codes/modal_ruby_code'
=render 'data_sets/main/modal_data_set'
