=form_with(url: manual_story_type_schedules_path(@story_type)) do |form|
  .row
    .col-4
      =form.label :start_date, 'Start date:'
    .col-4
      =form.date_field :start_date
  .row
    .col-4
      =form.label :start_date, 'Limit:'
    .col-4
      =form.text_field :limit
  .row
    .col-4
      =form.label :start_date, 'Total days till end:'
    .col-4
      =form.text_field :total_days_till_end
  .row
    .col-4
      =form.label :start_date, 'Extra_args:'
    .col-4
      =form.text_field :extra_args
  =form.submit 'Schedule', class: 'mr-auto btn btn-sm btn-outline-success'