=form_with(url: manual_story_type_schedules_path(@story_type)) do |form|
  .row
    .col-3
      =form.label :start_date, 'start date:'
    .col-9
      =form.date_field :start_date
  .row
    .col-3
      =form.label :limit, 'stories per day:'
    .col-9
      =form.text_field :limit
  .row
    .col-3
      =form.label :total_days_till_end, 'days to end:'
    .col-9
      =form.text_field :total_days_till_end
  .row
    .col-3
      =form.label :extra_args, 'where:'
    .col-9
      =form.text_field :extra_args
  .row.mt-3
    .col-3.small.p-0
      =link_to('auto schedule',
               auto_story_type_schedules_path(@story_type),
               class: 'btn btn-sm btn-outline-dark',
               method: :post, remote: true)
    .col-9
      =form.submit 'schedule',
                    class: 'btn btn-sm btn-outline-dark'
