=form_with(url: backdate_story_type_schedules_path(@story_type), method: :post) do |form|
  .row
    .col-12#add-date
      +
  .row
    %div#dates-editable

    #backdate_extra_args.btn-group.mb-2
  =form.submit 'Backdate', class: 'mt-4 btn btn-sm btn-outline-dark'
