.card
  .card-body
    %p
      all count of stories:
      =@story_type.iteration.schedule_counts[:total]
    %p
      stories sheduled:
      =@story_type.iteration.samples.where.not(published_at: nil).where(backdated: 0).count
    %p
      stories backdated:
      =@story_type.iteration.samples.where(backdated: 1).count
    =render 'schedules/purge_scheduling'
