-iteration = @story_type.iteration
-if @story_type.iteration.schedule.eql?(true)
  .row.small
    .col-10.offset-1
      #results_scheduling
        =render 'schedules/results_scheduling', iteration: iteration, scheduled: true
-else
  .row.small
    .col-6.offset-1
      =render 'schedules/form'
    .col-4
      =render 'schedules/results_scheduling', iteration: iteration, scheduled: false

  -if iteration.samples.where.not(published_at: nil).any?
    %hr/
    .row.small
      .col-5.offset-1
        #backdate_scheduler
          =render 'schedules/form_backdate', iteration: iteration
