<% if flash.now[:message] %>
  $(`#story_type_scheduler_<%= @story_type.iteration.id %> .flash`).html(
    `<div class="alert alert-<%= schedules_alert(flash.now[:message]) %> text-center">
        <%= flash.now[:message].gsub('`', "'") %>
    </div>`
  )
<% end %>

$('#scheduler .card-body').html('<%= j render 'schedules/scheduler' %>');
$('#export .card-body').empty();
