.row.mb-1{ id: "client_publication_tag_#{client_publication_tag.id}" }
  .col-4.client
    =render client_publication_tag.client, client_publication_tag: client_publication_tag
  .col-4.client_publication
    =render 'publications/publication', client_publication_tag: client_publication_tag
  .col-4.client_tag
    -if client_publication_tag.tag
      =render client_publication_tag.tag, client_publication_tag: client_publication_tag
    -else
      =render 'tags/form', client_publication_tag: client_publication_tag, client: client_publication_tag.client
      