=form_with(url: include_story_type_clients_path(@story_type), html: { onchange: "Rails.fire(this, 'submit')" }) do |form|
  =form.collection_select :client_id, Client.where(hidden: false).order(name: :asc), :id, :name, { prompt: '' }, { name: :id }
