$('#clients').append(`
  <div id="client-<%= @client.id %>">
    <%= @client.name %>
    <%= link_to('X', exclude_story_client_path(story_id: @story.id, id: @client.id), method: :delete, remote: true) %>
  </div>
`)
