.row.small.col.justify-content-between
  -unless comment.commentator.nil?
    .font-weight-bold
      =comment.commentator.name
  .text-secondary.font-italic.small
    =comment.created_at.strftime('%F %R %Z')
.row.col-12.small
  =comment.body&.html_safe
%hr.mt-3.mb-3/
