=form_with(model: @comment, url: task_comments_path(subtype: 'task comment')) do |form|
  .row
    .col.small
      =form.rich_text_area :body, class: 'form-control overflow-auto', required: true, style: 'min-height: 150px;'
  .modal-footer.justify-content-center
    =form.submit :send, class: 'btn btn-sm btn-outline-success'

:javascript
  $('#comment').on('hidden.bs.modal', function () {
    $('#comment .modal-body').empty();
  });
