=form_with(model: @comment, url: task_comments_path) do |form|
  .row
    .col.small
      =hidden_field_tag 'comment[subtype]', params[:subtype]
      =form.rich_text_area :body, class: 'form-control overflow-auto', required: true, style: 'min-height: 150px;', :input_html => {:minlength => 10}
  .modal-footer.justify-content-center
    =form.submit :send, class: 'btn btn-sm btn-outline-success'
