%table.table.table-bordered.table-sm
  %tbody
    -@multi_task.subtasks.each do |subtask|
      %tr
        %th{:scope => "row"}
          ="#" + subtask.id.to_s
        -if subtask.status.name.in?(%w[blocked canceled])
          %td{ class: "bg-#{status_color(subtask.status.name)}", 'data-toggle' => 'tooltip', 'data-placement' => 'left', title: truncate(subtask.status_comment, length: 150) }
            =subtask.status.name
        -else
          %td{ class: "bg-#{status_color(subtask.status.name)}" }
            =subtask.status.name
        %td
          =link_to subtask.title, multi_task_path(subtask)
        %td
          =subtask.assignment_to.pluck(:first_name, :last_name).map { |r| [r[0] + ' ' + r[1]] }.join(', ')
        %td
          =subtask.deadline
        -if subtask.status.name.eql?('done')
          %td
            =subtask.sum_hours
