%hr/
#header.row.justify-content-between.align-items-center.mt-3
  .col-6
    Total:
    =@grid.assets.total_count
  .col-6.text-right.text-uppercase
    .btn-group.mr-3
      -lists = %w[assigned yours all]
      -lists.each do |list|
        -filled = (!params[:list].in?(lists) && list.eql?('assigned')) || params[:list].eql?(list) ? '' : '-outline'
        =link_to(list, url_for(list: list), class: "btn btn-sm btn#{filled}-dark")
      =link_to('archived', url_for(list: :archived), class: "disabled btn btn-sm btn-outline-dark")
    .btn-group
      =link_to('filter', '#', class: 'btn btn-sm btn-outline-dark',
               "data-target" => "#filterMultiTasks", "data-toggle" => "collapse")
      =link_to('create', '#', class: 'btn btn-sm btn-outline-dark',
             "data-target" => "#createMultiTaskModal", "data-toggle" => "modal")
%hr/

#filterMultiTasks.mt-3.mb-3.collapse{ class: (params[:multi_tasks_grid] ? 'show' : '') }
  =datagrid_form_for @grid, url: multi_tasks_path

.row.small.mb-5
  .col-12
    =datagrid_table(@grid)

.fixed-bottom.bg-light
  .row
    .col-12.p-2
      =paginate @grid.assets

#createMultiTaskModal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "createMultiTaskModal",
                                    'data-backdrop' => 'static', "data-keyboard" => "false" }
  .modal-dialog.modal-dialog-scrollable.modal-fullscreen.modal-lg{ style: 'width: 80%'}
    .modal-content
      .modal-header
        NEW MULTI TASK
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.small
        =render 'main_form'
      .modal-footer.justify-content-center
        =link_to('CREATE', '#', id: 'createMultiTaskButton', class: 'btn btn-sm btn-dark')
        .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
          CANCEL

:javascript
  document.querySelector('#createMultiTaskButton').addEventListener('click', (event) => {
    event.preventDefault();
    document.querySelector('#hiddenCreateButton').click();
  }, false);
