%hr/
.row.justify-content-center
  =link_to("##{@multi_task.id} #{@multi_task.title}", multi_task_path(@multi_task))
%hr/

.row
  .col#assignments
    =render 'multi_tasks/assignments/assignments', task: @multi_task
  .col#task_status.text-right
    -if current_account_permissions('multi_tasks', %w[progress_status edit_form])
      =render 'multi_tasks/progress_statuses/status', task: @multi_task
    -elsif current_account_permissions('multi_tasks', %w[progress_status show])
      =@multi_task.status.name

.row.mt-3.mb-4
  .col-6.pr-1
    #mainInfoConfirms
      =render 'task_info'
      #confirms
        =render 'multi_tasks/receipts/confirm_receipts', task: @multi_task
  .col-6.pl-1
    .card#commentsCard
      .card-header.p-1
        .d-flex.justify-content-between.small
          COMMENTS
          -if current_account_permissions('multi_tasks', %w[comments new_form]) && (current_account.manager? || current_account.eql?(@multi_task.creator) || current_account.in?(@multi_task.assignment_to))
            #comment_form
              =link_to('[ add comment ]',
                       new_multi_task_comment_path(@multi_task, subtype: 'user comment'),
                       remote: true)
      .card-body.overflow-scroll
        -if current_account_permissions('multi_tasks', %w[comments show])
          =render 'comments', comments: @comments

  :javascript
    document.querySelector('#commentsCard').style.height = `${document.querySelector('#mainInfoConfirms').offsetHeight}px`;

.row.mb-4
  .col-12.mb-1
    #notes
      .card.h-100.small
        .card-header.p-1
          .row
            .col-10{"aria-controls" => "#notesCollapse", "aria-expanded" => "true", "data-target" => "#notesCollapse", "data-toggle" => "collapse", type: "button"}
              NOTES
            .col-2.text-right#linkEditNote
              -if %w[show edit_form].map { |access| current_account_permissions('multi_tasks', ['notes', access]) }.all? && @note
                =render 'multi_tasks/notes/link_edit', note: @note
        #notesCollapse.collapse{"data-parent" => "#notes"}
          -if current_account_permissions('multi_tasks', %w[notes show]) && (current_account.eql?(@multi_task.creator) || current_account.in?(@multi_task.assignment_to))
            =render 'multi_tasks/notes/note', note: @note
  .col-12
    #subtasks
      .card.small.h-100
        .card-header.p-1
          %div.row
            .col-10
              %div{"aria-controls" => "#subtasksCollapse", "aria-expanded" => "true", "data-target" => "#subtasksCollapse", "data-toggle" => "collapse", type: "button"}
                SUB TASKS - #{@multi_task.subtasks.count}
            .col-2.text-right
              -if %w[show new_form].map { |access| current_account_permissions('multi_tasks', ['sub_tasks', access]) }.all? && @multi_task.creator?(current_account)
                =link_to '[ create ]', new_subtask_multi_tasks_path(parent_task: @multi_task), remote: true
        #subtasksCollapse.collapse.p-3{"data-parent" => "#subtasks", class: @multi_task.subtasks.count > 0 ? 'show' : '' }
          -if current_account_permissions('multi_tasks', %w[sub_tasks show])
            =render 'subtasks'


.card
  .card-header.p-1
    .d-flex.justify-content-between.small
      INFO
  .card-body
    #body
      .row.small.mb-3
        .col-10.offset-1
          .fr-view
            -# -if @multi_task.checklists.exists?
              %ul
                -@multi_task.checklists.each do |checklist|
                  %li.mb-2
                    =checklist.description
              %hr.mt-3.mb-3
            =@multi_task.description&.html_safe

-# =render 'multi_tasks/checklists/confirms'
=render 'multi_tasks/tracking_hours/hours_form'

-if current_account_permissions('multi_tasks', ['edit_form'])
  #task.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "properties", role: "dialog", "data-backdrop" => "static", "data-keyboard" => "false" }
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable{ style: "max-width: 80%;" }
      .modal-content
        .modal-header
        .modal-body

- if %w[comments edit_form].map { |access| current_account_permissions('multi_tasks', [access]) }.any?
  #comment.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "properties", role: "dialog", :tabindex => "-1"}
    .modal-dialog.modal-dialog-centered.modal-xl
      .modal-content
        .modal-body
