<div id="responsibleEditor" class="row mb-3">
  <div class="col-3 text-right pr-0">
    <b>RESPONSIBLE EDITOR:</b>
    <%= link_to(icon('fa', 'pencil-square'), edit_data_set_responsible_editor_path(@data_set), class: 'p-0 ml-2', remote: true) %>
  </div>

  <div class="col d-flex align-items-center">
    <%= @data_set.responsible_editor&.name %>
  </div>
</div>
