=form_with(url: include_story_type_frequencies_path(@story_type), html: { onchange: '$(this).submit();' }) do |form|
  =form.collection_select :frequency_id, Frequency.all, :id, :name, { prompt: '' }, { name: :id }
