= form_with(url: include_story_type_frequencies_path(@story_type)) do |form|
  = form.label :frequency
  = form.collection_select :frequency_id, Frequency.all, :id, :name, { prompt: true }, { name: :id }
  = form.submit 'Add', data: { disable_with: "..." }
