- @story_type.frequencies.each do |fr|
  %div{id: "frequency-#{fr.id}"}
    = fr.name
    = link_to('X', exclude_story_frequency_path(story_type_id: @story_type.id, id: fr.id), method: :delete, remote: true)