=form_with(model: @data_location) do |form|
  -data_location_keys.each do |field|
    .row
      .col-3
        =form.label field
      .col-9
        -if field.eql?(:cron_scraping)
          =form.check_box field
        -else
          =form.text_field field
  .row
    .col-12
      =form.submit 'Add', data: { disable_with: "..." }
