#factoidRequestStatusComment
  =render 'status_comment'

-if(current_account.types & ['manager', 'outside manager']).any?
  .row.mb-4
    .col-3.pr-0.text-right.font-weight-bold
      requester:
    .col-9
      =@factoid_request.requester.name

.row.mb-1
  .col-3.pr-0.text-right.font-weight-bold
    agency:
  .col-9
    =@factoid_request.agency&.name
.row.mb-1
  .col-3.pr-0.text-right.font-weight-bold
    opportunity:
  .col-9
    =@factoid_request.opportunity&.name

.row.mt-4
  .col-3.pr-0.text-right.font-weight-bold
    description:
  .col-9
    =@factoid_request.description&.body.html_safe
.row
  .col-3.pr-0.text-right.font-weight-bold
    purpose:
  .col-9
    =@factoid_request.purpose&.body.html_safe

.row
  .col-3.pr-0.text-right.font-weight-bold
    data sets:
  .col-9
    -if(current_account.types & ['manager']).any?
      -@factoid_request.data_sets.each do |ds|
        =link_to(ds.name, ds, target: '_blank')
        %br/
    -else
      =@factoid_request.data_sets.each do |ds|
        =ds.name
        %br/

.row.mt-4.text-break
  .col-3.pr-0.text-right.font-weight-bold
    google document/spreadsheet:
  .col-9
    -if @factoid_request.google_doc_sheet_link.present?
      =link_to(nil, @factoid_request.google_doc_sheet_link)

.row.mt-4.text-break
  .col-3.pr-0.text-right.font-weight-bold
    priority:
  .col-9
    =@factoid_request.priority.name.split(' - ').first
.row.mb-4.text-break
  .col-3.pr-0.text-right.font-weight-bold
    frequency:
  .col-9
    =@factoid_request.frequency&.name
