-if @request.status.name.in?(%w[blocked canceled])
  .row.mb-4
    .col-3.pr-0.text-right.text-danger.font-weight-bold
      #{@request.status.name.capitalize}. Why?
    .col-9
      =@request.status_comment&.body
  %hr/
