%hr/
#header.d-flex.justify-content-between.align-items-center.mt-3
  %span
    -if @current_list
      Total: #{@grid.assets.total_count}
  %span.font-weight-bold
    FACTOID REQUESTS
  .d-inline-block.text-right.text-uppercase
    .btn-group.mr-3
      -if @current_list && @lists.length > 1
        -@lists.each_key do |list|
          -filled = @current_list.eql?(list) ? '' : '-outline'
          =link_to(list, url_for(list: list), class: "btn btn-sm btn#{filled}-dark")
    .btn-group
      -if @current_list
        %button.disabled.btn.btn-sm.btn-outline-dark
          FILTER
          -# =link_to('filter', '#', class: 'disabled btn btn-sm btn-outline-dark',
          -#      "data-target" => "#filterFReq", "data-toggle" => "modal")
      -if current_account_permissions('factoid_requests', ['new_form'])
        =link_to('create', '#', class: 'btn btn-sm btn-outline-dark',
                 "data-target" => "#createFactoidRequestModal", "data-toggle" => "modal")
%hr.mb-1/

-if @current_list
  -##filterFReq.mt-3.mb-3.collapse{ class: (params[:work_requests_grid] ? 'show' : '') }
  -#  =datagrid_form_for @grid, url: work_requests_path(list: @current_list)

  .row.small.mb-5
    .col-12
      =datagrid_table(@grid)

  .fixed-bottom.bg-light
    .row
      .col-12.p-2
        =paginate @grid.assets

-if current_account_permissions('factoid_requests', ['new_form'])
  #createFactoidRequestModal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "createWorkRequestModal",
                                         'data-backdrop' => 'static', "data-keyboard" => "false" }
    .modal-dialog.modal-dialog-scrollable.modal-lg
      .modal-content
        .modal-header
          NEW FACTOID REQUEST
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          =render 'new'
        .modal-footer.justify-content-center
          =link_to('CREATE', '#', id: 'createFactoidRequestButton', class: 'btn btn-sm btn-dark')
          .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
            CANCEL

  :javascript
    document.querySelector('#createFactoidRequestButton').addEventListener('click', (event) => {
      event.preventDefault();
      document.querySelector('#hiddenCreateButton').click();
    }, false);
