%hr/
.row.m-2.align-items-center
  .col-6
    Factoid Requests
  .col-6.text-right
    -if current_account.types.include?('manager')
      .btn-group.mr-3
        =link_to 'all requested factoids', factoid_requests_path,
                   class: 'btn btn-sm btn-outline-dark'
        =link_to('requested factoids by you',
                   url_for(@grid.to_param => { requester: current_account.id }),
                   class: 'btn btn-sm btn-outline-dark')
    %button.btn.btn-sm.btn-outline-dark{ "data-target" => "#requestFactoidForm", "data-toggle" => "modal" }
      request factoid
%hr/

.row
  .col-12
    .small.align-items-center
      =datagrid_table(@grid)

.row.mt-3.col-12
  #pagination
    =paginate @grid.assets

#requestFactoidForm.modal.fade{ 'data-backdrop' => "static", "aria-hidden" => "true", "aria-labelledby" => "requestFactoidForm" }
  .modal-dialog.modal-dialog-scrollable.modal-fullscreen
    .modal-content
      .modal-header
        %h5#requestFactoidFormLabel.modal-title Factoid Request Form
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        =render 'new', modal: true
      .modal-footer.justify-content-center
        =link_to('create', '#', id: 'createFactoidRequestButton', class: 'btn btn-sm btn-secondary')
        .mr-1.ml-1
        .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
          cancel

:javascript
  document.querySelector('#createFactoidRequestButton').addEventListener('click', (event) => {
    event.preventDefault();
    document.querySelector('#hiddenCreateButton').click();
  }, false);
