%div{ id: "factoidRequest", factoid_request_id: @factoid_request.id }

%hr/
#factoidRequestName.text-center
  =link_to("##{@factoid_request.id} #{@factoid_request.name}", @factoid_request)
%hr.mb-0/

.d-flex.justify-content-between.align-items-center.mb-3.small
  .text-secondary
    created by #{@factoid_request.requester.name}
  .text-secondary
    created at: #{@factoid_request.created_at}

#factoidRequestInfo.mt-4.mb-4.small
  .card
    .card-header.p-1
      .d-flex.justify-content-between.align-items-center
        MAIN INFO
        .d-flex.align-items-center
          -if @factoid_requests_permissions['edit_form']
            #editFactoidRequest
              .d-inline-block.mr-2.small
                %button{ type: 'button', class: 'p-0 ml-1 btn btn-sm btn-link', 'data-toggle' => "modal", 'data-target' => "#updateFactoidRequestModal" }
                  [ edit ]
          -if @factoid_requests_permissions['progress_status'].values.any?
            #factoidRequestStatus.d-inline-block
              -if @factoid_requests_permissions['progress_status']['edit_form']
                =render 'statuses'
              -elsif @factoid_requests_permissions['progress_status']['show']
                =@factoid_request.status.name
    .card-body
      =render 'factoid_request_info'

-if @factoid_requests_permissions['templates']['show']
  #factoidRequestTemplates.small
    =render partial: 'factoid_requests/templates/template', collection: (1..5)

-if @factoid_requests_permissions['edit_form']
  #updateFactoidRequestModal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "createWorkRequestModal",
                                                 'data-backdrop' => 'static', "data-keyboard" => "false" }
    .modal-dialog.modal-dialog-scrollable.modal-lg
      .modal-content
        .modal-header
          UPDATE FACTOID REQUEST
          %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
            %span{ "aria-hidden" => "true" } ×
        .modal-body
          =render 'edit'
        .modal-footer.justify-content-center
          =link_to('UPDATE', '#', id: 'updateFactoidRequestButton', class: 'btn btn-sm btn-dark')
          .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
            CANCEL

  :javascript
    document.querySelector('#updateFactoidRequestButton').addEventListener('click', (event) => {
      event.preventDefault();
      document.querySelector('#hiddenUpdateButton').click();
    }, false);
