%div{ id: "factoidRequest", factoid_request_id: @factoid_request.id }


%hr/
#factoidRequestName.text-center
  =link_to("##{@factoid_request.id} #{@factoid_request.name}", @factoid_request)
%hr.mb-0/

.d-flex.justify-content-between.align-items-center.mb-3.small
  .text-secondary
    created by #{@factoid_request.requester.name}
  .text-secondary
    created at: #{@factoid_request.created_at}

#factoidRequestInfo.mt-4.mb-4.small
  .card
    .card-header.p-1
      .d-flex.justify-content-between.align-items-center
        Main info
        .d-flex.align-items-center
          #factoidRequestStatus.d-inline-block
            =render 'statuses'
          #editFactoidRequest
            -if current_account.eql?(@factoid_request.requester) || (current_account.types & ['manager', 'outside manager']).any?
              .d-inline-block.mr-2.small
                %button{ type: 'button', class: 'p-0 ml-1 btn btn-sm btn-link', 'data-toggle' => "modal", 'data-target' => "#updateFactoidRequestModal" }
                  [ edit ]
    .card-body
      =render 'factoid_request_info'

#factoidRequestsTemplates.small
  =render 'templates'

#updateFactoidRequestModal.modal.fade.pr-0{ "aria-hidden" => "true", "aria-labelledby" => "updateFactoidRequestModalLabel",
                                            role: "dialog", tabindex: "-1", 'data-backdrop' => 'static', 'data-keyboard' => 'false' }
  .modal-dialog.modal-dialog-scrollable.modal-fullscreen
    .modal-content
      .modal-header
        %h5#updateFactoidRequestModalLabel.modal-title Update Factoid Request
        %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
          %span{ "aria-hidden" => "true" } ×
      .modal-body
        =render 'edit'
      .modal-footer.justify-content-center
        =link_to('update', '#', id: 'updateFactoidRequestButton', class: 'btn btn-sm btn-secondary')
        .mr-1.ml-1
        .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
          cancel

:javascript
  document.querySelector('#updateFactoidRequestButton').addEventListener('click', (event) => {
    event.preventDefault();

    document.querySelector('#hiddenUpdateButton').click();
  }, false);
