<div id="tags" class="row mb-3">
  <div class="col-3 text-right pr-0">
    <b>TAGS:</b>
    <%= link_to(icon('fa', 'pencil-square'), edit_scrape_task_tags_path(@scrape_task), class: 'p-0 ml-2', remote: true) %>
  </div>

  <div class="col d-flex align-items-center">
    <% @scrape_task.tags.each do |tag| %>
      <div class="badge badge-pill badge-info mr-1">
        <%= tag.name %>
      </div>
    <% end %>
  </div>
</div>
