$('select#factoid_type_topic_id').empty();
$('select#factoid_type_topic_id').append( $('<option>Select the Description</option>'));
<% @topics.each do |topic| %>
  $('select#factoid_type_topic_id').append($('<option value="<%= topic.id %>"><%= topic.description %></option>'));
<% end %>
