%br
#frequency
  -if @story_type.frequencies.present?
    =render 'frequencies/story_frequency'
  -else
    =render 'frequencies/form'
%br/
#clients
  =render 'clients/form'
  =render 'clients/story_type_clients'
%br/
#sections
  =render 'sections/form'
  =render 'sections/story_type_sections'
%br/
#tags
  =render 'tags/form'
  =render 'tags/story_type_tags'
%br/
#photo-bucket
  - if @story_type.photo_buckets.present?
    =render 'photo_buckets/story_type_photo_bucket'
  - else
    =render 'photo_buckets/form'
%br/