= form_with(model: @story_type, url: dev_status_story_type_path(@story_type), method: :put, html: { onchange: 'this.submit();' }) do |form|
  .row
    .col-3
      = form.label  :dev_status
      = form.select :dev_status, dev_statuses
