=form_with(model: @story_type) do |form|
  .row.pl-0
    .col-10.pr-0
      =form.text_field :name, placeholder: 'new name', required: true, class: 'w-100'
    .col-2.p-0
      =form.submit :rename, class: 'w-100'
