-model = @story_type.new_record? ? [@data_set, @story_type] : @data_set
=form_with(model: model) do |form|
  %hr/
  =form.text_field :name, placeholder: 'name', required: true
  %hr/
  %div{"data-controller" => "summernote"}
    =form.text_area :body, 'data-provider': :summernote
  %hr/
  =form.submit @story_type.new_record? ? :create : :update
