.row.small
  .col-10.offset-1
    .row.mb-2.font-weight-bold
      .col-6
        data set
      .col-6
        date location
    .row
      .col-6
        =link_to @story_type&.data_set&.name, data_set_path(@story_type.data_set), class: 'no-link', method: :get
        =link_to icon('fa', 'fa fa-info-circle'), data_set_path(@story_type.data_set), method: :get, remote: true
      .col-6
        =@story_type&.data_set&.location
    %hr/

    .row.mb-2.font-weight-bold
      .col-6
        client
      .col-6
        tag
    -@story_type.client_tags.each do |cl_t|
      .row
        .col-6
          =cl_t.client.name
        .col-6
          =cl_t.tag ? cl_t.tag.name : 'tag not set'
    %hr/

    .row.mb-2.font-weight-bold
      .col-6
        frequency
      .col-6
        photo bucket
    .row
      .col-6
        =@story_type&.frequency&.name
      .col-6
        =@story_type&.photo_bucket&.name
    %hr/

=render 'data_sets/modal_data_set'
