#reminder_panel
  -if @story_type.updates?
    =render 'reminders/reminder'
%hr/

.row.small
  .col-5.offset-1.border-right.mr-1
    .row.mb-2.font-weight-bold
      .col-12
        data set
    .row
      .col-12
        -if current_account.types.include?('manager')
          =link_to @story_type.data_set.name, data_set_path(@story_type.data_set), class: 'no-link'
        -else
          =@story_type.data_set.name
        =link_to icon('fa', 'fa fa-info-circle'), properties_data_set_path(@story_type.data_set), remote: true
    %hr/

    .row.mb-2.font-weight-bold
      .col-8
        client
      .col-4
        tag
    -@story_type.clients_publications_tags.each do |cl_t|
      .row
        .col-8
          =cl_t.client.name + "(#{cl_t.publication ? cl_t.publication.name : 'all pubs'})"
        .col-4
          =cl_t.tag ? cl_t.tag.name : 'tag not set'
    %hr/

    .row.mb-2.font-weight-bold
      .col-6
        frequency
      .col-6
        photo bucket
    .row
      .col-6
        =@story_type&.frequency&.name
      .col-6
        =@story_type&.photo_bucket&.name
    %hr/

    .row.mb-2.font-weight-bold
      .col-6
        editor
      .col-6
        developer
    .row
      .col-6
        =@story_type.editor.name
      .col-6
        =@story_type.developer ? @story_type.developer.name: '---'
    %hr/
    .row.mb-2.font-weight-bold
      .col-12
        current iteration id
    .row
      .col-12
        =@iteration.id
  .col-5.border-left.ml-1
    .row.mb-2.font-weight-bold
      .col-12
        story type's code
    #story_type_code
      =render 'codes/section'
    %hr/

    .row.mb-2.font-weight-bold
      .col-12
        export configurations (manual execution)
    #export_configs
      =render 'export_configurations/export_configurations'
    %hr/

    .row.mb-2.font-weight-bold
      .col-12
        cron tab

    #cron_tab_panel
      =render 'cron_tabs/cron_tab'
    %hr/

=render 'data_sets/modal_data_set'
=render 'codes/modal_ruby_code'
