#clients
  =render 'clients/form'
  =render @story_type.clients
%br/

#frequency
  -if @story_type.frequency
    =render @story_type.frequency
  -else
    =render 'frequencies/form'
%br/

#tag
  -if @story_type.tag
    =render @story_type.tag
  -else
    =render 'tags/form'
%br/

#photo_bucket
  -if @story_type.photo_bucket
    =render @story_type.photo_bucket
  -else
    =render 'photo_buckets/form'
%br/

.modal-footer
  =link_to('Delete', story_type_path(@story_type),
           class: 'btn btn-sm btn-outline-danger',
           method: :delete, remote: true,
           data: { confirm: 'Really delete?', dismiss: 'modal' })
