.row.small
  .col-10.offset-1
    .row.mb-2
      .col-10.ml-0
        %table.table.table-borderless.table-sm
          %thead
            %tr
              %th{ scope: 'col' }
                data set
              %th{ scope: 'col' }
                date location
          %tbody
            %tr
              %td
                =@story_type&.data_set&.name
              %td
                =@story_type&.data_set&.location
    %hr/

    .row.mb-2
      .col-10.ml-0
        %table.table.table-borderless.table-sm
          %thead
            %tr
              %th{scope: 'col'}
                client
              %th{scope: 'col'}
                tag
          %tbody
            -@story_type.client_tags.each do |cl_t|
              %tr
                %td
                  =cl_t.client.name
                %td
                  =cl_t.tag ? cl_t.tag.name : 'tag not set'
    %hr/

    .row.mb-2
      .col-10.ml-0
        %table.table.table-borderless.table-sm
          %thead
            %tr
              %th{scope: 'col'}
                frequency
              %th{scope: 'col'}
                photo bucket
          %tbody
            %tr
              %td
                =@story_type&.frequency&.name
              %td
                =@story_type&.photo_bucket&.name
    %hr/
