
.row
  .col-sm-3.col-lg-2.text-right.pr-0
    client(s)-tag(s):
  #clients__tags.col-sm-9.col-lg-10
    =render 'clients/form'
    -if @story_type.clients.present?
      %table.table.table-sm.table-borderless.small
        %tbody{id: 'clients_tags_table_body'}
          =render @story_type.clients
%br/

.row
  .col-sm-3.col-lg-2.text-right.pr-0
    frequency:
  #frequency.col-sm-9.col-lg-10
    -if @story_type.frequency
      =render @story_type.frequency
    -else
      =render 'frequencies/form'
%br/

.row
  .col-sm-3.col-lg-2.text-right.pr-0
    tag:
  #tag.col-sm-9.col-lg-10
    -if @story_type.tag
      =render @story_type.tag
    -else
      =render 'tags/form'
%br/

.row
  .col-sm-3.col-lg-2.text-right.pr-0
    photo bucket:
  #photo_bucket.col-sm-9.col-lg-10
    -if @story_type.photo_bucket
      =render @story_type.photo_bucket
    -else
      =render 'photo_buckets/form'
%br/

.modal-footer
  =link_to('Delete', story_type_path(@story_type),
           class: 'btn btn-sm btn-outline-danger',
           method: :delete, remote: true,
           data: { confirm: 'Really delete?', dismiss: 'modal' })
