#reminderPanel
  -if @story_type.updates?
    =render 'story_types/reminders/reminder'
%hr/

.row.small
  .col-5.offset-1.border-right.mr-1
    #currentDataSet
      =render 'story_types/properties/current_data_set'
    %hr/

    #clientsPublicationsTags
      =render 'story_types/properties/clients_publications_tags'
    %hr/

    #levelFrequencyPBucket
      =render 'story_types/properties/level_frequency_photo_bucket'
    %hr/

    #editorDeveloper
      =render 'story_types/properties/editor_developer'

    =render 'story_types/additional_properties'
  .col-5.border-left.ml-1
    .row.mb-2.font-weight-bold
      .col-12
        story type's code
    #story_type_code
      =render 'story_types/codes/section'
    %hr/
    -if correct_account?(@story_type)
      .row.mb-2.font-weight-bold
        .col-12
          export configurations (manual execution)
      #export_configs
        =render 'story_types/export_configurations/export_configurations'
      %hr/

      .row.mb-2.font-weight-bold
        .col-12
          cron tab

      #cron_tab_panel
        =render 'story_types/cron_tabs/cron_tab'
      %hr/
%hr/

=render 'data_sets/modal_data_set'
=render 'story_types/codes/modal_ruby_code'
=render 'data_sets/story_type_properties_from'
