.row.small
  .col-5.offset-1.border-right.mr-1
    .row.mb-2.font-weight-bold
      .col-12
        data set
    .row
      .col-12
        -if current_account.types.include?('manager')
          =link_to @story_type.data_set.name, data_set_path(@story_type.data_set), class: 'no-link'
        -else
          =@story_type.data_set.name
        =link_to icon('fa', 'fa fa-info-circle'), properties_data_set_path(@story_type.data_set), remote: true
    %hr/

    .row.mb-2.font-weight-bold
      .col-6
        client
      .col-6
        tag
    -@story_type.client_tags.each do |cl_t|
      .row
        .col-6
          =cl_t.client.name
        .col-6
          =cl_t.tag ? cl_t.tag.name : 'tag not set'
    %hr/

    .row.mb-2.font-weight-bold
      .col-6
        frequency
      .col-6
        photo bucket
    .row
      .col-6
        =@story_type&.frequency&.name
      .col-6
        =@story_type&.photo_bucket&.name
    %hr/

    .row.mb-2.font-weight-bold
      .col-6
        editor
      .col-6
        developer
    .row
      .col-6
        =@story_type.editor.name
      .col-6
        =@story_type.developer ? @story_type.developer.name: '---'
    %hr/

  .col-5.border-left.ml-1
    .row.mb-2.font-weight-bold
      .col-12
        story type's code
    #story_type_code
      =render 'codes/section'
    %hr/

    .row.mb-2.font-weight-bold
      .col-12
        export configurations
    #export_configs
      =render 'export_configurations/export_configurations'
    %hr/

    .row.mb-2.font-weight-bold
      .col-12
        cron tab

    #cron_tab_panel
      -if @story_type.cron_tab
        =render 'cron_tabs/cron_tab'
      -else
        =link_to('[ setup ]', new_story_type_cron_tab_path(@story_type), remote: true)
    %hr/

=render 'data_sets/modal_data_set'
=render 'codes/modal_ruby_code'
