.row.small
  #clients__tags.col-10.offset-1
    .row.font-weight-bold
      .col-4
        client
      .col-4
        publication
      .col-4
        tag
    #clients_tags_table_body
      -if @story_type.clients.present?
        =render partial: 'clients/client_publication_tag', collection: @story_type.clients_publications_tags
    .p-1
      =render 'clients/form'
%hr/

.row.small
  #frequency__photo_bucket.col-10.offset-1
    .row.font-weight-bold
      .col-4
        frequency
      .col-4
        photo bucket
    .row
      .col-4.frequency
        -if @story_type.frequency
          =render @story_type.frequency
        -else
          =render 'frequencies/form'
      .col-4.photo_bucket
        -if @story_type.photo_bucket
          =render @story_type.photo_bucket
        -else
          =render 'photo_buckets/form'
%hr/

.row.small
  .col-10.offset-1
    .row.font-weight-bold
      .col-4
        data set
    .row
      .col-12
        #change_data_set.mb-3
          =render 'change_data_set'

.modal-footer
