.row.small
  #clients__tags.col-10.offset-1
    .row.font-weight-bold
      .col-4
        client
      .col-4
        publication
      .col-4
        tag
    #clients_tags_table_body
      -if @story_type.clients.present?
        =render partial: 'clients/client_publication_tag', collection: @story_type.clients_publications_tags
    .p-1
      =render 'clients/form'
%hr/

.row.small
  #frequency__photo_bucket.col-10.offset-1
    .row.font-weight-bold
      .col-6
        frequency
      .col-6
        photo bucket
    .row
      .col-6.frequency
        -if @story_type.frequency
          =render @story_type.frequency
        -else
          =render 'frequencies/form'
      .col-6.photo_bucket
        -if @story_type.photo_bucket
          =render @story_type.photo_bucket
        -else
          =render 'photo_buckets/form'
%br/

.modal-footer
  =link_to('Delete', story_type_path(@story_type),
           class: 'btn btn-sm btn-outline-danger',
           method: :delete, remote: true,
           data: { confirm: 'Really delete?', dismiss: 'modal' })
