.small.text-center
  .spinner-border.text-dark.text-center{ role: "status" }
  .font-weight-bold
    =description
  .text-center.mt-3
    =link_to("cancel the job", story_type_sidekiq_breaks_path(@story_type),
             class: 'btn btn-sm btn-outline-danger', method: :post, remote: true)