.d-inline-block
  #{@story_type.template.static_year || '---'} / #{@story_type.template.revision || '---'}
-if show_edit_form
  =link_to('x', '#', onclick: "showEditStatRev(event);")

  :javascript
    function showEditStatRev(event) {
      event.preventDefault();

      document.querySelector('.current-static-year-revision-date').classList.toggle('d-none');
      document.querySelector('.change-static-year-revision-date-form').classList.toggle('d-none');

      return false;
    }
