-if action_name.eql?('index')
  %hr/
  %section#filter
    =render 'filter'

  %hr/

%hr/
%section#story_types.small
  .row.text-center
    .col-1 #
    .col-6.pl-0.text-left name
    .col-3 developer
    .col-1 status
    .col-1 last export
  %hr/
  %hr/
  =render @story_types
