%hr/
%section#filter
  =render 'filter'

%hr/
%hr/

%section#story_types.small
  .row.text-center
    .col-1 #
    .col-6.pl-0.text-left name
    .col-1 clients
    .col-2 status
    .col-1 last export
  %br/
  =render @story_types