%hr/
%section#filter
  .row
    .col-9
      = render 'filter'
    .col-3.d-flex.justify-content-center.align-self-center
      = link_to('Add Story', new_story_type_path, class: 'btn btn-success')

%hr/
%hr/

%section#story_types
  .row
    .col-1.text-center
      ROW
    .col-11
      NAME
  =render @story_types