=render 'channel'

%div{ id: "story_type_show_#{@story_type.id}"}

%hr
.row
  #story_type_name.col-10
    %b #{@story_type.name}
  #story_type_status.col-2.text-right
    =render @iteration.statuses.first
%hr

.row
  .col-8
    #story_type_iterations
      =render @story_type.iterations
      =link_to('new iteration', '#iteration_form',
               "aria-controls" => "#iteration_form", "aria-expanded" => "false", "data-toggle" => "collapse",
               :role => "button",class: 'badge badge-pill badge-light')

#iteration_form.row.collapse
  .col-12
    =render 'iterations/form'

%hr/

#story_type_template.accordion
  .card
    .card-header
      %div.text-center{"aria-controls" => "#template", "aria-expanded" => "true", "data-target" => "#template", "data-toggle" => "collapse", :type => "button"}
        template
    #template.collapse.show{"data-parent" => "#story_type_template"}
      .card-body.small
        =render 'story_types/show_template'

#story_type_properties.accordion
  .card
    .card-header
      %div.text-center{"aria-controls" => "#properties", "aria-expanded" => "false", "data-target" => "#properties", "data-toggle" => "collapse", :type => "button"}
        properties
    #properties.collapse.show{"data-parent" => "#story_type_properties"}
      .card-body
        =render 'story_types/properties'

#story_type_staging_table.accordion
  .card
    .card-header
      %div.text-center{"aria-controls" => "#staging_table", "aria-expanded" => "false", "data-target" => "#staging_table", "data-toggle" => "collapse", :type => "button"}
        staging table
    #staging_table.collapse.show{"data-parent" => "#story_type_staging_table"}
      .card-body
        -if @story_type.staging_table
          =render @story_type.staging_table
        -else
          =render 'staging_tables/form'

#story_type_code.accordion
  .card
    .card-header
      %div.text-center{"aria-controls" => "#codes", "aria-expanded" => "false", "data-target" => "#code", "data-toggle" => "collapse", :type => "button"}
        code
    #code.collapse.show{"data-parent" => "#story_type_code"}
      .card-body
        -if @story_type.code.attached?
          =render 'codes/story_type_code'
        -else
          =render 'codes/form'

#story_type_export_configs.accordion
  .card
    .card-header
      %div.text-center{"aria-controls" => "#export_configs", "aria-expanded" => "false", "data-target" => "#export_configs", "data-toggle" => "collapse", :type => "button"}
        export configurations
    #export_configs.collapse.show{"data-parent" => "#story_type_export_configs"}
      .card-body
        =render 'export_configurations/export_configurations'

#story_type_samples.accordion
  .card
    .card-header
      %div.text-center{"aria-controls" => "#samles", "aria-expanded" => "false", "data-target" => "#samples", "data-toggle" => "collapse", :type => "button"}
        samples
    #samples.collapse.show{"data-parent" => "#story_type_samples"}
      .card-body
        =render 'samples/samples'

#story_type_scheduler.accordion
  .card
    .card-header
      %div.text-center{"aria-controls" => "#scheduler", "aria-expanded" => "false", "data-target" => "#scheduler", "data-toggle" => "collapse", :type => "button"}
        scheduler
    #scheduler.collapse.show{"data-parent" => "#story_type_scheduler"}
      .card-body
        -if @story_type.staging_table && @story_type.iteration.creation
          =render 'schedules/scheduler'

#story_type_export.accordion
  .card
    .card-header
      %div.text-center{"aria-controls" => "#export", "aria-expanded" => "false", "data-target" => "#export", "data-toggle" => "collapse", :type => "button"}
        export
    #export.collapse.show{"data-parent" => "#story_type_export"}
      .card-body
        =render 'exports/export_section'