%br/
%section#story_type_title
  %b
    =@story_type.name
%hr/
-# %section#show-template
-#   =render 'story_types/show_template'
-# %hr/
-#
-# %h6.border-bottom.border-dark
-#   Configuration
-# %section#story-type-configuration
-#   = render 'story_types/config_story_type'
-# %hr/
-#
-# %h6.border-bottom.border-dark
-#   Staging Table
-# %section#staging-table
-#   -if @story_type.staging_table.nil?
-#     =create_staging_table_link
-#     =render 'staging_tables/attach_form'
-#   -else
-#     =render 'staging_tables/columns_indices'
-# %hr/

%h6.border-bottom.border-dark
  Code Upload
%section#story_type_code
  -if @story_type.code.attached?
    =render 'codes/story_type_code'
  -else
    =render 'codes/form'
  %hr
  -if @story_type.code.attached?
    =render 'codes/execute'