.row
  .col-12
    =link_to('[ reload ]', reload_story_type_codes_path(@story_type),
             method: :put, remote: true, data: { disable_with: '[ ... ]'})
    =link_to('[ download ]', url_for(@story_type.code))
    =link_to('[ show ]', story_type_codes_path(@story_type), remote: true)
