-if !@story_type.iteration.eql?(@iteration)
  \---
-elsif @story_type.code.attached?
  =render 'codes/code'
-else
  -unless current_account.types.eql?(['developer']) && @story_type.developer != current_account
    =render 'codes/form'
