.row.mb-1.font-weight-bold
  .col-6
    client
  .col-3
    tag
  .col-3
    sections

-@story_type.clients_publications_tags.each do |cl_t|
  .row
    .col-6
      =cl_t.client.name + "(#{cl_t.publication ? cl_t.publication.name : 'all publications'})"
    .col-3
      -if cl_t.tag
        =cl_t.tag.name
      -else
        .text-danger.font-italic
          not set
    .col-3
      -if cl_t.sections.present?
        -cl_t.sections.each do |section|
          .badge.badge-pill.badge-info{ style: 'cursor: pointer', 'data-toggle' => 'tooltip',
                                        'data-placement' => 'top', 'title' => section.name }
            =section.id


.row.mt-3.mb-1.font-weight-bold
  .col-12
    excepted publications
-@story_type.excepted_publications.each do |excl_p|
  .row
    .col-12
      #{excl_p.publication.name} (#{excl_p.client.name})
