.row.mb-1.font-weight-bold
  .col-8
    client
  .col-4
    tag
-@story_type.clients_publications_tags.each do |cl_t|
  .row
    .col-8
      =cl_t.client.name + "(#{cl_t.publication ? cl_t.publication.name : 'all publications'})"
    .col-4
      =cl_t.tag ? cl_t.tag.name : 'tag not set'

.row.mt-3.mb-1.font-weight-bold
  .col-12
    excepted publication
-@story_type.excepted_publications.each do |excl_p|
  .row
    .col-12
      #{excl_p.publication.name} (#{excl_p.client.name})
