.row.mb-1.font-weight-bold
  .col-6
    data set
  .col-5
    current iteration
.row
  .col-6
    -# TODO: find out roles, which may change DS
    -if current_account_is_a?('Manager', 'HLE Content Manager')
      =link_to @story_type.data_set.name, data_set_path(@story_type.data_set), class: 'no-link'
      =link_to icon('fa', 'info-circle'), properties_data_set_path(@story_type.data_set), remote: true
    -else
      =@story_type.data_set.name
  .col-5
    =@iteration.id
