.row.mb-1.font-weight-bold
  .col-12
    data set
.row
  .col-12
    =link_to @story_type.data_set.name, data_set_path(@story_type.data_set), class: 'no-link'
    =link_to icon('fa', 'info-circle'), properties_data_set_path(@story_type.data_set), remote: true
