.row.mb-1.font-weight-bold
  .col-4
    level
  .col-4
    frequency
  .col-4
    photo bucket
.row
  -[@story_type&.level&.name, @story_type&.frequency&.name, @story_type&.photo_bucket&.name].each do |name|
    .col-4
      -if name
        =name
      -else
        .text-danger.font-italic
          not set
-if current_account_permissions('story_types', %w[developer show])
  .row.mb-1.font-weight-bold.mt-3
    .col
      developer
  .row
    .col-12
      %div{id: "story_type_#{@story_type.id}_developer"}
        -if @story_type.developer
          =render 'story_types/developers/developer', story_type: @story_type
        -else
          -if current_account_permissions('story_types', %w[developer edit_form])
            =render 'story_types/developers/form', story_type: @story_type
          -else
            ='---'
