-if current_account_permissions('story_types', ['edit_form'])
  =button_to('Edit', story_type_property_form_path(@story_type), method: :get, remote: true, disabled: !story_types_blocked_item?,
               data: { toggle: 'modal', target: '#storyTypePropertiesForm' })
