-if @story_type.staging_table
  .row
    .col-11.offset-1
      #export_configs.btn-group.mr-5
        =link_to('create export configurations',
                        story_type_export_configurations_path(@story_type),
                        class: 'btn btn-sm btn-outline-dark', method: :post, remote: true)
  %hr
