.row
  .col-12
    -if !@story_type.iteration.eql?(@iteration)
      \---
      %br/
    -elsif @iteration.population.eql?(nil)
      first...execute population
      %br/
    -elsif @story_type.creating_export_configurations.eql?(false)
      %a{ href: "#", onclick: "return false;" } [ ...in progress... ]
    -else
      =link_to('[ create/update ]', story_type_export_configurations_path(@story_type),
               method: :post, remote: true)

      -if @story_type.configurations_no_tags.present?
        =link_to('[ configs without tags ]', '#', "data-toggle" => "modal", "data-target" => "#configs_without_tags",
                 class: 'text-danger d-inline-block ml-2', method: :post, remote: true)
        #configs_without_tags.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "template",
                                          role: "dialog", tabindex: "-1", 'data-backdrop' => 'static',
                                          'data-keyboard' => "false" }
          .modal-dialog.modal-dialog-centered.modal-xl
            .modal-content
              .modal-header
                %h5.modal-title
                  export configurations without tags
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                  %span{"aria-hidden" => "true"} ×
              .modal-body
                =render 'export_configurations/export_configurations_no_tags_form'
