.row
  .col-10.offset-1
    #create_export_configs.btn-group.mr-5
      =link_to('create export configurations',
                story_type_export_configurations_path(@story_type),
                class: 'btn btn-sm btn-outline-dark', method: :post, remote: true)
%hr/
-if @story_type.configurations_no_tags.any?
  -configs = @story_type.configurations_no_tags
  -if configs.count.positive?
    =render 'export_configurations/export_configurations_no_tags_form', configs: configs
-else
  .row
    .col-10.offset-1
      no configs without tags.
