#fcd_control.row
  .col-10.offset-1
    #fcd_edit.d-inline-block
      =link_to('edit', edit_story_type_fact_checking_doc_path(@story_type, @fcd),
               class: 'btn btn-sm btn-outline-dark', remote: true)
    #template_show.d-inline-block
      =link_to('show template', story_type_fact_checking_doc_template_path(@story_type, @fcd),
               class: 'btn btn-sm btn-outline-dark', remote: true)
