#fcd_control
  -if !current_account.type.eql?('editor')
    =link_to('edit', edit_story_type_fact_checking_doc_path(@story_type, @fcd),
             class: 'btn btn-sm btn-outline-dark', remote: true)
    .btn-group.ml-3.mr-3
      =link_to('template', story_type_fact_checking_doc_template_path(@story_type, @fcd),
               class: 'btn btn-sm btn-outline-dark', remote: true)
      =link_to('auto-feedback', '#autoFeedbackCollapse', "aria-controls" => "feedbackCollapse", "aria-expanded" => "false",
               "data-target" => "#autoFeedbackCollapse", "data-toggle" => "collapse", :type => "button",
               class: 'btn btn-sm btn-outline-dark', onclick: 'hideAllPopovers();')
  -if current_account.type.eql?('developer') && current_account.fc_channel
    =link_to('send FCD to editors', story_type_fact_checking_doc_send_to_fc_channel_path(@story_type, @fcd),
             class: 'btn btn-sm btn-outline-dark', remote: true)

:javascript
  function hideAllPopovers() {
    let fbOutputs = document.querySelectorAll('[id^="feedback_output_"]');

    Array.from(fbOutputs).forEach((output)=> {
      $(output).popover('hide')
    });
  }
