-disabled = account_type.eql?('editor') ? 'disabled' : ''

.btn-group.w-100
  =link_to('edit FCD', edit_story_type_fact_checking_doc_path(@story_type, @fcd),
           class: "btn btn-sm btn-light text-dark #{disabled}", remote: true)
  =link_to('template', story_type_fact_checking_doc_template_path(@story_type, @fcd),
           class: 'btn btn-sm btn-light text-dark', remote: true)
  =link_to('auto-feedback', '#autoFeedbackCollapse', "aria-controls" => "feedbackCollapse", "aria-expanded" => "false",
           "data-target" => "#autoFeedbackCollapse", "data-toggle" => "collapse", type: "button", onclick: 'hideAllPopovers();',
           class: 'btn btn-sm btn-light text-dark')
  =link_to('send FCD to reviewers', story_type_fact_checking_doc_send_to_review_channel_path(@story_type, @fcd), class: 'btn btn-sm btn-light text-dark', remote: true)
  -# =link_to('send FCD to reviewers', '#', class: "btn btn-sm btn-light text-dark #{disabled}", remote: true)
  -if current_account.fc_channel
    =link_to('send FCD to editors', story_type_fact_checking_doc_send_to_fc_channel_path(@story_type, @fcd), class: 'btn btn-sm btn-light text-dark', remote: true)
    -# =link_to('send FCD to editors', '#', class: "btn btn-sm btn-light text-dark #{disabled}", remote: true)

:javascript
  function hideAllPopovers() {
    let fbOutputs = document.querySelectorAll('[id^="feedback_output_"]');

    Array.from(fbOutputs).forEach((output)=> {
      $(output).popover('hide')
    });
  }
