-disabled = (!current_account.slack || (current_account.types.eql?(['developer']) && @story_type.developer != current_account))

.btn-group.w-100
  =link_to('edit FCD', edit_story_type_fact_checking_doc_path(@story_type, @fcd),
           class: "btn btn-sm btn-light text-dark #{disabled ? 'disabled' : ''}", remote: true)
  =link_to('template', story_type_fact_checking_doc_template_path(@story_type, @fcd),
           class: 'btn btn-sm btn-light text-dark', remote: true)
  =link_to('auto-feedback', '#autoFeedbackCollapse', "aria-controls" => "feedbackCollapse", 'aria-expanded' => 'false',
           'data-target' => '#autoFeedbackCollapse', 'data-toggle' => 'collapse', onclick: 'hideAllPopovers();',
           class: 'btn btn-sm btn-light text-dark')
  =button_tag('send FCD to reviewers', 'data-toggle'=>'modal', 'data-target'=>'#sendFCD',
              disabled: disabled, class: 'btn btn-sm btn-light text-dark', onclick: 'hideAllPopovers();')


#sendFCD.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "sendFCDLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      .modal-header
        #sendFCDLabel.modal-title
          %b send FCD to hle_reviews_queue channel
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      =form_with(url: story_type_fact_checking_doc_send_to_reviewers_channel_path(@story_type, @fcd)) do |f|
        .modal-body
          .channel
          =f.hidden_field 'slack_message[channel]'
          =f.label :note, 'note:'
          =f.text_area 'slack_message[note]', class: 'form-control'
        .modal-footer
          %button.btn.btn-sm.btn-link{"data-dismiss" => "modal", :type => "button"} close
          =f.submit 'send', class: 'btn btn-sm btn-outline-dark'

:javascript
  function hideAllPopovers() {
    let fbOutputs = document.querySelectorAll('[id^="feedback_output_"]');

    Array.from(fbOutputs).forEach((output)=> {
      $(output).popover('hide')
    });
  }
