=form_with(model: [@story_type, @fcd]) do |form|
  .field{ "data-controller" => "summernote" }
    =form.text_area :body, data: { editor: 'summernote' }
    =form.submit 'Save changes', class: 'mr-auto btn btn-sm btn-outline-success'
