-if @story_type.iteration.auto_feedback_confirmations.all?(&:confirmed)
  -reviewers_feedback = @fcd.editors_feedback
  -editors_feedback = @fcd.editors_feedback
  %hr/
  .row
    .col-12.text-center
      %b FCD ##{@story_type.id} #{@story_type.name} -- #{@story_type.developer.name}
  %hr/
  %hr/
  .row
    .col-10.offset-1
      #fcd_control.small
        =render 'fcd_buttons', reviewers_feedback: reviewers_feedback, editors_feedback: editors_feedback
  %hr/
  .row
    .col-10.offset-1
      #autoFeedbackCollapse.collapse.show
        =render 'auto_feedback/form', auto_feedback: @story_type.iteration.auto_feedback_confirmations
  %hr/
  .row.small
    .col-10.offset-1
      .card
        .card-header
          reviewer feedback
        .card-body
          #reviewers_feedback_body
            =@fcd.reviewers_feedback.body&.html_safe
  %hr/
  .row.small
    .col-10.offset-1
      .card
        .card-header
          editor feedback
        .card-body
          #editors_feedback_body
            =@fcd.editors_feedback.body&.html_safe
  %hr/
  .row.small
    .col-10.offset-1
      #fcd_body
        =@fcd.body&.html_safe

  #template_modal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "template_modal_label",
                              role: "dialog", tabindex: "-1" }
    .modal-dialog.modal-dialog-centered.modal-lg.modal-dialog-scrollable
      .modal-content
        .modal-header
          %h5.modal-title.small#template_modal_label
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body

  #human_feedback_modal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "human_feedback_modal_label",
                                    role: "dialog", tabindex: "-1" }
    .modal-dialog.modal-dialog-centered.modal-full.modal-dialog-scrollable
      .modal-content
        .modal-header
          .modal-title#human_feedback_modal_label
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body.small
          .d-inline-block.fc_scrollable.w-55
          .d-inline-block.align-top.w-44

-else
  %hr/
  .row
    .col-12.text-center.alert.alert-danger
      First...confirm all auto-feedback.
