-if @story_type.iteration.feedback_confirmations.all?(&:confirmed)
  %hr/
  =render 'buttons'
  %hr/
  .row.mt-4
    .col-10.offset-1
      =render 'feedback/form', feedback: @story_type.iteration.feedback_confirmations
  %hr/
  #fcd_body
    .row
      .col-10.offset-1
        =@fcd.body&.html_safe

  #template_modal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "template_modal",
                              role: "dialog", tabindex: "-1" }
    .modal-dialog.modal-dialog-centered.modal-xl.modal-dialog-scrollable
      .modal-content
        .modal-header
          %h5.modal-title
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
-else
  %hr/
  .row
    .col-12.text-center.alert.alert-danger
      First...confirm all feedback.
