%div{ id: "fact_checking_document", story_type_id: @story_type.id, iteration_id: @story_type.iteration.id }

-if @story_type.iteration.auto_feedback_confirmations.all?(&:confirmed)
  %hr/
  .row
    .col-10.offset-1
      %b
        FCD ##{@story_type.id} #{@story_type.name} -- #{@story_type.developer.name}
  %hr/
  .row
    .col-10.offset-1
      =render 'buttons'
  %hr/
  #autoFeedbackCollapse.collapse.show.row
    .col-10.offset-1
      =render 'auto_feedback/form', auto_feedback: @story_type.iteration.auto_feedback_confirmations
  %hr/
  .row
    .col-10.offset-1
      =link_to("editor's feedback", '#', class: 'btn btn-sm btn-outline-dark')
  %hr/
  .row.small
    .col-10.offset-1
      #fcd_body
        =@fcd.body&.html_safe

  #template_modal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "template_modal",
                              role: "dialog", tabindex: "-1" }
    .modal-dialog.modal-dialog-centered.modal-lg.modal-dialog-scrollable
      .modal-content
        .modal-header
          %h5.modal-title
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
-else
  %hr/
  .row
    .col-12.text-center.alert.alert-danger
      First...confirm all auto-feedback.
