%div{ id: "fact_checking_document", story_type_id: @story_type.id, iteration_id: @story_type.iteration.id }

-if @story_type.iteration.auto_feedback_confirmations.all?(&:confirmed)
  %hr/
  .row
    .col-10.offset-1
      %b
        FCD ##{@story_type.id} #{@story_type.name} -- #{@story_type.developer.name}
  %hr/
  .row
    .col-10.offset-1
      =render 'fcd_buttons'
  %hr/
  #autoFeedbackCollapse.collapse.show.row
    .col-10.offset-1
      =render 'auto_feedback/form', auto_feedback: @story_type.iteration.auto_feedback_confirmations

  -fact_checking_doc = @story_type.fact_checking_doc
  -editor_feedback = fact_checking_doc.editor_feedback
  -if current_account.type.eql?('developer')
    #editor_feedback_button
      %hr/
      .row
        .col-10.offset-1
          =link_to("#{editor_feedback.body.present? ? "edit editor's feedback" : "add editor's feedback"}",
                   edit_story_type_fact_checking_doc_editor_feedback_path(@story_type, fact_checking_doc, editor_feedback),
                   class: 'btn btn-sm btn-outline-dark', remote: true)
  #editor_feedback_body
    -if editor_feedback.body.present?
      %hr/
    .row
      .col-10.offset-1
        =editor_feedback.body&.html_safe
  %hr/
  .row.small
    .col-10.offset-1
      #fcd_body
        =@fcd.body&.html_safe

  #template_modal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "template_modal",
                              role: "dialog", tabindex: "-1" }
    .modal-dialog.modal-dialog-centered.modal-lg.modal-dialog-scrollable
      .modal-content
        .modal-header
          %h5.modal-title
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
-else
  %hr/
  .row
    .col-12.text-center.alert.alert-danger
      First...confirm all auto-feedback.
