.small
  .d-flex.flex-row
    =form_with(model: [@story_type, iteration], method: :put) do |form|
      =form.text_field 'name', placeholder: 'new name', required: true
      =form.submit :rename
    =button_to('apply', apply_iteration_story_type_iteration_path(@story_type, iteration), method: :patch)
