.small
  =form_with(url: story_type_iterations_path(@story_type), local: true) do |form|
    =form.text_field 'iteration[name]', placeholder: 'iteration name', required: true
    =form.submit :create
