-if @story_type.current_iteration.eql?(iteration)
  =link_to(iteration.name, '',
           class: "badge badge-pill badge-info")
-else
  =link_to(iteration.name, story_type_path(@story_type, iteration: iteration.id),
           class: "badge badge-pill badge-#{iteration_color(@story_type, iteration)}")
