%hr/
#header.d-flex.justify-content-between.align-items-center.mt-3
  %span
    -if @current_list
      Total: #{@grid.assets.total_count}
  %span.font-weight-bold
    SCRAPE TASKS
  .d-inline-block.text-right.text-uppercase
    -if @current_list && @lists.length > 1
      .btn-group.mr-1
        -@lists.each_key do |list|
          -filled = @current_list.eql?(list) ? '' : '-outline'
          =link_to(list, url_for(list: list), class: "btn btn-sm btn#{filled}-dark")
      =icon('fa', 'sort', class: "mr-3", id: 'orderList')
      :javascript
        $('#orderList').popover({
          placement: 'bottom',
          html: true,
          title: () => {
            return "ORDER LIST"
          },
          content: () => {
            let container = document.createElement('div');

            #{raw(@lists.keys)}.forEach((item) => {
              let list = document.createElement('div');
              list.className = 'd-flex justify-content-between';

              let name = document.createElement('div');
              name.textContent = item.toUpperCase();
              list.appendChild(name);

              let arrows = document.createElement('i');
              arrows.setAttribute('class', 'fa fa-sort ml-5');
              list.appendChild(arrows);

              container.appendChild(list);
            });

            return container;
          }
        })
    .btn-group
      -if @current_list
        =link_to('filter', '#', class: 'btn btn-sm btn-outline-dark',
                 "data-target" => "#filterSTasks", "data-toggle" => "collapse")
      -if current_account_permissions('scrape_tasks', ['new_form'])
        =link_to('create', '#', class: 'btn btn-sm btn-outline-dark',
                 "data-target" => "#createScrapeTaskModal", "data-toggle" => "modal")
%hr.mb-1/

-if @current_list
  #filterSTasks.mt-3.mb-3.collapse
    =datagrid_form_for @grid, url: scrape_tasks_path

  .row.small.mb-5
    .col-12
      =datagrid_table(@grid)

  .fixed-bottom.bg-light
    .row
      .col-12.p-2
        =paginate @grid.assets

  :javascript
    (() => {
      let filter = $('#filterSTasks');
      filter.on('show.bs.collapse', () => {
        sessionStorage['s_tasks_filter_show'] = true;
      });

      filter.on('hide.bs.collapse', () => {
        sessionStorage['s_tasks_filter_show'] = false;
      });

      if(JSON.parse(sessionStorage['s_tasks_filter_show'])) {
        filter.addClass('show');
      } else {
        filter.removeClass('show');
      }
    })();

-if current_account_permissions('scrape_tasks', ['new_form'])
  #createScrapeTaskModal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "createScrapeTaskModal",
                                    'data-backdrop' => 'static', "data-keyboard" => "false" }
    .modal-dialog.modal-dialog-scrollable
      .modal-content
        .modal-header
          NEW SCRAPE TASK
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body.small
          =render 'new'
        .modal-footer.justify-content-center
          =link_to('CREATE', '#', id: 'createScrapeTaskButton', class: 'btn btn-sm btn-dark')
          .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
            CANCEL
  :javascript
    document.querySelector('#createScrapeTaskButton').addEventListener('click', (event) => {
      event.preventDefault();
      document.querySelector('#hiddenCreateButton').click();
    }, false);
