=form_with(url: import_data_tracking_hours_path, method: 'post', class: 'd-inline-block') do |form|
  .row-cols-1
    .font-weight-bold url
    =form.text_field :url
  .row.mt-3
    .col-6
      .font-weight-bold worksheet
      =form.text_field :worksheet
    .col-6
      .font-weight-bold range
      =form.text_field :range
  =form.submit 'import', class: 'btn btn-sm btn-outline-dark mr-2'