=form_with(url: tracking_hours_path, method: 'post') do |form|
  #reports_editable
  .d-flex.justify-content-between
    #add_report
      =button_tag 'add row', class: 'mt-4 btn btn-sm btn-outline-dark'
    #submit
      =form.submit 'submit', class: 'mt-4 btn btn-sm btn-outline-dark'

:javascript
  var reports_block = $('#reports_editable');
  $('#add_report').click(function () {
    let hex = secureRandom(6);

    var typesOfWorks = #{raw TypeOfWork.order(name: :asc).map{|type| type.name}};
    var clients = #{raw ClientsReport.order(name: :asc).map{|type| type.name}};

    $(reports_block).append(
        `<div id="report_${hex}" class="row">
            <input id="report_${hex}_hours" class="col-1" required="required" type="text" name="report[${hex}[hours]]">
            <select class="col-3" id="report_${hex}_type_of_work" name="report[${hex}[type_of_work]]">${buildSelect(typesOfWorks)}</select>
            <select class="col-2" id="report_${hex}_client" name="report[${hex}[client]]">${buildSelect(clients)}</select>
            <input id="report_${hex}_date" class="col-2" required="required" type="date" name="report[${hex}[date]]">
            <input id="report_${hex}_comment" class="col-3" required="required" type="text" name="report[${hex}[comment]]">
            <div class="remove_report col-1 d-inline-block" id="rm_report_${hex}" onclick="removeDate(this)"><i class="fas fa-minus"></i></div>
        </div>`
    );
  });

  function secureRandom(n){
    let result = '';
    while (n--){
      result += Math.floor(Math.random() * 16).toString(16);
    }
    return result;
  }

  function removeDate(elem) {
    $(elem.parentNode).remove();
  }

  function buildSelect(options) {
    var $select = $('');

    for (var i = 0; i < options.length; i++) {
      $select += ('<option value="' + options[i] + '">' + options[i] + '</option>');
          console.log($select);
    }
    console.log($select);
    return $select;
  }


-#=form_with(url: tracking_hours_path, method: 'post') do |form|
-#  .row
-#    .col-1
-#      =form.text_field 'report[hours]', class: 'form-control form-control-sm'
-#    .col-3
-#      =form.collection_select 'report[type_of_work_id]', TypeOfWork.order(name: :asc), :id, :name, { prompt: '' }, class: 'mb-1 form-control form-control-sm'
-#    .col-2
-#      =form.collection_select 'report[clients_report_id]', ClientsReport.order(name: :asc), :id, :name, { prompt: '' }, class: 'mb-1 form-control form-control-sm'
-#    .col-2
-#      =form.date_field 'report[date]', class: 'mb-1 form-control form-control-sm'
-#    .col-4
-#      =form.text_field 'report[comment]', class: 'mb-1 form-control form-control-sm'
-#    .col-1.invisible
-#      =form.submit :Add, class: 'mb-1 form-control form-control-sm', id: 'report_button'
-#
-#:javascript
-#  forms = document.getElementsByTagName('form');
-#  console.log(forms.length)
-#  for (let index = 0; index < forms.length; ++index)
-#  {
-#    forms[index].id = 'form_'+[index]
-#  }
