%hr/
.d-flex.justify-content-between
  #add_row_clone.btn.btn-sm.btn-outline-dark.ml-2 add row
  #submit_clone.btn.btn-sm.btn-outline-dark.mr-2 submit
%hr/
%section#hours.small
  .row.text-center
    .col-1 hours
    .col-3 type of work
    .col-2 client
    .col-2 date
    .col-3.text-left comment
  %hr/

  #developers_hours
    -rows_reports.each do |row|
      .text-center{id: "row_#{row['id']}"}
        .row
          .col-1
            =row['hours']
          .col-3
            =row.type_of_work.nil? ? '' : row.type_of_work.name
          .col-2
            =row.client.nil? ? '' : row.client.name
          .col-2
            =row['date'].strftime('%F')
          .col-3.text-left
            =row['comment']
          .col-1
            =link_to(icon('fas', 'minus', class: 'fas fa-minus'), exclude_row_tracking_hour_path(id: row['id']), method: :delete, remote: true, style: "color:black;")
        %hr/

:javascript
    $('#add_row_clone').click(function () {
      $('#add_row').click();
    });

    $('#submit_clone').click(function () {
      $('#submit').click();
    });
    