#report_tracking_hour
  .nav
    .nav-link.active
      =link_to 'Week1', tracking_hours_path, params: weeks.last
    .nav-link Week2
    .nav-link Week3
  =button_to('Import data', import_data_tracking_hours_path, class:'btn btn-sm btn-outline-dark', remote: true)

  =render 'tracking_hours/table', rows_reports: @rows_reports
#forms.small
  =render 'tracking_hours/form'

