=factoid_type.developer.name
-if current_account_permissions('factoid_types', %w[developer edit_form])
  =link_to('x', exclude_factoid_type_developer_path(factoid_type, factoid_type.developer), method: :delete, remote: true)
