%div{id: "article_type_#{article_type.id}_developer"}
  =article_type.developer.name
  =link_to('x', exclude_article_type_developer_path(article_type, article_type.developer), method: :delete, remote: true)
