=form_with(model: @factoid_type) do |form|
  =form.text_field :name, class: 'underline-input p-0', required: true
  =form.submit '[ rename ]', class: 'btn btn-sm btn-link pr-0'
  =link_to('[ cancel ]', canceling_rename_factoid_type_path(@factoid_type), class: 'btn btn-sm btn-link  pl-0', remote: true)
