.text-center.small{ id: "factoid_type_#{factoid_type.id}" }
  .row.on-hover-bg.pt-2.pb-2
    .col-1.d-flex.align-items-center
      =factoid_type.id
    .col-6.d-flex.align-items-center.pl-0.text-left{id: "factoid_type_#{factoid_type.id}_name"}
      =link_to(factoid_type.name, factoid_type_path(factoid_type), class: (factoid_type.status.name.eql?('archived') ? 'text-secondary' : ''))
    .col-3.d-flex.align-items-center.p-0{id: "factoid_type_#{factoid_type.id}_template"}
      =link_to(icon('fa', 'pencil', class: 'text-dark mr-3'), edit_factoid_type_path(factoid_type), remote: true)
      =link_to(icon('fa', 'file-o', class: 'text-dark mr-3'), edit_factoid_type_template_path(factoid_type, factoid_type.template), remote: true)
      %div{id: "factoid_type_#{factoid_type.id}_developer"}
        -if factoid_type.developer
          =render 'factoid_types/developers/developer', factoid_type: factoid_type
        -else
          -if current_account_permissions('factoid_types')['developer']['edit_form']
            =render 'factoid_types/developers/form', factoid_type: factoid_type
          -else
            ='---'
    .col-2.d-flex.align-items-center.p-0
      =factoid_type.status.name
