=form_with(model: [@data_set, @data_set.factoid_types.build], local: true) do |form|
  .row
    .col-6.pr-0.small
      =form.text_field :name, placeholder: 'new factoid type name', class: 'form-control form-control-sm', required: true
    .col-6
      =form.submit :create
      =link_to icon('fa', 'times text-dark'), :back
