#factoid_type_properties.card.h-100
  .card-header.d-flex.justify-content-between.align-items-center
    PROPERTIES
    #properties_control
      =render 'factoid_types/properties/properties_control'
  #properties.h-100
    .flash
    .card-body.d-flex.flex-column
      =render 'factoid_types/properties/properties'
