#factoid_type_staging_table.card.h-100
  .card-header.d-flex.justify-content-between.align-items-center
    STAGING TABLE
    #staging_table_control
      =render 'factoid_types/staging_tables/staging_table_control'
  #staging_table.h-100
    .flash
    .card-body.d-flex.flex-column
      =render 'factoid_types/staging_tables/staging_table'
