#factoid_type_staging_table.card.h-100
  .card-header.d-flex.justify-content-between.align-items-center
    STAGING TABLE
    #staging_table_control
      =render 'factoid_types/staging_tables/staging_table_control'
  #staging_table.h-100
    .flash
    .card-body.d-flex.flex-column
      =render 'factoid_types/staging_tables/staging_table'

-# -if @iteration.eql?(@factoid_type.iteration)
-#   #factoid_type_staging_table.accordion
-#     .card
-#       .card-header
-#         %div.text-center{"aria-controls" => "#staging_table", "aria-expanded" => "false", "data-target" => "#staging_table", "data-toggle" => "collapse", type: "button"}
-#           staging table
-#       #staging_table.collapse.show{"data-parent" => "#factoid_type_staging_table"}
-#         .flash
-#         .card-body
-#           =render 'factoid_types/staging_tables/staging_table'