%hr/
#header.row.justify-content-between.align-items-center.mt-3
  .col-6
    -if @current_list
      Total: #{@grid.assets.total_count}
  .col-6.text-right.text-uppercase
    .btn-group.mr-3
      -if @current_list && @lists.length > 1
        -lists = %w[yours all archived]
        -lists.each do |list|
          -filled = (!params[:list].in?(lists) && list.eql?('yours')) || params[:list].eql?(list) ? '' : '-outline'
          =link_to(list, url_for(list: list), class: "btn btn-sm btn#{filled}-dark")
    .btn-group
      -if @current_list
        =link_to('filter', '#', class: 'btn btn-sm btn-outline-dark',
                 "data-target" => "#filterFactoidTypes", "data-toggle" => "collapse")
      -if current_account_permissions('factoid_types', %w(new_form))
        =link_to('create', '#', class: 'btn btn-sm btn-outline-dark',
                 "data-target" => "#createFactoidTypeModal", "data-toggle" => "modal")
%hr/

-if @current_list
  #filterFactoidTypes.mt-3.mb-3.collapse{ class: (params[:factoid_types_grid] ? 'show' : '') }
    =datagrid_form_for @grid, url: factoid_types_path

  .row.small.mb-5
    .col-12
      =datagrid_table(@grid)

  .fixed-bottom.bg-light
    .row
      .col-12.p-2
        =paginate @grid.assets

-if current_account_permissions('factoid_types', %w(new_form))
  #createFactoidTypeModal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "createFactoidTypeModal",
                                      'data-backdrop' => 'static', "data-keyboard" => "false" }
    .modal-dialog.modal-dialog-scrollable.modal-lg
      .modal-content
        .modal-header
          NEW FACTOID TYPE
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body.small
          =render 'new'
        .modal-footer.justify-content-center
          =link_to('CREATE', '#', id: 'createFactoidTypeButton', class: 'btn btn-sm btn-dark')
          .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
            CANCEL

  :javascript
    document.querySelector('#createFactoidTypeButton').addEventListener('click', (event) => {
      event.preventDefault();
      document.querySelector('#hiddenFactoidTypeCreateButton').click();
    }, false);
