.small
  .d-flex.flex-row
    =form_with(url: article_type_iteration_path(@factoid_type, iteration), method: :patch) do |form|
      =form.text_field 'iteration[name]', placeholder: 'new name', required: true
      =form.submit :rename
    -if @factoid_type.iteration != iteration
      =button_to('apply', apply_article_type_iteration_path(@factoid_type, iteration), method: :patch)
