.small
  =form_with(url: factoid_type_iterations_path(@factoid_type), local: true) do |form|
    =form.text_field 'iteration[name]', placeholder: 'new iteration name', required: true
    =form.submit :create
