.badge.badge-pill.badge-light{'data-container' => 'body',
                                    'data-toggle' => 'popover',
                                    'data-placement' => 'top',
                                    'data-html' => 'true',
                                    'data-content' => "#{ render 'factoid_types/iterations/new_form' }" }
  new iteration