=tag.name
-if client.nil?
  =link_to('x', exclude_tag_data_set_default_property_path(@data_set, tag), method: :delete, remote: true)
-else
  =link_to('x', exclude_tag_data_set_default_property_path(@data_set, tag, client_id: client.id), method: :delete, remote: true)
