=form_with(url: include_tag_data_set_default_properties_path(@data_set), html: { onchange: "Rails.fire(this, 'submit')" }) do |form|
  =form.collection_select :tag_id, Client.find(client_id).tags, :id, :name, { prompt: '' }, { name: :id }
  =hidden_field_tag :client_id, client_id
