-if @account.status.name.eql?('deactivated')
  %button.status-comment.border-0.text-danger.bg-transparent.font-weight-bold{ 'data-container' => "body", 'data-toggle' => "popover",
                                                                'data-placement' => "bottom", 'data-content' => @status_comment.body }
    #{@status_comment&.body&.truncate(50)}

  :javascript
    $('.status-comment').popover('enable');
