%div{ id: "account", account_id: @account.id }

%hr/
#accountName.text-center
  =link_to(@account.name, @account)
%hr.mb-0/

.d-flex.justify-content-between.align-items-center.small
  .text-secondary
    created by #{@account.creator&.name}
  .text-secondary
    created at: #{@account.created_at}

#accountInfo.mt-4
  .card
    .card-header.p-1.small
      .d-flex.justify-content-between.align-items-center
        MAIN INFO
        #accountStatusComment
          =render 'accounts/main/status_comment'
        .d-flex.align-items-center
          #impersonate
            -if current_account.eql?(true_account)
              =link_to('[ login ]', account_impersonate_path(@account), class: 'p-0 ml-1 btn btn-sm btn-link', method: :post)
            -else
              =link_to('[ back to origin account ]', account_stop_impersonating_path, class: 'p-0 ml-1 btn btn-sm btn-link', method: :delete)
          #editAccount.mr-2
            %button{ type: 'button', class: 'p-0 ml-1 btn btn-sm btn-link', 'data-toggle' => "modal", 'data-target' => "#editAccountModal" }
              [ edit ]
          #accountStatus
            =render 'accounts/main/statuses'

    .card-body.pb-0
      -unless @account.status.name.eql?('deactivated')
        =render 'accounts/roles/roles'
        %hr/
        .row
          =render partial: 'accounts/cards/card', collection: @account.cards.includes(:branch, :access_level)


#editAccountModal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "editAccountModal",
                              'data-backdrop' => 'static', "data-keyboard" => "false" }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        UPDATE ACCOUNT
        %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
          %span{ "aria-hidden" => "true" } ×
      .modal-body
        =render 'edit'
      .modal-footer.justify-content-center
        =link_to('UPDATE', '#', id: 'updateButton', class: 'btn btn-sm btn-dark')
        .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
          CANCEL

:javascript
  document.querySelector('#updateButton').addEventListener('click', (event) => {
    event.preventDefault();

    document.querySelector('#hiddenUpdateButton').click();
  }, false);
