<%= form_with(url: account_card_access_level_path(account, card)) do |f| %>
    <div class="pl-lg-5 pr-lg-5 ml-lg-5 mr-lg-5">
      <%= permissions_table(f, access_level.permissions.sort, access_level.branch.name) %>
    </div>
<% end %>
