@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free';
@import "data_set";
@import "exported_stories";
@import "staging_table";
@import "story_type_tables";

.fc_scrollable {
  height: 99%;
  overflow: auto;
}

.w-60 {
  width: 55%;
}

.w-98 {
  width: 98%;
}

.w-39 {
  width: 44%;
}

@media (min-width: 100px) {
  .modal-full {
    max-width: 97%;
  }
}

#human_feedback_modal .modal-content {
  height: 97%;
}
