@import "~bootstrap/scss/bootstrap";
@import "datagrid";
@import "data_set";
@import "story_type";
@import "exported_stories";
@import "staging_table";
@import "story_type_tables";
@import "sample";
@import "froala";
@import "bootstrap_overrides";


$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

.fc_scrollable {
  height: 90%;
  overflow: scroll;
}

.h-90 {
  height: 90%;
}

.w-97 {
  width: 97%;
}

.w-60 {
  width: 60%;
}

.w-39 {
  width: 39%;
}


.w-65px {
  width: 65px;
}

.w-339_25px {
  width: 339.25px;
}

.w-85px {
  width: 85px;
}

.w-250px {
  width: 250px;
}

@media (min-width: 100px) {
  .modal-full {
    max-width: 97%;
  }
}

#manual_feedback_modal .modal-content {
  height: 97%;
}

#editors_feedback_body_modal, #reviewers_feedback_body_modal {
  padding: 15px;
  overflow: auto;
}

.manual_feedback {
  position: relative;
  border-radius: 3px;
  padding: 15px;
}

.manual_feedback:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.reviewers_fb_info, .editors_fb_info {
  position: absolute;
  display: inline-block;
  margin-top: -26px;
  margin-left: -5px;
  background: white;
}

.label_to_line_modal {
  position: absolute;
  background-color: white;
  margin-top: -27px;
  margin-left: 5px;
}
