$fa-font-path: "~font-awesome/fonts";

@import "~bootstrap/scss/bootstrap";
@import "accounts";
@import "login";
@import "datagrid";
@import "data_set";
@import "story_type";
@import "exported_stories";
@import "staging_table";
@import "story_type_tables";
@import "sample";
@import "fact_checkcing_doc";
@import "froala";
@import "bootstrap_overrides";
@import "scrape_task";
@import "work_requesting_form";
@import "toastr/toastr";
@import "media";
@import '~font-awesome/scss/font-awesome';
@import "actiontext";
@import "~trix";
@import "~multiple-select/dist/multiple-select";
@import "~multiple-select/dist/themes/bootstrap";
@import "node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min";
@import 'select2/dist/css/select2.css';

body {
  font-family: 'Ubuntu', sans-serif;
}

@media (min-width: 100px) {
  .modal-fullscreen {
    max-width: 97%;
    min-height: 94%;
  }

  .modal-70percent {
    max-width: 70%;
  }

  .modal-60percent {
    max-width: 70%;
  }
}

div.enum_filter > div.ms-drop li {
  width: 100%;
}

.modal-frame-scrollable-90 {
  overflow: scroll;
  height: 90%;
}

.overflow-scroll {
  overflow: scroll;
  overflow-x: hidden;
}

.h-4 {
  height: 4%;
}

.h-5 {
  height: 5%;
}

.h-7 {
  height: 7%;
}

.h-90 {
  height: 90%;
}

.h-85 {
  max-height: 85%;
}

.h-90 {
  height: 90%;
}

.h-92 {
  height: 92%;
}

.h-93 {
  height: 93%;
}

.h-94 {
  height: 94%;
}

.h-95 {
  height: 95%;
}

.h-97 {
  height: 97%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-39 {
  width: 39%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-48 {
  width: 48%;
}

.w-49 {
  width: 49%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-97 {
  width: 97%;
}

.w-80 {
  width: 80%;
}

.w-52px {
  width: 52px;
}

.w-65px {
  width: 65px;
}

.w-339_25px {
  width: 339.25px;
}

.w-85px {
  width: 85px;
}

.w-150px {
  width: 150px;
}

.w-250px {
  width: 250px;
}

.disabled-link{
  cursor: default;
  pointer-events: none;
  text-decoration: none;
  color: grey;
}