// placeholder for a new data set frequency selectto scss
// fields new data set frequency select fields placeholder
//.frequency {
//  position: relative;
//}

.select_placeholder {
  width: 90%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background: #fff;
}

.no-link {
  text-decoration: none;
  color: #000000;
}

#data_set_info .card-body.overflow-auto {
  max-height: 500px;
}
