// Place all the styles related to the DataSets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.d-loc-edit-icon img {
  width: 20px;
  height: 16px;
}

.d-loc-show-icon img {
  width: 20px;
  height: 20px;
}
