th.hovered_item {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  cursor: ns-resize;
}

#published_at {
  width: 10%;
}
