@import "~froala-editor/css/froala_editor.min";
@import "~froala-editor/css/froala_style.min";

@import '~froala-editor/css/plugins/char_counter.min';
@import '~froala-editor/css/plugins/code_view.min';
@import '~froala-editor/css/plugins/colors.min';
@import '~froala-editor/css/plugins/emoticons.min';
@import '~froala-editor/css/plugins/file.min';
@import '~froala-editor/css/plugins/fullscreen.min';
@import '~froala-editor/css/plugins/help.min';
@import '~froala-editor/css/plugins/image_manager.min';
@import '~froala-editor/css/plugins/image.min';
@import '~froala-editor/css/plugins/line_breaker.min';
@import '~froala-editor/css/plugins/quick_insert.min';
@import '~froala-editor/css/plugins/special_characters.min';
@import '~froala-editor/css/plugins/table.min';
@import '~froala-editor/css/plugins/video.min';
@import '~froala-editor/css/third_party/embedly.min';
@import '~froala-editor/css/third_party/image_tui.min';
@import '~froala-editor/css/third_party/spell_checker.min';

div.fr-wrapper>div>a {
  font-size: 0 !important;
  padding: 0 !important;
  height: 0 !important;
}
