.not-scrapable, .not-scrapable a {
  color: #cccccc !important;
}

.deadline-1 {
  background-color: #f36d6dca !important;
}

.deadline-2 {
  background-color: #ffcaca !important;
}

.tag-input {
  border: none;
  border-bottom: 1px solid #1890ff;
  padding: 10px 5px 0;
  outline: none;
}
