.badge {
  cursor: pointer;
}

.on-hover-bg:hover {
  background: #eaeaea;
}

label.only_exported {
  width: auto;
}

#template_preview.h-100 > .card-body.small,
#properties.h-100 > .card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
