<% if flash.now[:error]%>
  $('#staging_table .flash').html(`
    <div class="alert alert-danger text-center">
      <%= flash.now[:error].gsub('`', "'") %>
    </div>`
  )
<% else %>
  $("#columns__index").html('<%= j render 'new_form'%>')
<% end %>
