.mt-3
  =datagrid_form_for @exported_story_types_grid, url: exported_story_types_path

.row.mt-3.small
  .col-12
    =datagrid_table(@exported_story_types_grid)

.row.mt-3
  #pagination.col-12
    =paginate @exported_story_types_grid.assets

#editor_answers.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "editor_answers", role: "dialog", tabindex: "-1" }
  .modal-dialog.modal-dialog-centered.modal-xl.modal-dialog-scrollable
    .modal-content
      .modal-header
        %h5.modal-title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
      .modal-footer

#manager_answers.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "manager_answers", role: "dialog", tabindex: "-1" }
  .modal-dialog.modal-dialog-centered.modal-xl.modal-dialog-scrollable
    .modal-content
      .modal-header
        %h5.modal-title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
      .modal-footer
