$('#limpar').empty();
$('#limpar').append( $('<option>Select Kind</option>'));
<% @records.each do |record| %>
  $('#limpar').append($('<option value="<%= record.id %>"><%= record.name %></option>'));
<% end %>