= form_with(url: include_story_levels_path(@story), remote: true) do |form|
  = form.label :level
  = form.collection_select :level_id, Level.all, :id, :name, { prompt: true }, { name: :id }
  = form.submit 'Add'
