=form_with(url: change_multi_task_progress_statuses_path(@multi_task), method: :patch, id: 'task_hours_form') do |form|
  =hidden_field_tag :status, nil, { id: 'status_hours' }
  -team_work = @multi_task.team_work
  -if team_work.nil? && @multi_task.subtasks.count > 0
    =hidden_field_tag 'team_work[confirm]', value: true
  #hours.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "properties", role: "dialog", :tabindex => "-1"}
    .modal-dialog.modal-dialog-centered.modal
      .modal-content
        .modal-body
          .row.small.text-center
            .col-7
              How much time you spend on the task?
            .col-5
              =form.text_field :hours, id: 'hoursInput', required: true, class: 'small', placeholder: 'hours'
          -if @multi_task.parent.nil? && @multi_task.main_assignee.eql?(current_account)
            %hr.mt-3.mb-3/
            #teamWork
              -unless @multi_task.subtasks.empty?
                .card.overflow-auto{ style: 'max-height: 380px;' }
                  .card-header.p-1
                    .justify-content-between.small
                      subtasks
                  .card-body.overflow-auto
                    =render 'multi_tasks/tracking_hours/subtasks_hours', task: @multi_task
              .row.small.mt-2.text-center
                .col-3
                  Team work:
                .col.text-lowercase.small.mt-1
                  -dollars_checked = !team_work.nil? && !team_work.hours
                  =form.radio_button('team_work[type]', :hours, { checked: dollars_checked ? '' : 'checked', onclick: 'changePlaceholder(this);' })
                  =form.label :hours, class: 'mr-3'
                  =form.radio_button('team_work[type]', :dollars, { checked: dollars_checked ? 'checked' : '', onclick: 'changePlaceholder(this);' })
                  =form.label :dollars
                .col-5
                  =form.text_field 'team_work[sum]', required: true, value: team_work.nil? ? '' : sprintf('%g', team_work.sum), class: 'small', placeholder: dollars_checked ? 'dollars' : 'hours'
        #hoursFeedback.text-danger.small.text-center.d-none
          Incorrect data
        .modal-footer.justify-content-center
          .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
            cancel
          =form.submit :send, class: 'btn btn-sm btn-outline-success'
:javascript
  function teamWorkShow(element) {
    let teamWork = document.querySelector('#teamWork');
    if (element.checked) {
      teamWork.classList.remove('nav-link');
      teamWork.classList.remove('disabled');
    } else {
      teamWork.classList.add('nav-link');
      teamWork.classList.add('disabled');
    }
  }
  function changePlaceholder(element) {
    if (element.id === 'team_work[type]_hours'){
      document.getElementById('team_work[sum]').placeholder = 'hours'
    }
    else {
      document.getElementById('team_work[sum]').placeholder = 'dollars'
    }
  }
  document.querySelector('#task_hours_form').addEventListener('submit', onSubmit);
  function onSubmit(ev) {
    let select = document.getElementById('status_id');
    let status = select.options[select.selectedIndex].text;
    document.getElementById('status_hours').value = status
    ev.preventDefault();
    let form = ev.target;
    let hoursInput = form.querySelector('#hoursInput');
    let hoursFeedback = form.querySelector('#hoursFeedback');
    let submitButton = form.querySelector('input[type="submit"]');
    if(!isNaN(hoursInput.value)) {
      form.removeEventListener('submit', onSubmit);
      Rails.fire(form[0], 'submit');
    } else {
      hoursInput.classList.add('border', 'border-danger');
      hoursFeedback.classList.remove('d-none');
      document.querySelector('#hoursInput').addEventListener('input', onchangeHours);
      ev.stopPropagation();
    }
  }
  function onchangeHours() {
      let hoursInput = document.querySelector('#hoursInput');
      let hoursFeedback = document.querySelector('#hoursFeedback');
      hoursInput.classList.remove('border', 'border-danger');
      hoursFeedback.classList.add('d-none');
      hoursInput.removeEventListener('input', onchangeHours);
  }
