=form_with(url: include_story_type_developers_path(story_type), method: :patch, html: { onchange: "Rails.fire(this, 'submit')" }) do |form|
  =form.collection_select :developer_id, @story_type_developers, :id, :name, { prompt: '' }, { name: :id }
