.d-flex
  =form_with(url: story_type_developer_path(@story_type), method: :patch, html: { class: 'pr-3', onchange: "Rails.fire(this, 'submit')" }) do |form|
    =form.collection_select 'developer[id]', @developers, :id, :name, { include_blank: true, selected: @story_type.developer&.id }
  =link_to(icon('fa', 'times'), story_type_developer_path(@story_type), method: :get, remote: true)
