=form_with(model: [@story_type, @story_type.template]) do |form|
  .field.small{ "data-controller" => "summernote" }
    =form.text_area :body, data: { editor: 'summernote' }
  .modal-footer
    =link_to( 'close', '#', class: 'ml-auto btn btn-sm btn-outline-secondary',
              'data-dismiss' => 'modal', data: { confirm: 'All changes shall be lost. Close?'})
    =form.submit 'save changes', class: 'mr-auto btn btn-sm btn-outline-success'

:javascript
  $('#template').on('hidden.bs.modal', function () {
    $('#template .modal-body').empty();
  });

  $('[data-editor="summernote"]').summernote({
    height: 600,
    toolbar: [
        ['style', ['style']],
        ['font', ['clear', 'bold', 'italic', 'underline', 'strikethrough']],
        ['fontname', ['fontname', 'fontsize']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['table', ['table']],
        ['insert', ['link', 'picture', 'video']],
        ['view', ['fullscreen', 'codeview', 'help']],
    ]
  });

  $('#template').modal('show');
