=form_with(url: story_type_template_path, method: :patch) do |form|
  =form.text_area 'template[body]', id: 'storyTypeTemplateBody', value: @story_type.template.body
  =form.submit id: 'hiddenUpdateTemplateButton', class: 'd-none'

:javascript
  $('#template').on('hidden.bs.modal', function () {
    $('#template .modal-body').empty();
  }).modal('show');
