#reviewers_feedback_editor_modal.ml-3
  =form_with(url: story_type_fact_checking_doc_reviewers_feedback_index_path(@story_type, @story_type.fact_checking_doc),
             local: true) do |form|
    .field
      =form.rich_text_area 'reviewers_feedback[body]'
    .mt-3.mb-4
      =form.submit "create feedback", class: 'btn btn-sm btn-outline-dark',
                   onclick: "sessionStorage.removeItem('reviewersFeedback');"
      =form.submit "approve!", class: 'btn btn-sm btn-outline-dark',
                   onclick: "sessionStorage.removeItem('reviewersFeedback');"

  .position-relative
    %hr/
    .label_to_line_modal
      recent feedback

#reviewers_feedback_body_modal
