-if @factoid_type.code.attached? && @factoid_type.staging_table.index.list.present?
  -if @iteration.population.nil?
    =form_with(url: execute_factoid_type_iteration_populations_path(@factoid_type, @iteration)) do |form|
      .row.align-items-center
        .col-sm-8.col-lg-9.pr-1
          =form.text_field 'population[args]', class: 'form-control-sm w-100 h-100', value: @iteration.population_args
        .col-sm-4.col-lg-3.pl-0
          =form.submit 'populate', class: 'btn btn-outline-dark btn-sm w-100 border-dark'
  -else
    population success
