.row.mt-3.small
  .col-lg-6.offset-lg-3.pt-5
    =form_with(model: current_account, url: profile_path, method: :patch, local: true) do |f|
      .form-group.m-0
        .row.align-items-center
          .col-3.pr-0.text-right.font-weight-bold
            EMAIL:
          .col-6
            =f.email_field :email, class: 'form-control form-control-sm', readonly: true, disabled: true
        .m-2
        .row.align-items-center
          .col-3.pr-0.text-right.font-weight-bold
            NAME:
          .col-6
            .d-flex
              =f.text_field :first_name, class: 'form-control form-control-sm mr-2', required: true
              =f.text_field :last_name, class: 'form-control form-control-sm', required: true

      .row
        .col-6.offset-3
          %hr/

      .form-group.m-0
        .row.align-items-center
          .col-3.pr-0.text-right.font-weight-bold
            SLACK ACCOUNT:
          .col-6
            -slack_accounts = SlackAccount.order(:user_name).where(account_id: [nil, current_account.id], deleted: 0)
            =select_tag 'slack_account[id]',
                        options_from_collection_for_select(slack_accounts, :id, :user_name, current_account&.slack&.id),
                        { include_blank: '-- not set --', class: 'form-control form-control-sm' }
        .m-2
        .row.align-items-center
          .col-3.pr-0.text-right.font-weight-bold
            FCD SLACK CHANNEL:
          .col-6
            -fcd_channels = FactCheckingChannel.order(:name)
            =select_tag 'fcd_slack_channel[id]',
                        options_from_collection_for_select(fcd_channels, :id, :name, current_account&.fact_checking_channel&.id),
                        { include_blank: '-- not set --', class: 'form-control form-control-sm' }

        :javascript
          (() => {
            ['#slack_account_id', '#fcd_slack_channel_id'].forEach((id) => {
                let select = $(id).select2({});
                select.data('select2').$container.addClass('w-100');
                select.data('select2').$dropdown.addClass('small');
                $('.select2-selection.select2-selection--single').css('border', '1px solid #ced4da');
                select.on('select2:open', () => {
                  $('.select2-dropdown').css('border', '1px solid #ced4da');
                });
            });
          })();
      .row
        .col-6.offset-3
          %hr/

      .form-group.m-0
        .row.align-items-center
          .col-3.pr-0.text-right.font-weight-bold
            PASSWORD:
          .col-6
            =password_field_tag 'secure[password]', nil, autocomplete: 'new-password',
                                class: 'form-control form-control-sm', minlength: 6, maxlength: 20
        .m-2
        .row.align-items-center
          .col-3.pr-0.text-right.font-weight-bold
            PASSWORD CONFIRMATION:
          .col-6
            =password_field_tag 'secure[password_confirmation]', nil, autocomplete: 'new-password',
                                class: 'form-control form-control-sm', minlength: 6, maxlength: 20
        .row.m-0
          .col-6.offset-3
            %small.text-secondary
              *** leave blank if you don't want to change your password
              %br/
              *** min 6 character - max 20 characters

      .row
        .col-6.offset-3
          %hr/

      .form-group.mt-2
        .row
          .col-6.offset-3
            =f.submit 'UPDATE', class: 'btn btn-sm btn-outline-dark w-100'
