-if purge_export_availability
  =link_to('remove exported stories', '#', 'aria-controls' => 'remove_exported_stories_form',
                   'aria-expanded' => false, data: { toggle: "collapse", target: "#remove_exported_stories_form" },
                   type: "button", class: 'btn btn-sm btn-outline-danger')