.row
  .col-5.offset-1.mt-3
    #remove_exported_stories_form.collapse
      =form_with(url: remove_exported_stories_story_type_iteration_exports_path(@story_type, @iteration), method: :delete) do |f|
        *** Why do you want to remove stories from production?
        =f.text_area 'remove_exported_stories[reasons]', class: 'form-control form-control-sm', rows: 3,
                        value: (@removal&.status.eql?(false) ? @removal.reasons : '' ), required: true
        =f.submit 'remove stories from production', class: 'mt-1 btn btn-sm btn-outline-dark w-100'
