-checklists = @task.checklists
#checklists_confirms.modal{"aria-hidden" => "true", "aria-labelledby" => "properties", role: "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered.modal-lg
    .modal-content
      .modal-body
        #confirms.small
          -checklists.each do |checklist|
            %hr.mt-2.mb-2
            .row.align-items-center
              .ml-4.small.text-right
                %i.fa.fa-circle
              .col-10.text-left
                =checklist.description
              .col-1.d-flex.justify-content-end.text-right
                =render 'task_checklists/form', checklist: checklist
          %hr.mt-2.mb-2
      .row.justify-content-center
        .btn.btn-sm.btn-outline-secondary.mr-1{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
          cancel
        #checklistConfirmSubmit.btn.btn-sm.btn-outline-success.ml-1{ onclick: 'confirmsSubmit();' }
          send
      .row.justify-content-center.mt-2
        #confirmsFeedback.text-danger.text-center.small.mt-1.mb-1.d-none
          You need to confirm all checklists!

:javascript
  function confirmsSubmit() {
    let status_form = document.getElementById('status_form');
    let confirmsCount = document.querySelectorAll("input[id='confirm']:not(:checked)").length;
    let confirmsFeedback = document.querySelector('#confirmsFeedback');
    if (confirmsCount === 0) {
      $('#checklists_confirms').modal('hide');
      $('#hours').modal('show');
    } else {
      confirmsFeedback.classList.remove('d-none');
    }
  }
