=form_with(model: [@story_type, @story_type.build_staging_table], url: attach_story_type_staging_table_path(@story_type)) do |form|
  =form.text_field :name, placeholder: 'existing staging table name'
  =form.submit :attach
