%p
  Table Name:
  =@story_type.staging_table.name

-@story_type.staging_table.columns_list.each do |column|
  %p
    ="#{column[0]} : #{column[1]}"
%p
  =link_to('edit',
           edit_story_type_staging_table_path(story_type_id: @story_type.id, id: @story_type.staging_table.id),
           class: 'btn btn-sm btn-success', remote: true)
