<script>
  var editable_block = $('#queries-editable');

  $('#add-column').click(function () {
      let count = editable_block.children().length + 1;
      let id =  hex(6).toLowerCase();

      $(editable_block).append(
          `<div id="column-${count}">
              <label for="staging_table_column_name_${id}">${count}</label>
              <input type="text" name="staging_table[column_name_${id}]" id="staging_table_column_name_${id}" required>
              <label for="staging_table_column_type_${id}">Type</label>
              <select name="staging_table[column_type_${id}]" id="staging_table_column_type_${id}"><option value="TINYINT">TINYINT</option>
                  <option value="INT">INT</option>
                  <option value="BIGINT">BIGINT</option>
                  <option value="DECIMAL">DECIMAL</option>
                  <option value="FLOAT">FLOAT</option>
                  <option value="VARCHAR(255)">VARCHAR(255)</option>
                  <option value="TEXT">TEXT</option>
                  <option value="LONGTEXT">LONGTEXT</option>
                  <option value="TIME">TIME</option>
                  <option value="DATE">DATE</option>
                  <option value="YEAR">YEAR</option>
                  <option value="DATETIME">DATETIME</option>
                  <option value="JSON">JSON</option>
              </select>
              <div id="rm-column-${count}" class="remove-column d-inline-block" onclick="removeColumnAndSaveEnum(this)">-</div>
          </div>`
      );
  });

  $('div[id^="rm-column-"]').each(function() {
      $(this).click('removeColumnAndSaveEnum(this)')
  });

  function removeColumnAndSaveEnum(elem) {
      $(elem.parentNode).remove();

      editable_block.children().each(function(index) {
          index++;
          $(this).attr({id: `column-${index}`});
          $(this).find('label[for*="_column_name_"]').text('index');
          $(this).find('div[id^="rm-column-"]').attr({id: `rm-column-${index}`})
      });
  }

  function hex(n){
      n = n || 16;
      let result = '';
      while (n--){
          result += Math.floor(Math.random()*16).toString(16).toUpperCase();
      }
      return result;
  }
</script>
