var st_table_block = $('#staging-table')
- if flash[:error]
  st_table_block.prepend(
  `
  .alert.alert-danger>
    = flash[:error].gsub('`', "'")
  `
  )
- else
  st_table_block.empty()
  \.html('#{j render 'staging_tables/exist'}')
