<% if flash.now[:error] %>
  $('#staging_table .flash').html(`
      <div class="alert alert-danger text-center">
        <%= flash.now[:error].gsub('`', "'") %>
      </div>`
  );
<% else %>
  $('#staging_table .flash').empty();
  $('#staging_table .card-body').html('<%= j render 'staging_tables/form'  %>');
  $('#samples .card-body').empty();
  $('#scheduler .card-body').empty();
  $('#export .card-body').empty();
<% end %>
