var st_table_block = $('#staging_table .card-body')
<% if flash[:error]%>
  st_table_block.prepend(`
    <div class="alert alert-danger">
      <%= flash[:error].gsub('`', "'") %>
    </div>`)
<% else %>
  st_table_block.html('<%=j render 'staging_tables/staging_table'%>')
  $('#samples .card-body').html('<%=j render 'export_configurations/export_configs'%> <%= j render 'samples/samples' %>')
<% end %>
