<% if flash.now[:error]%>
  $('#staging_table .card-body .flash').html(`
    <div class="alert alert-danger text-center">
      <%= flash.now[:error].gsub('`', "'") %>
    </div>`)
<% else %>
  $('#staging_table .card-body').html('<%= j render 'staging_tables/staging_table'%>')
  $('#export_configs .card-body').html('<%= j render 'export_configurations/export_configurations' %>')
  $('#samples .card-body').html('<%= j render 'samples/samples' %>')
<% end %>
