-status = @story_type.status

.current_progress_status
  -if %w[blocked archived].include?(status.name)
    .small.d-inline-block
      =@story_type.status_comment&.body

  =link_to(status.name, '#', class: "badge badge-pill badge-#{status_color(status.name)}")
  :javascript
    document.querySelector('.current_progress_status a').addEventListener('click', function (evt) {
      evt.preventDefault();
      evt.target.parentNode.classList.add('d-none');
      document.getElementsByClassName('change_progress_status_form')[0].classList.remove('d-none');
      return false;
    })

.change_progress_status_form.d-none
  =form_with(url: change_story_type_progress_statuses_path(@story_type, @iteration),
             html: { id: 'progress_status', class: 'd-inline' }, method: :patch) do |form|
    -statuses = Status.hle_statuses(archived: current_account.manager? || current_account.content_manager?)
    =form.collection_select(:status_id, statuses, :id, :name, { prompt: '' }, selected: status.id)
