#population_form
  =form_with(url: story_type_populations_path(@story_type)) do |form|
    .row
      .col-sm-8.col-lg-9.pr-1
        =form.text_field 'population[args]', class: 'form-control w-100 h-100',
                         value: @story_type.iteration.population_args
      .col-sm-4.col-lg-3.pl-0
        =form.submit 'Populate', class: 'btn btn-outline-dark btn-sm w-100 border-dark',
                     disabled: ([true, false].include?(@story_type.iteration.population) ? true : false)

:javascript
  $('#population_form').on('submit', function() {
    $(this).hide();

    blockManipBtn();

    $('#exec_population').html(`
      <div id="population_in_progress" class="text-danger">
        population in progress...
      </div>`);
  });
