=form_with(url: execute_story_type_population_path(@story_type), id: 'population_form') do |form|
  .row
    .col-sm-8.col-lg-9.pr-1
      =form.text_field 'population[args]', class: 'w-100 h-100'
    .col-sm-4.col-lg-3.pl-0
      =form.submit 'Populate', class: 'btn btn-outline-dark btn-sm w-100 border-dark',
                   disabled: ([true, false].include?(@story_type.iteration.population) ? true : false)

:javascript
  $('#population_form').on('submit', function(event) {
    $(this).remove();
  });
