=form_with(url: story_type_iteration_populations_path(@story_type, @iteration)) do |form|
  .row
    .col-sm-8.col-lg-9.pr-1
      =form.text_field 'population[args]', class: 'form-control w-100 h-100',
                       value: @iteration.population_args
    .col-sm-4.col-lg-3.pl-0
      =form.submit 'Populate', class: 'btn btn-outline-dark btn-sm w-100 border-dark',
                   disabled: ([true, false].include?(@iteration.population) ? true : false)
