<% if flash.now[:error]%>
  $('#staging_table .flash').html(`
    <div class="alert alert-danger text-center">
      <%= flash.now[:error].gsub('`', "'") %>
    </div>`
  )
<% else %>
  $('#staging_table .flash').empty();
  $('#exec_population').html('<%= j render 'story_types/populations/form' %>')
<% end %>
