<div class="pl-3">
  <% if @data_set.table_locations.present? %>
    <%=link_to('[ show data views ]', '#', class: 'p-0 btn btn-sm btn-link table-locations-control', "data-target" => "#dataSamplesModal", "data-toggle" => "modal") %>
  <% end %>

  <% @data_set.table_locations.each do |tl| %>
    <div class='text-truncate'>
      <%= tl.full_name %>
      <% unless tl.sql_table.presence %>
        <span class="text-danger font-weight-bold"> - renamed or deleted!</span>
      <% end %>
    </div>
  <% end %>
</div>
