-task.subtasks.each do |subtask|
  .row.font-weight-bold.small
    =parent_title(subtask.title)
  .row.small.col-10
    -subtask.assignments.each do |assignment|
      .col-6
        =assignment.name
      .col-6
        =assignment.hours
  %hr