.small
  -feedback.each do |fb|
    .row
      .col-1{class: "confirm_#{fb.id} text-center", onchange: 'confirmFeedback(this.className);'}
        -if fb.confirmed
          =icon('fas','check')
        -else
          =check_box_tag :feedback_confirm, fb.confirmed
      -fb.feedback.output.each do |rule, output|
        .col-2.p-0
          =rule
        .col-8
          =output
    .row
      .col-6.offset-3
        %hr

:javascript
  function confirmFeedback(elem) {
    let storyTypeId = $('#story_type').attr('story_type_id');
    let feedback = document.getElementsByClassName(elem)[0];
    let feedbackConfirmId = elem.split(' ').find((className) => className.match(/confirm/) ).split('_')[1]


    let changeFeedbackStatus = (elem) => {
      elem.innerHTML = `<i class="fas fa-check"></i>`;
    }

    $.ajax({
      url: `feedback_confirmations/${feedbackConfirmId}/confirm`,
      success: changeFeedbackStatus(feedback),
      method: 'patch'
    })
  }
