%table.table.table-bordered.table-sm
  %tbody
    -task_assignments.each do |task_assignment|
      %tr
        %td
          =task_assignment.name
        %td
          -if task_assignment.confirmed
            =time_confirm_to_words(task_assignment.time_confirm)
          -else
            %span ----
