%hr/
.row
  .col-10.offset-1
    =form_with(url: story_type_fact_checking_doc_editor_feedback_path(@story_type, @story_type.fact_checking_doc, @editor_feedback), method: :put, local: true) do |form|
      =form.submit "save and notify developer about new/updated editor's feedback",
            class: 'mb-2 btn btn-sm btn-outline-dark', onclick: 'stopEditorsFeedbackSaver();'
      .field{ id: 'editor_feedback_editable', "data-controller" => "summernote" }
        =form.text_area 'editor_feedback[body]', data: { editor: 'summernote' }
