!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LokiC
    =action_cable_meta_tag
    =csrf_meta_tags
    =csp_meta_tag
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      =link_to('LokiC', root_path, class: 'navbar-brand')
      %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false",
                             "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown",
                             "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        %ul.navbar-nav.w-100
          -if current_account
            -if !current_account.type.eql?('developer')
              %li.nav-item.active
                =link_to('Data Sets', data_sets_path, class: 'nav-link')
            %li.nav-item.nav-link.disabled.ml-auto
              =current_account.name
            %li.nav-item
              =link_to('Edit Profile', edit_account_registration_path, class: 'nav-link')
            %li.nav-item
              =link_to('Log Out', destroy_account_session_path, class: 'nav-link', method: :delete)

    - if notice
      %p.alert.alert-success.text-center
        =notice
    - if alert
      %p.alert.alert-danger.text-center
        =alert
    .container-xl
      = yield
