!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title #{tab_title}
    =action_cable_meta_tag
    =csrf_meta_tags
    =csp_meta_tag
    =stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload'
    =javascript_pack_tag  'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      =link_to('LokiC', root_path, class: 'navbar-brand')
      %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false",
                             "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown",
                             "data-toggle" => "collapse", type: "button"}
        %span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        %ul.navbar-nav.w-100
          -if current_account
            -if current_account.types.include?('manager')
              %li.nav-item.active
                =link_to('admin panel', admin_root_path, class: 'nav-link')
            -if !current_account.types.eql?(['developer'])
              %li.nav-item.active
                =link_to('data sets', data_sets_path, class: 'nav-link')

            -if current_account.types.include?('manager')
              %li.nav-item.active.dropdown
                #navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", role: "button"}
                  reports
                .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                  .dropdown-item
                    =link_to('exported stories', exported_story_types_path, class: 'nav-link')
                  .dropdown-item
                    =link_to('developers production', exported_counts_developers_productions_path, class: 'nav-link')
                  .dropdown-item
                    =link_to('assembled 2020', assembleds_tracking_hours_path(week: current_week), class: 'nav-link')
            %li.nav-item.active
              =link_to('tracking hours', tracking_hours_path(week: current_week, developer: current_account), class: 'nav-link')
            %li.nav-item.dropdown.ml-auto
              #navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", role: "button"}
                =current_account.name
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                .dropdown-item
                  =link_to('edit profile', edit_account_registration_path, class: 'nav-link')
                .dropdown-item
                  =link_to('log out', destroy_account_session_path, class: 'nav-link', method: :delete)

    -if notice
      %p.alert.alert-success.text-center
        =notice
    -if alert
      %p.alert.alert-danger.text-center
        =alert
    %div{ class: controller_name.in?(%w(samples data_sets story_types)) && action_name.in?(%w(index distributed)) ? "container-fluid" : "container-xl" }
      = yield
