%div{ id: "iteration_exported_factoids", iteration_exported_factoids_id: @iteration.id, article_type_id: @article_type.id }
#cover-spin
-if @iteration.export
  #info.small.pt-3.pb-3
    .row
      .col-1.text-right
        developer:
      .col-11
        #{@article_type.developer.name}
    .row
      .col-1.text-right
        iteration:
      .col-11
        #{@iteration.name}
    .row
      .col
        =button_tag 'Select all', id: 'select_all_button'
        =button_tag 'Delete', id: 'delete_selected'
        =hidden_field_tag 'trigger', false

  %hr.mt-1.mb-3/

  #exported_factoids
    =render 'article_types/exports/factoids_table'

  %hr.mb-3/
  .small
    =paginate @articles, window: 3
  %hr/
-else
  %hr/
  .row
    .col-12.text-center.alert.alert-danger
      Export process not ended or developer #{"#{@article_type.developer.name} "}is making some changes for this iteration
