=form_with(url: story_type_fact_checking_doc_editors_feedback_path(@story_type, @story_type.fact_checking_doc, @editors_feedback),
           method: :put, local: true, html: { class: 'ml-3' }) do |form|
  %small.d-block.mb-2.mt-2
    *** Feedback will be automatically saved every 30 seconds.
  .field{ id: 'editors_feedback_editable', "data-controller" => "summernote" }
    =form.text_area 'editors_feedback[body]', data: { editor: 'summernote' }
  =form.submit "save and notify developer about a new/updated editor feedback",
        class: 'mt-3 btn btn-sm btn-outline-dark', onclick: 'stopEditorsFeedbackSaver();'
